@use './variables' as *;

@mixin d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

@mixin d-flex-row {
  @include d-flex();
  @include align-items-center();
  flex-direction: row;
}

@mixin d-flex-column {
  @include d-flex();
  @include align-items-center();
  flex-direction: column;
}

@mixin align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin flex-center {
  @include d-flex;
  @include align-items-center;
  justify-content: center;
}

@mixin font-12 {
  font-family: $base-font !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

@mixin font-13 {
  font-family: $base-font !important;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

@mixin font-14 {
  font-family: $base-font !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@mixin font-15 {
  font-family: $base-font !important;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

@mixin font-16 {
  font-family: $base-font !important;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}

@mixin font-17 {
  font-family: $base-font !important;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@mixin font-18 {
  font-family: $base-font !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.14px;
}

@mixin font-20 {
  font-family: $base-font !important;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

@mixin font-light {
  // using important only because
  // otherwise it will get replaced by Lato due to styles.scss line 12
  font-family: $base-font !important;
  font-weight: 300;
}

@mixin editor-font {
  font-family: $code-block-font !important;
  font-weight: 400;
}

@mixin font-default {
  font-family: $base-font !important;
  font-weight: normal;
}

@mixin font-regular {
  font-family: $base-font !important;
  font-weight: 400;
}

@mixin font-medium {
  font-family: $base-font !important;
  font-weight: 500;
}

@mixin font-semi-bold {
  font-family: $base-font !important;
  font-weight: 600;
}

@mixin font-bold {
  font-family: $base-font !important;
  font-weight: 700;
}

@mixin heading1 {
  @include font-light;
  font-size: 96px;
  letter-spacing: -1.5%;
}

@mixin heading2 {
  @include font-light;
  font-size: 60px;
  letter-spacing: -0.5%;
}

@mixin heading3 {
  @include font-regular;
  font-size: 48px;
  letter-spacing: 0;
}

@mixin heading4 {
  @include font-regular;
  font-size: 34px;
  line-height: normal;
  letter-spacing: 0.085px;
}

@mixin heading5 {
  @include font-regular;
  font-size: 24px;
  letter-spacing: 0 !important;
}

@mixin heading6 {
  @include font-medium;
  font-size: 20px;
  letter-spacing: 0.15% !important;
}

@mixin main-title {
  @include font-regular;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 23px !important;
  font-style: normal;
}

@mixin title {
  @include font-regular;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 23px !important;
  font-style: normal;
}

@mixin sub-title-regular {
  @include font-regular;
  font-size: 18px;
  line-height: normal;
  letter-spacing: 0;
}

@mixin headline {
  @include font-semi-bold;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px !important;
}

@mixin body-regular {
  @include font-default;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
}

@mixin editor-body {
  @include font-default;
  font-size: 12px;
  line-height: 150%;
}

@mixin editor-output {
  @include font-default;
  font-size: 12px;
}

@mixin editor-button {
  @include font-default;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.005em;
}

@mixin tooltip-body {
  @include font-regular;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
}

@mixin footnote-regular {
  @include font-regular;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 23px !important;
}

@mixin footnote-medium {
  @include font-medium;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin subhead {
  @include font-medium;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin subhead-regular {
  @include font-regular();
  font-size: 16px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin subhead-large {
  @include font-medium;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px !important;
}

@mixin agent-text-medium {
  @include font-medium;
  font-size: 13px;
  font-style: normal;
  line-height: 18px;
}

@mixin callout-semi-bold {
  @include font-medium;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

@mixin callout-sm-regular {
  @include font-regular();
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
}

@mixin caption-semi-bold {
  @include font-semi-bold;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-regular {
  @include font-regular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

@mixin caption-sm {
  @include font-bold;
  font-size: 11px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-sm-regular {
  @include font-regular();
  font-size: 11px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-sm-semi-bold {
  @include font-semi-bold();
  font-size: 11px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-semi-bold {
  @include font-semi-bold();
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-link-sm {
  @include font-semi-bold;
  font-size: 10px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-link-sm-regular {
  @include font-regular();
  font-size: 10px;
  letter-spacing: -0.01em;
  line-height: 16px;
}

@mixin tooltip {
  @include font-regular;
  letter-spacing: 0.01em;
  font-size: 13px;
  line-height: 23px;
}

@mixin tooltip-normal {
  @include font-regular;
  letter-spacing: 0;
  font-size: 13px;
  line-height: auto;
}

@mixin base-input {
  @include flex-center();
  @include body-regular();
  height: 40px;
  padding: 0 10px;
  background-color: $primary-bg-color;
  border: none;
  border-radius: 4px;
  color: $primary-bg-color-variant-6;
  outline: none;

  &::placeholder {
    color: $primary-bg-color-variant-4;
  }
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin button-style($bg-color, $hover-bg-color, $text-color) {
  @include flex-center();
  padding-block: 0;
  padding-inline: 0;
  padding: 5px 8px;
  border-radius: 4px;
  color: $text-color;
  background: $bg-color;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: $hover-bg-color;
  }

  &:disabled {
    background: $primary-bg-color-variant-3;
    color: $primary-bg-color;
  }

  &:active {
    background: $hover-bg-color;
    box-shadow: $elevation-1dp;
  }
}
