<div class="login-container">
  <div class="left-side"></div>
  <div class="right-side">
    <div class="email-model">
      <div class="bg"></div>
      <ng-container *ngIf="!requestingAccess; else accessSent">
        <h2>Log in </h2>
        <h3>Explore the Synopsis for Events Admin Dashboard</h3>
        <h4>Email Address</h4>
        <form [formGroup]="emailForm" (ngSubmit)="handleSignUp()">
          <div class="input-wrapper">
            <input
              type="email"
              placeholder="Enter your Email Address"
              formControlName="email"
              (input)="handleEmailChange()"
              [class.valid]="isEmailValid"
              required
            />
            <div *ngIf="errorMessage && errorMessage.includes('don\'t have your email address')">
              {{ errorMessage }}
            </div>
          </div>
          <p *ngIf="errorMessage && !errorMessage.includes('don\'t have your email address')" class="error-message">
            {{ errorMessage }}
          </p>
          <button *ngIf="!errorMessage" type="submit" [disabled]="!isEmailValid || emailForm.invalid">Proceed</button>
        </form>
      </ng-container>
      <ng-template #accessSent>
        <h5>Your request to access the Rozie Synopsis has been sent.</h5>
        <h6>You will receive an email if and when your request is approved.</h6>
      </ng-template>
      <button *ngIf="!requestingAccess && errorMessage" (click)="handleRequestAccess()">
        Request Access
      </button>
      <p class="sub">
        Disclaimer: By proceeding with login, you agree to receive a one-time password (OTP) via SMS or email to
        authenticate your identity. Your phone number or email address will only be used for the purpose of sending
        this OTP and will not be shared with any third parties. Please ensure that you have access to the provided
        phone number or email ID to complete the login process. If you encounter any issues, please contact our
        support team for assistance.
      </p>
    </div>
    <div class="login-footer">
      <div class="rights">© 2024 RozieAI.</div>
      <div class="Privacy">
        <a href="../../../assets/docs/RozieAI+Privacy+Policy_web_version_v1.pdf" target="_blank">
          Privacy Policy
        </a>
      </div>
      <div class="social-media">
        <a href="https://www.facebook.com/rozieai/" target="_blank" rel="noreferrer">
          <img src="../../../assets/login/facebook-round.svg" alt="Facebook">
        </a>
        <a href="https://twitter.com/RozieAi" target="_blank" rel="noreferrer">
          <img src="../../../assets/login/twitter.svg" alt="Twitter">
        </a>
        <a href="https://www.linkedin.com/company/rozieai/" target="_blank" rel="noreferrer">
          <img src="../../../assets/login/linkedin.svg" alt="LinkedIn">
        </a>
      </div>
    </div>
  </div>
</div>
