<div class="login-container">
  <div class="left-side">
    <app-footer></app-footer>
  </div>

  <div class="right-side">
    <div class="email-model">
      <div class="bg"></div>
      @if (!requestingAccess) {
        <h2>Log in</h2>
        <h3>Explore the Synopsis for Events Admin Dashboard</h3>
        <h4>Email Address</h4>
        <form [formGroup]="emailForm" (ngSubmit)="handleSignUp()">
          <div class="input-wrapper">
            <input
              [class.valid]="isEmailValid"
              (input)="handleEmailChange()"
              formControlName="email"
              placeholder="Enter Your Email Address"
              required
              type="email" />
            @if (
              errorMessage &&
              errorMessage.includes("don't have your email address")
            ) {
              <div>
                {{ errorMessage }}
              </div>
            }
          </div>
          @if (
            errorMessage &&
            !errorMessage.includes("don't have your email address")
          ) {
            <p class="error-message">
              This email is not enabled. Please connect with us at
              <a class="email-link" href="mailto:hello@rozie.ai">
                hello&#64;rozie.ai
              </a>
              to get the access.
            </p>
          }
          @if (!errorMessage) {
            <button
              [disabled]="
                processedClicked || !isEmailValid || emailForm.invalid
              "
              type="submit">
              Proceed
            </button>
          }
        </form>
      } @else {
        <h5>Your request to access the Rozie Synopsis has been sent.</h5>
        <h6>You will receive an email if and when your request is approved.</h6>
      }
      @if (!requestingAccess && errorMessage) {
        <button (click)="handleRequestAccess()">Request Access</button>
      }

      <p class="sub">
        Disclaimer: By proceeding with login, you agree to receive a one-time
        password (OTP) via SMS or email to authenticate your identity. Your
        phone number or email address will only be used for the purpose of
        sending this OTP and will not be shared with any third parties. Please
        ensure that you have access to the provided phone number or email ID to
        complete the login process. If you encounter any issues, please contact
        our support team for assistance.
      </p>
    </div>
    <div class="footer-wrapper">
      <app-footer-mobile></app-footer-mobile>
    </div>
  </div>
</div>
