body,
html {
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.left-side {
  position: relative;
  width: 45%;
  background-image: url('../../../assets/login/Frame.png');
  background-position-y: center;
  background-size: cover !important;
  box-sizing: border-box;
}

.left-side::before {
  content: '';
  position: absolute;
  top: 25%;
  left: 15%;
  width: 55%;
  height: 40%;
  background-image: url('../../../assets/login/login_card2.svg');
  background-size: 100% 100%;
  border-radius: 0.7rem;
  z-index: 1;
}

.left-side::after {
  content: '';
  position: absolute;
  top: 40%;
  left: 25%;
  width: 55%;
  height: 40%;
  background-image: url('../../../assets/login/login_card1.svg');
  background-size: 100% 100%;
  border-radius: 0.7rem;
  z-index: 2;
}

.right-side {
  width: 65%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.email-model {
  text-align: left;
  margin-top: 10rem;
  margin-bottom: 11rem;
  font-family: Lexend;
  margin-left: 3rem;
}

.email-model h2 {
  color: var(--background-variant-9000000, #000);
  font-family: Lexend;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.085px;
  margin-top: 1.5rem;
  margin-bottom: 10px;
  width: 100%;
}

.email-model h3 {
  color: var(--background-variant-6475258, #475258);
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.6rem;
  margin-bottom: 1rem;
}

.email-model h4 {
  color: var(--background-variant-4-adbdcc, #adbdcc);
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.1rem;
}

.email-model h5 {
  font-size: 1.8rem;
  font-weight: 350;
  margin-top: 1.5rem;
  width: 70%;
}

.email-model h6 {
  font-size: 0.8rem;
  font-weight: 350;
  width: 70%;
}

.email-model p {
  width: 95%;
}

.email-model input {
  width: 40%;
  padding: 0;
  border: none;
  border-bottom: 1px solid #7478c2;
  margin-bottom: 10px;
  font-size: 1rem;
  outline: none;
  font-family: Lexend;
}

.email-model input.valid {
  background-image: url('../../../assets/login/status-icon.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: 15px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper input {
  padding-right: 20px;
}

.email-model button {
  border: none;
  color: #fff;
  height: 1.8rem;
  width: auto;
  padding: 0.5rem;
  border-radius: 0.4rem;
  margin-top: 2rem;
  font-size: 0.8rem;
  background: #534ad8;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Lexend;
}

.email-model button:disabled {
  background-color: rgb(197 192 192);
}

.error-message {
  color: red;
}

.email-link {
  color: blue;
  text-decoration: underline;
}

.bg {
  background-image: url('../../../assets/login/rozie-logo.svg');
  width: 12rem;
  height: 2.3rem;
  margin-top: 9rem;
  margin-bottom: 1rem;
  background-size: cover !important;
}

.sub {
  color: var(--background-variant-4-adbdcc, #adbdcc);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.1px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 14rem;
  font-family: Lexend;
}

@media (width <= 768px) {
  .left-side::after {
    display: none;
  }

  .login-container {
    flex-direction: column;
    width: 100%;
  }

  .left-side {
    height: 46%;
    width: 100%;
  }

  .left-side::before {
    top: 53%;
    left: 43%;
    transform: translate(-50%, -50%);
    margin-left: 1rem;
    height: 20rem;
    width: 19rem;
  }

  .left-side::after {
    content: none;
  }

  .right-side {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex: 1;
  }

  .email-model {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 80%;
  }

  .email-model input {
    width: 75%;
  }

  .input-wrapper .error-image {
    margin-right: 4.8rem;
  }

  .email-model h2 {
    font-size: 1.5rem;
    width: 100%;
  }

  .email-model h3 {
    font-size: 0.8rem;
  }

  .email-model h4 {
    font-size: 12px;
  }

  .email-model h5 {
    font-size: 1.6rem;
    font-weight: 350;
    width: 75%;
  }

  .email-model h6 {
    margin-bottom: 10rem;
    font-size: 0.8rem;
    font-weight: 350;
  }

  .email-model p {
    font-size: 0.8rem;
    width: 90%;
  }

  .bg {
    margin-right: 15rem;
    margin-bottom: auto;
    margin-top: 0;

    /* height: 2.5rem; */
  }

  .sub {
    display: none;
  }
}

@media (width >= 769px) and (width <= 1024px) {
  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;
  }

  .left-side::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 25%;
    width: 55%;
    height: 40%;
    background-image: url('../../../assets/login/login_card1.svg');
    background-size: 100% 100%;
    border-radius: 0.7rem;
    z-index: 1;
  }

  .left-side {
    position: relative;
    width: 50%;
    background-image: url('../../../assets/login/Frame.png');
    background-position-y: center;
    background-size: cover !important;
    box-sizing: border-box;
  }

  .left-side::after {
    display: none;
  }
}
