@use 'mixins' as m;
@use 'variables' as v;
// @use '../../styles/material/mat-tooltip' as *;

$sidebar-total-vertical-padding: 26px;

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.sidebar-container {
  height: calc(100vh - v.$top-bar-height - $sidebar-total-vertical-padding);
  background-color: v.$primary-bg-color;
  padding: 10px 0 16px 0;
  border-left: 1px solid v.$secondary-bg-color;
  @include m.d-flex-column-align-center;
  flex: 1;
  transition: width 0.3s ease;
  overflow: hidden;
  width: calc(v.$right-sidebar-collapsed-width - 1px);
  max-width: 58px;

  &.hidden {
    width: 0;
  }
}

.detail-container {
  height: calc(100vh - v.$top-bar-height);
  border-left: 1px solid v.$secondary-bg-color;
  background-color: v.$primary-bg-color;
  @include m.d-flex;
  opacity: 1;

  &.hidden {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }

  &.expanded {
    @include m.d-flex-column-align-center;
    width: calc(
      v.$right-sidebar-expanded-width - v.$right-sidebar-collapsed-width - 1px
    );
    max-width: 356px;
  }

  &.collapsed {
    width: 0;
    overflow: hidden;
    opacity: 0;
  }
}

.detail-header {
  height: 55px;
  @include m.d-flex-row-align-center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid v.$primary-bg-color-variant-2;
  width: calc(100% - 40px);

  .detail-header-title {
    @include m.body-regular;
    color: v.$primary-bg-color-variant-6;
  }

  .collapse-button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    @include m.flex-center;
    border: 1px solid v.$primary-bg-color-variant-2;
    cursor: pointer;
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;

    > mat-icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
      color: v.$primary-bg-color-variant-6;
      @include m.flex-center;
    }
  }
}

.icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  @include m.flex-center;
}

.control-quick-action-button {
  border: none;
  width: 36px;
  height: 32px;
  @include m.flex-center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  padding-block: 0;
  padding-inline: 0;
  margin-bottom: 20px;
  color: v.$primary-bg-color-variant-5;
  fill: v.$primary-bg-color-variant-5;

  &.selected {
    background-color: v.$primary-color-variant-2;
    color: v.$primary-bg-color;
    fill: v.$primary-bg-color;
  }
}

.content {
  width: 100%;
  height: calc(100% - 55px);
}

.session-details-container {
  @include m.d-flex-column-align-center;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 36px);
  align-items: flex-start;
  padding: 18px 20px;
  overflow-y: scroll;
  scrollbar-gutter: stable;

  .transcript {
    @include m.caption-regular;
    color: v.$primary-bg-color-variant-6;
  }

  .form-row {
    @include m.d-flex-column-align-center;
    align-items: flex-start;
    margin-bottom: 12px;

    .label {
      @include m.body-regular;
      color: v.$primary-bg-color-variant-5;
    }

    .value {
      margin-top: 4px;
      @include m.body-regular;
      color: v.$primary-bg-color-variant-6;
    }
  }
}

.card-container {
  @include m.d-flex-column-align-center;
  width: calc(100% - 36px);
  height: auto;
  border: 1px solid v.$primary-bg-color-variant-2;
  border-radius: 16px;
  padding: 16px;
  align-items: flex-start;

  &:not(:last-of-type) {
    margin-bottom: 18px;
  }

  .title {
    @include m.caption-semi-bold;
    color: v.$primary-bg-color-variant-6;
    margin-bottom: 12px;
  }

  .separator {
    height: 1px;
    width: 100%;
    margin-top: 12px;
    background-color: v.$primary-bg-color-variant-2;
  }

  .speakers-list {
    @include m.d-flex-row-align-center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    max-height: 48px;
    overflow: hidden;
    align-items: flex-start;
    transition: max-height 0.3s ease;

    &.expanded {
      max-height: 1000px;
    }

    > mat-icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      color: v.$primary-bg-color-variant-4;
    }

    .speaker-info {
      @include m.d-flex-column-align-center;
      margin-right: 18px;
      align-items: flex-start;

      .speaker {
        @include m.branding;
        color: v.$primary-bg-color-variant-8;
        @include m.ellipsis;
        line-height: 16px;

        > span {
          color: v.$primary-bg-color-variant-5;
        }
      }
    }
  }

  .card-footer {
    margin-top: 8px;
    @include m.d-flex-row-align-center;
    justify-content: space-between;
    width: 100%;

    .track {
      @include m.d-flex-row-align-center;
      > mat-icon {
        fill: v.$primary-bg-color-variant-6;
        width: 12px;
        height: 12px;
        font-size: 12px;
        margin-right: 8px;
      }

      .track-name {
        @include m.font-regular();
        font-size: 10px;
        letter-spacing: -1%;
        line-height: 16px;
        color: v.$primary-bg-color-variant-6;
      }
    }

    .indicator {
      height: 24px;
      @include m.d-flex-row-align-center;
      align-items: center;
      padding: 0 4px;
      background-color: v.$secondary-color-variant-9;
      border-radius: 8px;
      width: 69px;
      justify-content: center;

      .indicator-icon {
        width: 12px;
        height: 12px;
        @include m.flex-center;
        color: v.$primary-bg-color;
        border-radius: 100%;
        margin-right: 5px;
      }

      .indicator-label {
        @include m.caption-sm-regular;
        color: v.$primary-bg-color;
      }
    }
  }
}
