@use 'variables' as v;
@use 'variables-v2' as v2;

@function color-transparent($alpha, $color: v.$primary-bg-color) {
  @return rgba($color, $alpha);
}

@function is-greater-than($value, $compare-to: 500px) {
  @if ($value > $compare-to) {
    @return true;
  } @else {
    @return false;
  }
}
