@use 'variables' as *;

/** layout */
@mixin d-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
}

@mixin d-flex-row() {
  @include d-flex();
  flex-direction: row;
}

@mixin d-flex-column() {
  @include d-flex();
  flex-direction: column;
}

@mixin align-items-center {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@mixin justify-content-center() {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

@mixin flex-center {
  @include d-flex;
  @include align-items-center;
  justify-content: center;
}

// #region These mixins are legacy and should be removed in the future eventually. Reason: these were copied from the experience builder
@mixin d-flex-row-align-center {
  @include d-flex();
  @include align-items-center();
  flex-direction: row;
}

@mixin d-flex-column-align-center {
  @include d-flex();
  @include align-items-center();
  flex-direction: column;
}

@mixin font-default {
  font-family: $base-font !important;
  font-weight: normal;
}

@mixin font-regular {
  font-family: $base-font !important;
  font-weight: $font-weight-regular;
}

@mixin font-medium {
  font-family: $base-font !important;
  font-weight: $font-weight-medium;
}

@mixin font-semi-bold {
  font-family: $base-font !important;
  font-weight: $font-weight-semibold;
}

@mixin body-regular {
  @include font-default;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
}

@mixin tooltip-body {
  @include font-regular;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.14px;
}

@mixin footnote-medium {
  @include font-medium;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin subhead-medium {
  @include font-medium;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin subhead-regular {
  @include font-regular();
  font-size: 15px;
  letter-spacing: 0;
  line-height: 18px !important;
}

@mixin callout-semi-bold {
  @include font-medium;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 22px;
}

@mixin caption-semi-bold {
  @include font-semi-bold;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-regular {
  @include font-regular;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

@mixin caption-sm {
  @include font-bold;
  font-size: 11px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-sm-regular {
  @include font-regular();
  font-size: 11px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-semi-bold {
  @include font-semi-bold();
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin branding {
  @include font-regular();
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12.5px;
}

@mixin caption-link-sm {
  @include font-semi-bold;
  font-size: 10px;
  letter-spacing: 0.01em;
  line-height: 16px;
}

@mixin caption-link-sm-regular {
  @include font-regular();
  font-size: 10px;
  letter-spacing: -1%;
  line-height: 16px;
}
// #endregion

@mixin tooltip {
  @include font-regular;
  letter-spacing: 0.01em;
  font-size: 13px;
  line-height: 23px;
}

@mixin base-input {
  @include flex-center();
  @include body-regular();
  height: 40px;
  padding-block: 0;
  padding-inline: 0;
  padding: 0 10px;
  background-color: $primary-bg-color;
  border: none;
  border-radius: 4px;
  color: $primary-bg-color-variant-6;
  outline: none;

  &::placeholder {
    color: $primary-bg-color-variant-4;
  }
}

@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin button-style($bg-color, $hover-bg-color, $text-color) {
  @include flex-center();
  padding-block: 0;
  padding-inline: 0;
  padding: 5px 8px;
  border-radius: 4px;
  color: $text-color;
  background: $bg-color;
  outline: none;
  border: none;
  cursor: pointer;

  &:hover {
    background: $hover-bg-color;
  }

  &:disabled {
    background: $primary-bg-color-variant-3;
    color: $primary-bg-color;
    pointer-events: none;
  }

  &:active {
    background: $hover-bg-color;
    box-shadow: $elevation-1dp;
  }
}

@mixin tooltip($max-width) {
  @include tooltip-body;
  height: auto;
  max-width: $max-width !important;
  color: $primary-bg-color-variant-6 !important;
  background: $primary-bg-color;
  box-shadow: 0 5px 22px 0 $shadow;
  border: 1px solid $secondary-bg-color;
  border-radius: 8px;
  padding: 10px 15px !important;
}
