/** screen breakpoints */
$screen-small: 400px; // Small: Phone in portrait
$screen-compact: 600px; // Compact: Phone in portrait
$screen-medium: 840px; // Medium: Tablet in portrait, Foldable in portrait (unfolded)
$screen-expanded: 1200px; // Expanded: Phone in landscape, Tablet in landscape, Foldable in landscape (unfolded), Desktop
$screen-expanded-cdk-breakpoint: 1280px; // Expanded: cdk breakpoint for expanded
$screen-expanded-wide: 1440px; // Expanded-wide: Desktop, Wide Quad HD screens
$screen-large: 1600px; // Large: Desktop
$screen-extra-large: 1920px; // Extra-large: Desktop, Ultra-wide
$screen-wide-extra-large: 2560px; // Wide-extra-large: Wide Quad HD screens
$screen-4k: 3840px; // 4K screens
$screen-5k: 5120px; // 5K screens
$screen-8k: 7680px; // 8K screens

/** text color */
$text-color-white: #ffffff;

/** font */
$base-font: 'Lexend', sans-serif;

$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

$font-size-xxs: 0.75rem; /* 12px */
$font-size-xs: 0.8125rem; /* 13px */
$font-size-sm: 0.875rem; /* 14px */
$font-size-md: 0.9375rem; /* 15px */
$font-size-base: 1rem; /* 16px */
$font-size-lg: 1.125rem; /* 18px */
$font-size-xl: 1.25rem; /* 20px */
$font-size-2xl: 1.5rem; /* 24px */
$font-size-3xl: 1.875rem; /* 30px */
$font-size-4xl: 2.25rem; /* 36px */
$font-size-5xl: 3rem; /* 48px */
$font-size-6xl: 3.75rem; /* 60px */
$font-size-7xl: 4.5rem; /* 72px */
$font-size-8xl: 6rem; /* 96px */
$font-size-9xl: 8rem; /* 128px */

/** Line heights */
$line-height-xs: 1rem; /* 16px */
$line-height-sm: 1.25rem; /* 20px */
$line-height-base: 1.5rem; /* 24px */
$line-height-lg: 1.75rem; /* 28px */
$line-height-xl: 1.75rem; /* 28px */
$line-height-2xl: 2rem; /* 32px */
$line-height-3xl: 2.25rem; /* 36px */
$line-height-4xl: 2.5rem; /* 40px */
$line-height-5xl: 1; /* 48px */
$line-height-6xl: 1; /* 60px */
$line-height-7xl: 1; /* 72px */
$line-height-8xl: 1; /* 96px */
$line-height-9xl: 1; /* 128px */

$primary-color: #0058d2;
$primary-color-variant-1: #35a7ff;
$primary-color-variant-2: #534ad8;
$primary-color-variant-3: #423ab4;
$editor-text: #004e89;

$gradient-purple: #834c9d;
$gradient-green: #21f075;
$gradient-orange-1: #ef6c00;
$gradient-orange-2: #ff9800;
$gradient-orange-3: #f77823;

$gradient-pink-1: #ff0a8b;

$secondary-color: #54ecd0;
$secondary-color-variant-1: #3cd0b6;
$secondary-color-variant-2: #01bc47;
$secondary-color-variant-3: #ecfcf2;
$secondary-color-variant-4: #fff5ea;
$secondary-color-variant-5: #ffe7e3;
$secondary-color-variant-6: #f1f7ff;
$secondary-color-variant-7: #e3eeff;
$secondary-color-variant-8: #dae1f9;
$secondary-color-variant-9: #ff3030;
$secondary-color-variant-10: #effcf4;
$secondary-color-variant-11: #ffedd8;
$secondary-color-variant-12: #ffe4f8;
$secondary-color-variant-13: #c0c0c0;
$secondary-color-variant-14: #cccccc;
$secondary-color-variant-15: #e5e5e536;
$secondary-color-variant-16: #f2f2f2;
$secondary-color-variant-17: #343536;
$secondary-color-variant-19: #d9f9e5;

$primary-bg-color: #ffffff;
$primary-bg-color-variant-1: #f5f7fa;
$primary-bg-color-variant-2: #cfdae6;
$primary-bg-color-variant-3: #bfccd9;
$primary-bg-color-variant-4: #adbdcc;
$primary-bg-color-variant-5: #8595a6;
$primary-bg-color-variant-6: #475258;
$primary-bg-color-variant-7: #343536;
$primary-bg-color-variant-8: #1e2225;
$primary-bg-color-variant-9: #000000;

$primary-bg-hover-color: rgba(0, 0, 0, 0.08);

$building-blocks-yellow: #ffbb00;
$right-panel-button-yellow: #f49f0a;
$building-blocks-green: #49be69;

$secondary-bg-color: #e1e5ea;

$black: #000000;
$secondary-color-variant-black: #252526;

$transparent: rgba(0, 0, 0, 0);
$transparent-white-20: rgba(255, 255, 255, 0.2);

$table-loader-color: rgba(213, 218, 220, 0.2);
$shadow: rgba(0, 0, 0, 0.08);

$selected-concept-icon-color: #ff6060;
$response-param-highlight-color: #7a879d;

$selection-variant-1: #f7f7ff;
$selection-variant-2: #eae9ff;
$selection-variant-3: #3b32ba;
$selection-variant-4: #00aa40;
$selection-variant-5: #e71c1c;
$selection-variant-6: #ebeff5;
$selection-variant-8: #f2f1ff;
$selection-variant-9: #fa9620;
$selection-variant-10: #d20b0d;
$selection-variant-11: #45a049;

$button-border-radius: 4px;
$button-circular-border-radius: 100px;

$box-shadow-simple-drop-1: 0px 0px 4px rgba(0, 0, 0, 0.25);
$box-shadow-simple-drop-2: 0px 1px 3px rgba(0, 0, 0, 0.25);
$box-shadow-simple-drop-3: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
$box-shadow-simple-drop-4: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
$box-shadow-simple-drop-5: 0px 12px 14px 0px rgba(0, 0, 0, 0.18);
$box-shadow-fab: 0px 2px 6px rgba(0, 0, 0, 0.2);
$elevation-6dp: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
$elevation-1dp:
  0px 1px 3px rgba(0, 0, 0, 0.2),
  0px 2px 1px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14);

/** gradients */
$gradient-degrees-45: 45deg;
$gradient-degrees-180: 180deg;

$purple-gradient: linear-gradient(
  $gradient-degrees-45,
  $primary-color-variant-2 -23.5%,
  $gradient-purple 107.38%
);

$green-gradient: linear-gradient(
  $gradient-degrees-45,
  $secondary-color-variant-2 -4.75%,
  $gradient-green 116%
);

$orange-gradient: linear-gradient(
  $gradient-degrees-180,
  $gradient-orange-1 14.58%,
  $gradient-orange-2 100%
);

$orange-gradient-2: linear-gradient(
  $gradient-degrees-180,
  $gradient-orange-3 0%,
  $gradient-pink-1 100%
);

$red-gradient: linear-gradient(
  $gradient-degrees-45,
  $secondary-color-variant-9 -21.13%,
  $selected-concept-icon-color 64.86%
);

$gray-gradient: linear-gradient(42.84deg, #22292e -4.79%, #45545c 107.92%);
$blue-gradient: linear-gradient(
  $gradient-degrees-45,
  $primary-color -23.51%,
  $primary-color-variant-1 126.5%
);

$gradient-soft-sky-start: #b6b4e4;
$gradient-soft-sky-end: #b9e2ff;
$soft-sky-gradient: linear-gradient(
  $gradient-degrees-45,
  $gradient-soft-sky-start 11.9%,
  $primary-bg-color 58.51%,
  $gradient-soft-sky-end 100.5%
);

/** layout variables */
$left-sidebar-collapsed-width: 4.375rem;
$right-sidebar-collapsed-width: 59px;
$right-sidebar-expanded-width: 414px;
$stepper-content-number-size: 2rem;
$stepper-content-gap: 2rem;
$top-bar-height: 4.375rem;
$top-tabs-height: 3rem;
$right-sidebar-hidden-content-container-width: calc(
  100vw - $left-sidebar-collapsed-width - 48px
);
$right-sidebar-expanded-content-container-width: calc(
  100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width - 143px
);
$right-sidebar-collapsed-content-container-width: calc(
  100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width - 143px
);

:root {
  --checkbox-label-max-length: 168px;
  --dashboard-content-container-width: 995px;
}
