@use 'variables' as v;
@use 'mixins' as m;
@use '@angular/material' as mat;

.centralized-view-container {
  height: calc(100dvh - v.$top-bar-height - v.$top-tabs-height);
  @include m.d-flex;
  box-sizing: border-box;
  padding: 1.25rem;
  background-color: v.$primary-bg-color-variant-1;
  color: v.$primary-bg-color-variant-8;
  @include m.body-regular;

  &.transcript-panel-opened {
    gap: 1.25rem;
  }

  .centralized-view-content {
    @include m.d-flex-column;
    gap: 1.25rem;
    flex: 1;
    min-width: 0;

    .stage-info-container {
      min-height: 0;
      @include m.d-flex-column;
      gap: 1.25rem;
      flex: 1;
      box-shadow: v.$box-shadow-simple-drop-3;
      border-radius: 0.25rem;
      background-color: v.$primary-bg-color;

      .table-container {
        width: 100%;
        flex: 1;
        overflow: auto;

        .error-message {
          @include m.d-flex-column;
          align-items: center;
          justify-content: center;
          padding: 3rem 1.5rem;
          text-align: center;
          flex: 1;

          p {
            margin: 0;
            color: v.$primary-bg-color-variant-6;
            @include m.body-regular;
          }
        }

        .no-stages-message {
          @include m.d-flex-column;
          align-items: center;
          justify-content: center;
          padding: 3rem 1.5rem;
          text-align: center;
          flex: 1;

          p {
            margin: 0;
            color: v.$primary-bg-color-variant-6;
            @include m.body-regular;
          }
        }

        @include mat.table-overrides(
          (
            row-item-outline-width: 1px,
            background-color: v.$primary-bg-color,
            header-headline-color: v.$primary-bg-color-variant-8,
            row-item-label-text-color: v.$primary-bg-color-variant-6,
            row-item-outline-color: v.$primary-bg-color-variant-2,
            header-headline-weight: v.$font-weight-semibold,
          )
        );

        table {
          width: 100%;

          .selected-row {
            background-color: v.$selection-variant-1;
          }
        }
      }
    }
  }
}
