<div class="centralized-view-container">
  <div class="stage-info-container">
    <app-stage-info-header
      [filteredCount]="$vm().filteredCount"
      [locations]="$vm().locations()"
      [searchTerm]="$vm().searchTerm()"
      [totalCount]="$vm().totalCount"
      (filterChange)="onFilterSelectionsApplied($event)"
      (searchChange)="executeSearch($event)" />

    <div class="table-container">
      @if ($vm().loading()) {
      <app-stage-info-table-placeholder />
      } @else if ($vm().error()) {
      <div class="error-message">
        <p>{{ $vm().error() }}</p>
      </div>
      } @else if ($vm().entities().length === 0) {
      <div class="no-stages-message">
        <p>No stages found.</p>
      </div>
      } @else {
      <!-- TODO:SYN-644: Move the table to a separate dummy component -->
      <table
        mat-table
        matSort
        [dataSource]="dataSource"
        (matSortChange)="announceSortChange($event)"
        aria-label="Stages">
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th *matHeaderCellDef mat-header-cell [style.text-align]="'center'">
            <mat-checkbox
              [aria-label]="'Select all'"
              [checked]="$vm().isAllSelected()"
              [indeterminate]="$vm().isIndeterminate()"
              (change)="toggleAllRows()">
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" mat-cell [style.text-align]="'center'">
            <mat-checkbox
              [aria-label]="
                $vm().selection().has(row)
                  ? 'Deselect row ' + row.stage
                  : 'Select row ' + row.stage
              "
              [checked]="$vm().selection().has(row)"
              (change)="$event ? toggleRow(row) : null"
              (click)="$event.stopPropagation()">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Stage Column -->
        <ng-container matColumnDef="stage">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by stage">
            STAGE
          </th>
          <td *matCellDef="let element" mat-cell>
            <div class="cell-content">
              <span>{{ element.stage }}</span>
              @if (element.autoAv) {
              <span class="auto-av-chip">AUTO AV</span>
              }
            </div>
          </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="location">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by location">
            LOCATION
          </th>
          <td *matCellDef="let element" mat-cell>{{ element.location }}</td>
        </ng-container>

        <!-- Session Column -->
        <ng-container matColumnDef="session">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by session">
            SESSION
          </th>
          <td *matCellDef="let element" mat-cell>
            <!-- TODO:SYN-644: Integrate the session dropdown with API -->
            <syn-single-select
              [options]="[
              {
                value: 'action1',
                label: 'Action 1'
              },
              {
                value: 'section2',
                label: 'Section 2'
              }, 
              {
                value: 'travel3',
                label: 'Travel 3'
              },
              {
                value: 'nordic4',
                label: 'Nordic 4'
              },
              {
                value: 'single5',
                label: 'Single 5'
              },
              {
                value: 'double6',
                label: 'Double 6'
              },
              {
                value: 'three7',
                label: 'Three 7'
              },
              {
                value: 'thought8',
                label: 'Thought 8'
              },
              {
                value: 'thought9',
                label: 'Thought 9'
              },
            ]"
              (selectionChanged)="onSessionSelected($event)"
              appearance="outline"
              optionsType="Sessions"
              placeholder="Select a session"
              searchLabel="Search session"
              theme="default" />
          </td>
        </ng-container>

        <!-- Status Column -->
        <!-- TODO:SYN-644: implement the status column -->
        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            mat-header-cell
            mat-sort-header
            sortActionDescription="Sort by status">
            STATUS
          </th>
          <td *matCellDef="let element" mat-cell>{{element.status}}</td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th *matHeaderCellDef mat-header-cell>ACTION</th>
          <td *matCellDef="let element" mat-cell>
            <div class="action-buttons">
              <button
                mat-raised-button
                class="action-btn mic-btn"
                [class.active]="true"
                [class.inactive]="false">
                <mat-icon svgIcon="syn:mic_outlined" />
              </button>
              <button
                mat-raised-button
                class="action-btn pause-btn"
                [class.active]="true"
                [class.inactive]="false">
                <mat-icon>pause</mat-icon>
              </button>
              <button
                mat-raised-button
                class="action-btn stop-btn"
                [class.active]="true"
                [class.inactive]="false">
                <mat-icon svgIcon="syn:stop_outlined" />
              </button>
              <button
                mat-raised-button
                class="action-btn cc-btn"
                [class.active]="true"
                [class.inactive]="false">
                <mat-icon svgIcon="syn:closed_caption" />
              </button>
            </div>
          </td>
        </ng-container>

        <!-- Delete Column -->
        <!-- TODO:@later implement the delete column after the MVP -->
        <!-- <ng-container matColumnDef="delete">
          <th
            *matHeaderCellDef
            mat-header-cell
            [style.text-align]="'center'"></th>
          <td *matCellDef="let element" mat-cell [style.text-align]="'center'">
            <button mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container> -->

        <tr *matHeaderRowDef="$vm().displayedColumns()" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: $vm().displayedColumns()"
          mat-row></tr>
      </table>
      }
    </div>
  </div>
</div>
