<div class="stage-info-placeholder">
  <div
    class="stage-info-placeholder__column stage-info-placeholder__column--select">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div>
  <div
    class="stage-info-placeholder__column stage-info-placeholder__column--stage">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div>
  <!-- TODO:SYN-644: Add location column when it is implemented. Conditionally render if needed. -->
  <!-- <div
    class="stage-info-placeholder__column stage-info-placeholder__column--location">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div> -->
  <div
    class="stage-info-placeholder__column stage-info-placeholder__column--session">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div>
  <div
    class="stage-info-placeholder__column stage-info-placeholder__column--status">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div>
  <div
    class="stage-info-placeholder__column stage-info-placeholder__column--action">
    <syn-skeleton-loader [count]="10" direction="vertical" height="3.25rem" />
  </div>
</div>
