@use 'variables' as v;
@use 'mixins' as m;

.stage-info-placeholder {
  width: 100%;
  @include m.d-flex-row;
  gap: 0.75rem;
  padding: 0.25rem;
  box-sizing: border-box;

  &__column {
    min-height: 3.25rem;

    &--select {
      width: 5%;
    }

    &--stage {
      width: 35%;
    }

    // TODO:SYN-644: Uncomment location column when it is implemented. Conditionally render if needed.
    // &--location {
    //   width: 20%;
    // }

    &--session {
      width: 30%;
    }

    &--status {
      width: 10%;
    }

    &--action {
      width: 20%;
    }
  }
}
