<div class="app-container">
  <app-side-bar></app-side-bar>
  <div class="top-bar">
    <div class="bar-left-content">
      <div class="title">
        <p>Synopsis for Events - Admin Dashboard</p>
      </div>
    </div>

    <div class="menu-icon">
      <div class="icon">
        <div
          class="profile-icon-wrapper"
          (click)="toggleDropdown()"
          (outSideClick)="onOutsideClick()"
          appOutSideClick>
          <img
            class="profile-icon"
            alt="icon3"
            src="../../../../assets/profile-icon.svg" />
          @if (showDropdown) {
            <div class="dropdown">
              <li (click)="logout()">Log out</li>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
