@if (liveEvent() === null) {
  <div
    class="main-container"
    [ngClass]="{
      'widget-view': selectedDashboardTab() === DashboardTabs.ProjectSpecific,
    }">
    <ng-container *ngTemplateOutlet="skeleton"></ng-container>
  </div>
} @else {
  <div
    class="control-panel-container"
    [ngClass]="{
      'right-sidebar-expanded':
        rightSidebarState() === RightSidebarState.Expanded,
      'right-sidebar-collapsed':
        rightSidebarState() === RightSidebarState.Collapsed,
      'widget-view': selectedDashboardTab() === DashboardTabs.ProjectSpecific,
      expanded:
        selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
        isWidgetViewExpanded(),
    }"
    (click)="onControlPanelClick()">
    <div
      class="information"
      [ngClass]="{
        'right-sidebar-expanded':
          rightSidebarState() === RightSidebarState.Expanded,
        'right-sidebar-collapsed':
          rightSidebarState() === RightSidebarState.Collapsed,
        'widget-view':
          selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
          !this.isWidgetViewExpanded(),
      }">
      <p
        #tooltip="matTooltip"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="event-title"
        [matTooltip]="liveEvent().SessionTitle"
        [matTooltipDisabled]="!isTitleOverflowing"
        (isOverflowed)="isTitleOverflowing = $event"
        appEllipsis>
        {{ liveEvent().SessionTitle }}
      </p>
      <div class="track-container">
        <div class="event-track">
          <mat-icon svgIcon="syn:category_outlined"></mat-icon>
          <p class="track-text">{{ liveEvent().Track }}</p>
        </div>
        <p class="see-details-link" (click)="onSeeDetailsClick()">
          See Details
        </p>
      </div>
      <!-- <div class="view-all-sessions-container" (click)="onViewAllClick()">
        <p class="text">View All Live Sessions</p>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div> -->
    </div>
    <div
      class="controls"
      [ngClass]="{
        'right-sidebar-expanded':
          rightSidebarState() === RightSidebarState.Expanded,
        'right-sidebar-collapsed':
          rightSidebarState() === RightSidebarState.Collapsed,
        'widget-view':
          selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
          !this.isWidgetViewExpanded(),
      }">
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon:
            liveEventState() === LiveSessionState.Paused
              ? 'syn:play_arrow_outlined'
              : 'syn:pause_outlined',
          label:
            liveEventState() === LiveSessionState.Paused
              ? 'Resume Listening'
              : 'Pause Listening',
          type:
            liveEventState() === LiveSessionState.Paused ? 'resume' : 'pause',
          disabled: isAutoAvEnabled,
        }"></ng-container>
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon: 'close',
          label: 'End Session',
          type: 'stop',
          disabled: isAutoAvEnabled,
        }"></ng-container>
      <div class="voice-animation-container">
        <app-sound-animation></app-sound-animation>
      </div>
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon: 'closed_caption',
          label: 'View Transcript',
          type: 'view-transcript',
        }"></ng-container>
    </div>
    <div
      class="contain-animation"
      [ngClass]="{
        show:
          selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
          !isWidgetViewExpanded(),
      }">
      <app-sound-animation></app-sound-animation>
    </div>
    @if (
      selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
      this.isWidgetViewExpanded()
    ) {
      <button
        class="widget-collapse-button"
        [disabled]="isAutoAvEnabled"
        (click)="onCollapseButtonClick($event)">
        <mat-icon>close</mat-icon>
      </button>
    }
  </div>
}

<!-- we can migrate the below templates to new components later if necessary -->

<ng-template #skeleton>
  <ng-container>
    <div
      class="information"
      [ngClass]="{
        'right-sidebar-expanded':
          rightSidebarState() === RightSidebarState.Expanded,
        'right-sidebar-collapsed':
          rightSidebarState() === RightSidebarState.Collapsed,
      }">
      <div class="info-1"></div>
      <div class="info-2"></div>
      <div class="info-3"></div>
    </div>
    <div
      class="controls static"
      [ngClass]="{
        'right-sidebar-expanded':
          rightSidebarState() === RightSidebarState.Expanded,
        'right-sidebar-collapsed':
          rightSidebarState() === RightSidebarState.Collapsed,
      }">
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
      <div class="voice-container">
        <img alt="" src="assets/admin-screen/voice.svg" />
      </div>
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #playButtonSkeleton>
  <div class="action-button-container">
    <div class="skeleton-button-container">
      <div class="rounded-button"></div>
      <div class="button-label"></div>
    </div>
  </div>
</ng-template>

<ng-template
  #actionButtons
  let-disabled="disabled"
  let-icon="icon"
  let-label="label"
  let-type="type">
  <div class="action-button-container">
    <button
      class="btn-destructive-default"
      [disabled]="disabled && type !== 'view-transcript'"
      [ngClass]="type"
      (click)="onActionButtionClick(type)">
      @if (type === 'pause' || type === 'resume') {
        <mat-icon [svgIcon]="icon"></mat-icon>
      } @else {
        <mat-icon>{{ icon }}</mat-icon>
      }
    </button>
    <p class="action-button-label" [ngClass]="type">{{ label }}</p>
  </div>
</ng-template>
