@use '../../styles/helpers/helpers-dir' as *;
@use '../../styles/material/mat-tooltip' as *;

$sidebar-total-vertical-padding: 26px;

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.sidebar-container {
  height: calc(100vh - $top-bar-height - $sidebar-total-vertical-padding);
  background-color: $primary-bg-color;
  width: 0;
  padding: 10px 0 16px 0;
  border-left: 1px solid $secondary-bg-color;
  @include d-flex-column;
  flex: 1;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

  &.expanded,
  &.collapsed {
    width: calc($right-sidebar-collapsed-width - 1px);
    max-width: 58px;
  }
}

.detail-container {
  transition: all 0.3s ease-in-out;
  height: calc(100vh - $top-bar-height);
  border-left: 1px solid $secondary-bg-color;
  background-color: $primary-bg-color;

  &.visible {
    @include d-flex;
    opacity: 1;
  }

  &.expanded {
    @include d-flex-column;
    width: calc(
      $right-sidebar-expanded-width - $right-sidebar-collapsed-width - 1px
    );
    max-width: 356px;
  }

  &.collapsed {
    width: 0;
    overflow: hidden;
    opacity: 0;
  }
}

.detail-header {
  height: 55px;
  @include d-flex-row;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid $primary-bg-color-variant-2;
  width: calc(100% - 40px);

  .detail-header-title {
    @include body-regular;
    color: $primary-bg-color-variant-6;
  }

  .collapse-button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    @include flex-center;
    border: 1px solid $primary-bg-color-variant-2;
    cursor: pointer;
    background-color: transparent;
    padding-block: 0;
    padding-inline: 0;

    > mat-icon {
      font-size: 12px;
      width: 12px;
      height: 12px;
      color: $primary-bg-color-variant-6;
      @include flex-center;
    }
  }
}

.icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
  @include flex-center;
}

.control-quick-action-button {
  border: none;
  width: 36px;
  height: 32px;
  @include flex-center;
  cursor: pointer;
  background-color: transparent;
  border-radius: 4px;
  padding-block: 0;
  padding-inline: 0;
  margin-bottom: 20px;
  color: $primary-bg-color-variant-5;
  fill: $primary-bg-color-variant-5;

  &.selected {
    background-color: $primary-color-variant-2;
    color: $primary-bg-color;
    fill: $primary-bg-color;
  }
}

.content {
  background-color: aquamarine;
  width: 100%;
  height: 100%;
}

.session-details-container {
  @include d-flex-column;
  height: calc(100% - 36px);
  width: calc(100% - 40px);
  align-items: flex-start;
  padding: 18px 20px;

  .form-row {
    @include d-flex-column;
    align-items: flex-start;
    margin-bottom: 12px;

    .label {
      @include body-regular;
      color: $primary-bg-color-variant-5;
    }

    .value {
      margin-top: 4px;
      @include body-regular;
      color: $primary-bg-color-variant-6;
    }
  }
}
