.sidebar {
    width: 70px;
    height: 100%;
    background-color: #534ad8;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
   
    @media (max-width: 767px) {
        height: 0;
      }
  
    .logopart {
      padding: 20px 19px;
      background: var(
        --gradients-purple-534-ad-8834-c-9-d,
        linear-gradient(45deg, #534ad8 -23.5%, #834c9d 107.38%)
      );
      
    }

    .logo {
        width: 32px;
        height: 31.474px;
       
        @media (max-width: 767px) {
          width: 32px;
          height: 31.474px;
          flex-shrink: 0;
        }
      }
  
    .icons {
      display: flex;
      width: 20px;
      margin-top: 23px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 25px;
    }
  
    .icon {
      display: flex;
      flex-direction: column;
      margin-bottom: 45px;
      justify-content: center;
      align-items: center;
    }
  
    .icon img {
      max-width: 100%;
    }
    .back-button {
      position: fixed;
      padding-bottom: 18.94px;
      bottom: 0;
  
      padding-left: 24px;
  
      .left-icon {
        display: inline-flex;
        padding: 5px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 1000px;
        background: var(--primary-varient-3423-ab-4, #423ab4);
      }
    }
  }