<div class="sidebar">
  <div class="logopart">
    <div class="logo">
      <img
        alt="Logo"
        src="../../../../assets/side-bar/rozie-synopsis-logo-mark.svg" />
    </div>
  </div>
  <div class="icons">
    @if (userRoleRank > 1) {
      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="'Admin Dashboard'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/admin"
        routerLinkActive="selected">
        <mat-icon svgIcon="syn:space_dashboard_outlined"></mat-icon>
      </a>
    }
    <!-- Use isAdminUser() if it's a signal -->
    @if (userRoleRank > 0) {
      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="'Editorial Dashboard'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/editorial"
        routerLinkActive="selected">
        <mat-icon style="color: rgb(255, 255, 255)">dashboard</mat-icon>
      </a>

      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="'Generate PDF'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/generate-report"
        routerLinkActive="selected">
        <mat-icon style="color: rgb(255, 255, 255)">description</mat-icon>
      </a>
    }
    @if (isSuperAdmin || isEventOrganizer) {
      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="'Agenda'"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/agenda"
        routerLinkActive="selected">
        <mat-icon style="color: rgb(255, 255, 255)">event</mat-icon>
      </a>
    }
  </div>
</div>
