@use '../helpers/mixins' as *;

.mdc-tooltip.tooltip-text-only {
  @include custom-tooltip(unset);

  .mdc-tooltip__surface {
    background-color: transparent;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    min-width: unset;
    max-width: unset;
    min-height: unset;
    @include tooltip-body;
    color: $primary-bg-color-variant-6;
  }
}
