@use '../helpers/helpers-dir' as *;

.session-content-container-tab-group {
  width: 100%;
  height: 100%;

  &.mat-mdc-tab-group-dynamic-height {
    .mat-mdc-tab-body {
      &.mat-mdc-tab-body-active {
        overflow-y: visible !important;
      }
    }

    .mat-mdc-tab-body-content {
      overflow: visible !important;
    }
  }

  .mat-mdc-tab-label-container {
    border: none;
  }
  .mdc-tab {
    &.mdc-tab--active,
    &.mdc-tab--active:focus {
      .mdc-tab__text-label {
        color: $primary-color-variant-2;
      }
    }
    .mdc-tab__content {
      height: 41px;
    }
    .mdc-tab-indicator {
      height: 41px;
    }
    .mdc-tab-indicator__content--underline {
      border-top-width: 3px;
    }
    & {
      padding: 0;
      margin-right: 10px;
      flex-grow: 0 !important;
    }
  }

  .mat-mdc-tab-body-wrapper {
    height: 100%;
  }
}
