@use '../helpers/helpers-dir' as *;

$session-selection-menu-width-right-sidebar-expanded: calc(
  calc(
      100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.77
);
$session-selection-menu-width-right-sidebar-collapsed: calc(
  calc(
      100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.77
);
$session-selection-menu-width-right-sidebar-hidden: calc(
  calc(100vw - $left-sidebar-collapsed-width - 88px) * 0.77
);

.session-selection-menu {
  width: $session-selection-menu-width-right-sidebar-hidden;
  max-width: 756px !important;
  box-shadow: $box-shadow-simple-drop-5;
  min-width: unset !important;
  min-height: 100px;
  max-height: 345px;
  height: auto;

  &.right-sidebar-expanded {
    width: $session-selection-menu-width-right-sidebar-expanded;
  }

  &.right-sidebar-collapsed {
    width: $session-selection-menu-width-right-sidebar-collapsed;
  }

  .mat-mdc-menu-content {
    padding: 16px 0 !important; /* Remove padding for the menu panel */
    width: 100%;
    height: calc(100% - 32px);
    background-color: $primary-bg-color;
    @include d-flex-column;
    align-items: flex-start;

    .mat-mdc-menu-item:hover {
      background-color: $selection-variant-1 !important;
    }
  }
}

.multi-select-menu {
  border-radius: 4px;
  background-color: $primary-bg-color;
  box-shadow: $elevation-6dp;
  min-width: unset !important;
  min-height: 100px;

  .mat-mdc-menu-content {
    padding: 0 !important; /* Remove padding for the menu panel */
    padding-top: 16px !important;
    width: 100%;
    height: calc(100% - 16px);
    background-color: $primary-bg-color;
    @include d-flex-column;
    align-items: flex-start;

    .mat-mdc-menu-item:hover {
      background-color: $selection-variant-1 !important;
    }
  }

  &.filters {
    margin-top: 8px;
    width: calc($right-sidebar-hidden-content-container-width / 3);
    max-width: 240px;

    &.right-sidebar-expanded {
      width: calc($right-sidebar-expanded-content-container-width / 3);
    }

    &.right-sidebar-collapsed {
      width: calc($right-sidebar-collapsed-content-container-width / 3);
    }
  }
}

.info-menu {
  box-shadow: $elevation-6dp;
  min-width: unset !important;
  min-height: 100px;
  border-radius: 4px;
  max-width: 640px !important;
  margin-top: 5px;

  .mat-mdc-menu-content {
    padding: 0 !important; /* Remove padding for the menu panel */
    height: auto;
    background-color: $primary-bg-color;
    @include d-flex-column;
    align-items: flex-start;
    @include body-regular;
    color: $primary-bg-color-variant-6;

    > p {
      padding: 15px;
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
}
