@use 'variables' as v;
@use 'mixins' as m;

.stage-status {
  @include m.d-flex;
  @include m.align-items-center;
  gap: 0.5rem;

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    @include m.flex-center;
    flex-shrink: 0;
  }

  &__text {
    font-size: v.$font-size-sm;
  }
}
