<div
  class="custom-snackbar-container notification-container"
  [ngClass]="'snackbar-' + data.type">
  <div class="snackbar-content notification-body">
    <div class="icon-wrapper">
      <mat-icon
        class="snackbar-icon notification-icon"
        [attr.aria-label]="data.type">
        {{ getIcon() }}
      </mat-icon>
    </div>
    <div class="message-wrapper">
      <span
        class="snackbar-message notification-text"
        [attr.aria-live]="'polite'"
        [attr.role]="'status'">
        {{ data.message }}
      </span>
    </div>
  </div>
  @if (data.action) {
    <div class="action-wrapper">
      <button
        mat-button
        class="snackbar-action notification-button"
        [attr.aria-label]="'Dismiss notification: ' + data.action"
        (click)="dismiss()"
        type="button">
        {{ data.action }}
      </button>
    </div>
  }
</div>
