@use 'mixins' as m;
@use 'variables' as v;
// @use '../../styles/material/mat-tab' as *;

$control-panel-area-width-right-sidebar-expanded: calc(
  100vw - v.$right-sidebar-expanded-width - v.$left-sidebar-collapsed-width -
    40px
);

// new styles

.session-content-container {
  @include m.d-flex-column;
  padding: 20px 24px;
  border-radius: 4px;
  background-color: v.$primary-bg-color;
  box-shadow: v.$box-shadow-simple-drop-2;
  height: 100%;
  align-items: flex-start;
  width: calc(100% - 48px);
}

.control-panel {
  margin-top: 20px;
  width: 100%;
  height: 138px;
  background-color: v.$primary-bg-color;
  box-shadow: v.$box-shadow-simple-drop-2;
  position: relative;
  @include m.d-flex;
  align-self: flex-end;

  &.widget-view {
    background-color: transparent;
    box-shadow: none;
    width: 88px;
    height: 88px;
    position: absolute;
    z-index: 3;
    border-radius: 100%;
    bottom: 50px;
    right: 95px;
    transition: width 0.3s ease;

    &.widget-expanded {
      width: $control-panel-area-width-right-sidebar-expanded;
      height: 138px;
      right: unset;
      left: calc(
        50vw - calc($control-panel-area-width-right-sidebar-expanded / 2)
      );
      bottom: 20px;
      border-radius: 4px;
      box-sizing: border-box;

      &.right-sidebar-expanded {
        left: 90px;
      }
    }
  }
}

// end: new styles

.content-item {
  margin-bottom: 200px;
}

.screen-display {
  margin-bottom: 20px;
}

.content-item .screen-display {
  margin-top: 20px;
}

.padding-combine {
  margin-top: 20px;
}

.alert-box {
  position: fixed;
  right: 2%;
  top: 2%;

  /* top: 50%; */

  /* left: 50%; */

  /* transform: translate(-50%, -50%); */
  width: 80%;
  max-width: 500px;
  z-index: 1000;
}

@media (width <= 767px) {
  .alert-box {
    margin: 0 auto;
    right: 5%;
    left: 5%;
  }
}

.alert {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.transcript {
  margin: 20px 10%;
  max-width: 70%;
  overflow: auto;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

@media screen and (width <= 768px) {
  .content-item {
    margin-bottom: 100px;
  }

  .screen-display {
    margin-bottom: 10px;
  }

  .content-item .screen-display {
    margin-top: 10px;
  }

  .padding-combine {
    margin-top: 10px;
  }
}

@media screen and (width <= 480px) {
  .content-item {
    margin-bottom: 50px;
  }

  .screen-display {
    margin-bottom: 5px;
  }

  .content-item .screen-display {
    margin-top: 5px;
  }

  .padding-combine {
    margin-top: 5px;
  }
}
