<div id="session-content" class="session-content-container">
  <mat-tab-group
    class="session-content-container-tab-group"
    (selectedTabChange)="onTabChange($event)"
    dynamicHeight>
    <mat-tab label="Start Listening to a Session">
      <app-session-selection
        [autoAvEnabled]="autoAvEnabled"
        (screenProjected)="onProjectToScreenClick($event)"
        (streamStarted)="onSteamStart()"></app-session-selection>
    </mat-tab>
    <mat-tab label="Content for Display">
      <app-project-image-selection
        (screenProjected)="
          onProjectToScreenClick($event)
        "></app-project-image-selection>
    </mat-tab>
  </mat-tab-group>
</div>

<div
  class="control-panel"
  [ngClass]="{
    'widget-view': selectedDashboardTab() === DashboardTabs.ProjectSpecific,
    'widget-expanded':
      selectedDashboardTab() === DashboardTabs.ProjectSpecific &&
      isControlPanelExpanded(),
    'right-sidebar-expanded':
      rightSidebarState() === RightSidebarState.Expanded,
  }">
  <app-control-panel
    [isAutoAvEnabled]="autoAvEnabled"
    (streamPaused)="onStreamPause()"
    (streamStarted)="onSteamStart()"
    (streamStopped)="onStreamStop()"></app-control-panel>
</div>
