@use 'mixins' as *;
@use 'variables' as *;

.sidebar {
  width: 70px;
  height: 100%;
  background-color: #534ad8;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;

  @media (width <= 767px) {
    height: 0;
    position: unset;
  }

  .logopart {
    padding: 20px 19px;
    background: var(
      --gradients-purple-534-ad-8834-c-9-d,
      linear-gradient(45deg, #534ad8 -23.5%, #834c9d 107.38%)
    );
  }

  .logo {
    width: 32px;
    height: 31.474px;

    @media (width <= 767px) {
      width: 32px;
      height: 31.474px;
      flex-shrink: 0;
    }
  }

  .icons {
    @include d-flex-column;
    margin-top: 23px;

    .menu-item {
      width: 38px;
      height: 38px;
      border-radius: 4px;
      background-color: $transparent;
      @include flex-center;
      cursor: pointer;

      &.selected {
        background-color: color-transparent(20%);
      }

      > mat-icon {
        width: 20px;
        height: 20px;
        fill: $primary-bg-color;
      }
    }
  }

  .icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
    justify-content: center;
    align-items: center;
  }

  .icon img {
    max-width: 100%;
  }

  .back-button {
    position: fixed;
    padding-bottom: 18.94px;
    bottom: 0;
    padding-left: 24px;

    .left-icon {
      display: inline-flex;
      padding: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 1000px;
      background: var(--primary-varient-3423-ab-4, #423ab4);
    }

    @media (width <= 767px) {
      display: none;
    }
  }
}
