<div class="footer">
  <div class="left-contanier">
    <div class="rights">© {{ copyrightYear }} Rozie Synopsis.</div>
    <div class="Privacy">
      <a
        href="https://assets-global.website-files.com/65ecda1a2d85e3456fc6884a/6645a0c82287a53a49b3961d_Rozie-Privacy-Policy.pdf"
        target="_blank"
        >Privacy Policy</a
      >
    </div>
  </div>

  <div class="social-media">
    <a href="https://x.com/roziesynopsis" rel="noreferrer" target="_blank">
      <img alt="Twitter" src="../../../assets/login/x.svg" />
    </a>
    <a
      href="https://www.linkedin.com/company/rozie-synopsis"
      rel="noopener noreferrer"
      target="_blank">
      <img alt="LinkedIn" src="../../../../assets/login/linkedin.svg" />
    </a>
  </div>
</div>
