# remove the following once the refactoring is done for the components
/src/app/legacy-admin/components/session-content/session-content.component.ts
/src/app/legacy-admin/components/screen-display/screen-display.component.ts
/src/app/legacy-admin/components/otp/otp.component.ts
/src/app/legacy-admin/components/main-drop-down/main-drop-down.component.ts
/src/app/legacy-admin/components/login-page/login-page.component.ts
/src/app/legacy-admin/components/event-controls/event-controls.component.ts
/src/app/legacy-admin/components/elsa-event-admin-v2/elsa-event-admin-v2.component.ts
/src/app/legacy-admin/components/audio-streamer/audio-streamer.component.ts
