<app-top-bar />
<div class="main-content">
  <div
    #contentContainer
    id="dashboard-content-container"
    class="content-container">
    <app-event-controls
      [postData]="postData"
      [themeOptions]="themeOptions"
      [transcriptTimeOut]="transcriptTimeOut"
      (autoAvChanged)="onAutoAvChanged($event)"
      (onReset)="handleReset()"
      (onUpdatePostData)="updatePostData($event)" />
    <div class="session-wrapper">
      <app-session-content
        [autoAvEnabled]="isAutoAvEnabled"
        [eventControls]="postData"
        [selectedEventProp]="postData.eventName"
        [selectedThemeProp]="postData.theme"
        [transcriptTimeOutProp]="postData.screenTimeout"></app-session-content>
    </div>
  </div>
  <div></div>
  <app-sidebar-control-panel></app-sidebar-control-panel>
</div>
