@use 'mixins' as m;
@use 'variables' as v;

// new styles
.content-container {
  @include m.d-flex-column;
  height: calc(100% - 40px);
  flex: 1;
  align-items: flex-start;
  padding: 20px;
}
// end

.main-content {
  background-color: v.$primary-bg-color-variant-1;
  height: calc(100% - v.$top-bar-height);
  padding-left: v.$left-sidebar-collapsed-width;
  @include m.d-flex-row;
  align-items: flex-start;
  flex: 1;
  justify-content: space-between;
}

app-event-controls {
  width: 100%;
}

app-session-content {
  height: 100%;
  @include m.d-flex-column;
  justify-content: space-between;
  width: 100%;
}

app-sidebar-control-panel {
  @include m.d-flex-row;
}

.session-wrapper {
  margin-top: 20px;
  height: calc(100% - 136px);
  width: 100%;
  @include m.d-flex-column;
  justify-content: space-between;
}

@media (width <= 767px) {
  .main-content {
    padding-left: 20px;
    height: calc(100% - 110px);
  }
}
