@use 'variables' as v;
@use 'mixins' as m;

.transcript-side-panel-content-container {
  width: 100%;
  height: 100%;
  background-color: v.$primary-bg-color;
  @include m.d-flex-column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;

  .side-panel-content-header {
    padding: 0 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid v.$primary-bg-color-variant-2;
    color: v.$primary-bg-color-variant-6;
    font-weight: v.$font-weight-medium;

    .content-header-title {
      @include m.ellipsis;
    }
  }

  .side-panel-content-body {
    flex: 1;
    overflow-y: auto;
    padding: 1.5rem;

    .transcript-content {
      height: 100%;
      @include m.d-flex-column;

      .not-started-content {
        @include m.d-flex-column;
        align-items: center;
        justify-content: center;
        gap: 1.25rem;
        text-align: center;
        padding: 2rem 1rem;
        flex: 1;

        .transcript-icon {
          width: 4rem;
          height: 4rem;
          @include m.d-flex;
          @include m.align-items-center;
          @include m.justify-content-center;
          background-color: v.$selection-variant-2;
          border-radius: 50%;

          mat-icon {
            width: 1.5rem;
          }
        }

        .not-started-content-description {
          font-weight: v.$font-weight-medium;
        }
      }
    }
  }
}
