/* Container for the entire layout */
.row-container {
  display: flex;
  width: 100%; /* Ensure it takes the full width */
}

.snackbar-error {
  background-color: #f44336 !important;
  color: white;
  font-weight: bold;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

.snackbar-info {
  background-color: #6e25ff;
  color: white;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.upload-agenda-button,
.add-session-button,
.refresh-button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
    background-color: #e0e0e0;
  }
}

.refresh-button mat-icon {
  vertical-align: middle;
}

/* Side panel styles */
.side-panel {
  margin-right: 20px;
  flex-grow: 1;
  mat-card {
    margin: 10px 0;
  }
  .timezone-section {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .timezone-select {
    font-weight: 500;
    color: #2c3e50;
    font-size: 14px;
    padding-right: 24px;
    appearance: none;
  }

  .timezone-select:hover {
    border-color: #999;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.1);
  }

  .timezone-select:focus {
    outline: none;
    border-color: #3a3a3a;
    box-shadow: 0 0 0 2px rgba(63, 66, 68, 0.25);
  }

  .event-timezone-label {
    font-size: 1rem;
    color: #262626;
  }
  .timezone-icon {
    margin-right: 10px;
  }

  .timezone-value {
    margin-left: 10px;
  }
}

.content-container {
  display: flex;
  margin-top: 10px;
  padding-left: 80px;
  padding-right: 20px;
}

.edit-mode {
  background-color: #54df85;
  text-align: center;
  margin: 0px 15px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
}

.edit-mode mat-icon {
  margin-right: 8px;
  font-size: 16px; /* Ensure the icon size matches the text */
}

/* Filters styles */
.filters {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
}

.filter-item {
  width: 48%; /* Make sure both filters are side-by-side and even */
}

/* Session list styles */
.session-list {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  padding: 0;
}

.mat-mdc-input-element {
  color: #333 !important;
}

mat-form-field {
  width: 100%;
}

.filter-field {
  position: relative;
  margin: 20px 0;
  display: flex;
}

.filter-field input {
  width: 100%;
  padding: 18px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition:
    border-color 0.3s,
    box-shadow 0.3s;
}

.filter-field input:focus {
  outline: none;
  border-color: #3f51b5;
  box-shadow: 0 0 8px rgba(63, 81, 181, 0.4);
}

.filter-field label {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 4px;
  color: #aaa;
  pointer-events: none;
  transition:
    top 0.3s,
    font-size 0.3s,
    color 0.3s;
}

.filter-field input:focus + label,
.filter-field input:not(:placeholder-shown) + label {
  top: -8px;
  font-size: 12px;
  color: #3f51b5;
}

.session-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #fff;

  &:hover {
    background-color: #f0f0f0;
  }
}

.session-item-selected {
  background-color: #e3ffdf !important;
  border-right: 4px solid #ff4d4d;
}

/* Session Info */
.session-info {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
}

.session-title {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  max-width: 260px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.upload-agenda-button {
  padding: 10px 15px;
  align-items: center;
  border-radius: 4px;
  background: #534ad8;
  cursor: pointer;
  color: #fff;
  border: none;
  font-family: Lexend;
  font-size: 16px;
}

.add-session-button {
  padding: 10px 15px;
  align-items: center;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  color: #534ad8;
  border: 1px solid #8d87de;
  font-family: Lexend;
  font-size: 16px;
}

.refresh-button {
  padding: 10px 15px;
  align-items: center;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  color: #534ad8;
  border: 1px solid #8d87de;
  font-family: Lexend;
  font-size: 16px;
}

.session-status-badge {
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  color: #fff;
  margin-left: auto; /* Push to the right side */

  &.status-not-available {
    background-color: #ff6d6d; /* Red for Not Started */
  }

  &.status-not-started {
    background-color: #6449cdb3; /* Red for Not Started */
  }

  &.status-in-review {
    background-color: #ff9900; /* Orange for In Review */
  }

  &.status-complete {
    background-color: #00cc66; /* Green for Complete */
  }

  &.status-processing-insights {
    background-color: #6366f1;
  }
}

/* Chevron Icon for Navigation */
.session-icon {
  font-size: 24px;
  color: #aaa;
}

/* Editor container and content */
.editor-container {
  width: 420px;
  min-width: 420px;

  margin-top: 10px;
  .editor-content {
    padding: 16px;
  }
}

.versions-table {
  td {
    cursor: pointer;
  }
}

/* Loading container */
.loading-container {
  min-height: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading bar animation */
.loading-bar,
.loading-bar:before,
.loading-bar:after {
  width: 1rem;
  height: 2rem;
  background-color: #4f4fe7;
  animation: animateBar 1s ease-in-out infinite;
}

.loading-bar {
  animation-delay: -0.16s;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;
}

.loading-bar:before {
  position: absolute;
  right: 1.5rem;
  content: '';
}

.loading-bar:after {
  position: absolute;
  animation-delay: -0.32s;
  content: '';
  left: 1.5rem;
}

@keyframes animateBar {
  0% {
    height: 2rem;
  }
  50% {
    height: 4rem;
  }
  100% {
    height: 2rem;
  }
}

/* Session details */
.session-details {
  padding: 0px;
}

.session-header {
  h2 {
    font-size: 24px;
    margin-bottom: 16px;
  }
}

/* Event card styles */
.event-card {
  flex: 2;
  margin: 10px 0;
  padding: 16px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Event info grid */
.event-info-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.event-info-row {
  flex: 2;
}

.event-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  mat-icon {
    margin-right: 8px;
    color: #757de8; /* Light purple color */
  }

  span {
    color: #6c757d; /* Gray color for the text */
    font-size: 14px;
  }
}

.row {
  display: flex;
  flex-direction: row;
}

/* Status container */
.status-container {
  flex: 1;
  padding: 20px;
  text-align: center;

  button {
    width: 100%;
    color: white;
    background-color: #8141ff;
  }

  h4 {
    margin-bottom: 5px;
  }

  p {
    margin-bottom: 15px;
    color: #6c757d;
  }
}

/* Action buttons */
.action-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}

/* Section styles */
.section {
  flex: 1;
  padding: 10px;

  h3 {
    margin-bottom: 16px;
  }
}

/* Item row */
.item-row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .flex-grow {
    flex-grow: 1;
  }

  button {
    margin-left: 8px;
  }
}

/* Flex grow utility */
.flex-grow {
  flex-grow: 1;
}

/* Full width utility */
.full-width {
  width: 100%;
}

/* Footer action bar */
.footer-action-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  box-shadow: 0px -2px 8px -4px rgba(0, 0, 0, 0.75);
  margin-top: 32px;
}

/* Editorial status */
.editorial-status {
  flex: 1;
  margin-right: 16px;
}

.custom-selected-icon {
  color: #8141ff; /* Red color for selected icon */
}

.custom-unselected-icon {
  color: #c6c6c6; /* Green color for unselected icon */
}

/* Delete icon (if used) */
.delete-icon {
  margin-top: 10px;
  cursor: pointer;
  color: red;
  font-size: 24px;
}

/* Adjusting mat-form-field to have consistent margins */
.mat-form-field {
  margin-bottom: 16px;
}

/* Ensuring buttons have consistent margins */
button {
  margin-top: 8px;
}

/* Styles for the summary textarea */
.full-width textarea {
  resize: vertical;
}

/* Adjusting mat-chip appearance */
mat-chip {
  margin-right: 8px;
}

/* Styles for the action buttons */
.action-buttons button {
  margin-right: 8px;
}

/* Styles for disabled inputs in read-only mode */
.mat-input-element[disabled] {
  color: rgba(0, 0, 0, 0.6);
}

/* Styling the mat-chip in the status container */
.status-container mat-chip {
  margin-bottom: 16px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .row-container {
    flex-direction: column;
  }

  .side-panel {
    width: 100%;
    margin-right: 0;
  }

  .editor-container {
    width: 100%;
  }

  .footer-action-bar {
    flex-direction: column;
    align-items: flex-end;
    .editorial-status {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .editorial-status {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }
}
