<div class="action-buttons">
  <button
    mat-raised-button
    class="action-btn start-pause-resume-btn"
    [class.loading]="buttonStates().startPauseResumeButton.isLoading"
    [disabled]="
      isAutoAvEnabled() ||
      !buttonStates().startPauseResumeButton.isEnabled ||
      isMultipleSelectionActive()
    "
    (click)="onStartPauseResume()">
    @if(buttonStates().startPauseResumeButton.icon.startsWith('syn:')) {
    <mat-icon [svgIcon]="buttonStates().startPauseResumeButton.icon" />
    } @else {
    <mat-icon>{{ buttonStates().startPauseResumeButton.icon }}</mat-icon>
    }
  </button>
  <button
    mat-raised-button
    class="action-btn stop-btn"
    [disabled]="
      isAutoAvEnabled() ||
      !buttonStates().canStop ||
      isMultipleSelectionActive()
    "
    (click)="onStopListening()">
    <mat-icon svgIcon="syn:stop_outlined" />
  </button>

  <mat-slide-toggle
    class="auto-av-toggle"
    [checked]="isAutoAvEnabled()"
    [disabled]="!buttonStates().canToggleAutoAv"
    (change)="onToggleChange($event)"
    hideIcon
    labelPosition="before">
    AutoAV
  </mat-slide-toggle>

  <button
    mat-raised-button
    class="action-btn cc-btn"
    [disabled]="!buttonStates().canOpenTranscriptPanel"
    (click)="onOpenTranscriptPanel()">
    <mat-icon svgIcon="syn:closed_caption" />
  </button>
</div>
