<div class="action-buttons">
  <button
    mat-raised-button
    class="action-btn start-pause-resume-btn"
    [class.active]="true"
    [class.loading]="buttonStates().startPauseResumeButton.isLoading"
    [disabled]="
      !buttonStates().startPauseResumeButton.isEnabled ||
      isMultipleSelectionActive()
    "
    (click)="onStartPauseResume()">
    @if(buttonStates().startPauseResumeButton.icon.startsWith('syn:')) {
    <mat-icon [svgIcon]="buttonStates().startPauseResumeButton.icon" />
    } @else {
    <mat-icon>{{ buttonStates().startPauseResumeButton.icon }}</mat-icon>
    }
  </button>
  <button
    mat-raised-button
    class="action-btn stop-btn"
    [class.active]="true"
    [disabled]="
      !buttonStates().canStop ||
      isMultipleSelectionActive()
    "
    (click)="onStopListening()">
    <mat-icon svgIcon="syn:stop_outlined" />
  </button>
  <button
    mat-raised-button
    class="action-btn cc-btn"
    [class.active]="true"
    [disabled]="true">
    <mat-icon svgIcon="syn:closed_caption" />
  </button>
</div>
