<div class="action-buttons">
  <button
    mat-raised-button
    class="action-btn start-pause-resume-btn"
    [class.active]="true"
    [disabled]="!buttonStates().startPauseResumeButton.isEnabled"
    (click)="onStartPauseResume()">
    <mat-icon
      [svgIcon]="buttonStates().startPauseResumeButton.icon.startsWith('syn:') ? buttonStates().startPauseResumeButton.icon : null">
      @if (!buttonStates().startPauseResumeButton.icon.startsWith('syn:')) { {{
      buttonStates().startPauseResumeButton.icon }} }
    </mat-icon>
  </button>
  <button
    mat-raised-button
    class="action-btn stop-btn"
    [class.active]="true"
    [disabled]="!buttonStates().canStop"
    (click)="onStopListening()">
    <mat-icon svgIcon="syn:stop_outlined" />
  </button>
  <button
    mat-raised-button
    class="action-btn cc-btn"
    [class.active]="true"
    [disabled]="true">
    <mat-icon svgIcon="syn:closed_caption" />
  </button>
</div>
