.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* gap: 20px; */
  align-self: stretch;

  border-radius: 4px;
  background: var(--background-primary-ffffff, #fff);

  /* Elevation/Simple Drop 2 */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

.content-header {
  display: flex;
  /* height: 54px; */
  padding: 11px 24px;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  border-bottom: 0.8px solid var(--background-secondary-e-1-e-5-ea, #e1e5ea);
}

.header-text {
  flex: 1 0 0;
  color: var(--background-variant-81-e-2225, #1e2225);

  /* Subhead/Subhead - Regular - 16|18 */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}

.reset-button {
  display: flex;
  /* height: 32px; */
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;

  border-radius: 4px;
  background: var(--selection-selected-6-ebeff-5, #ebeff5);
}

.button-text {
  color: var(--background-variant-6475258, #475258);

  /* Body/Body - Regular - 14|24 */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.content-wrapper {
  display: flex;
  padding: 20px 24px;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.select-event-wrapper {
  display: block;
  width: 400px;
}
