@use '../../styles/helpers/mixins' as *;
@use '../../styles/helpers/variables' as *;

.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  border-radius: 4px;
  background: $primary-bg-color;

  box-shadow: $box-shadow-simple-drop-2;
}

.content-wrapper {
  @include d-flex-row;
  padding: 20px 24px;
}

app-main-drop-down {
  width: 240px;
  margin-right: 18px;
}

app-syn-multi-select {
  width: 240px;
  margin-right: 18px;
}

@media (width <= 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .select-event-wrapper {
    width: 100%;
  }

  .select-theme-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }
}
