@use '../../styles/helpers/mixins' as *;
@use '../../styles/helpers/variables' as *;

@mixin filter-dropdown {
  margin-right: 18px;
  max-width: 240px;
  width: calc($right-sidebar-hidden-content-container-width / 3);
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  align-self: stretch;
  border-radius: 4px;
  background: $primary-bg-color;

  box-shadow: $box-shadow-simple-drop-2;
}

.content-wrapper {
  @include d-flex-row;
  padding: 20px 24px;

  &.sidebar-expanded {
    app-syn-multi-select,
    app-syn-single-select {
      width: calc($right-sidebar-expanded-content-container-width / 3);
    }
  }

  &.sidebar-collapsed {
    app-syn-multi-select,
    app-syn-single-select {
      width: calc($right-sidebar-collapsed-content-container-width / 3);
    }
  }
}

app-syn-multi-select,
app-syn-single-select {
  @include filter-dropdown();
}

@media (width <= 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .select-event-wrapper {
    width: 100%;
  }

  .select-theme-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }
}
