<div class="event-content">
  <div class="content-header">
    <div class="header-text">Event Controls</div>
    <div class="reset-button">
      <img class="arrow-down" src="assets/v2-icons/keyboard_arrow_down.svg" alt="" />
      <div class="button-text">Reset to Default</div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="select-event-wrapper">
      <app-main-drop-down dropdownTitle="Select Event" [dropdownContent]="eventNames"></app-main-drop-down>
    </div>
    <app-main-drop-down dropdownTitle="Select Theme"></app-main-drop-down>
    <app-main-drop-down dropdownTitle="Time Window for Real-time Session Insights"></app-main-drop-down>
    <app-main-drop-down dropdownTitle="Time Window for Real-time Session Insights"></app-main-drop-down>
  </div>
  <!-- <app-main-drop-down></app-main-drop-down>
  <app-time-selector></app-time-selector>
  <app-time-selector></app-time-selector> -->
</div>