<div class="event-content">
  <div class="content-wrapper">
    <app-main-drop-down
      [disabled]="true"
      [dropdownContent]="eventNames"
      [selectedValue]="[postData?.eventName]"
      (onDropdownSelect)="handleDropdownSelect($event, PostDataEnum.EventName)"
      dropdownTitle="Select Event"></app-main-drop-down>

    <app-multi-select
      [options]="eventDays()"
      (optionSelected)="onEventDaysSelect($event)"
      label="Select Days"></app-multi-select>

    <app-multi-select
      [options]="eventTracks()"
      (optionSelected)="onEventTracksSelect($event)"
      label="Select Track"></app-multi-select>

    <!-- <app-main-drop-down
      [disabled]="false"
      [dropdownContent]="eventDays()"
      [selectedValue]="[postData?.eventName]"
      (onDropdownSelect)="handleDropdownSelect($event, PostDataEnum.EventName)"
      dropdownTitle="Select Day"></app-main-drop-down> -->
    <!-- <app-main-drop-down
      [dropdownContent]="themeOptions"
      [selectedValue]="[postData?.theme]"
      (onDropdownSelect)="handleDropdownSelect($event, PostDataEnum.Theme)"
      dropdownTitle="Select Theme"></app-main-drop-down> -->
  </div>
</div>
