<div class="layout-side-nav-container">
  <div class="side-nav-items">
    @for (item of filteredMenuItems(); track item.id) {
      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="item.label"
        [routerLink]="item.routerLink"
        routerLinkActive="selected">
        @if (item.isSvg) {
          <mat-icon [svgIcon]="item.icon"></mat-icon>
        } @else {
          <mat-icon>{{ item.icon }}</mat-icon>
        }
      </a>
    }
  </div>
</div>
