<div class="layout-side-nav-container">
  <div class="side-nav-items">
    @if (userRoleRank() > 1) {
      <a
        matTooltip="Admin Dashboard"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/admin"
        routerLinkActive="selected">
        <mat-icon svgIcon="syn:space_dashboard_outlined" />
      </a>
    }
    <!-- TODO:@later Use isAdminUser() as the necessity arises -->
    @if (userRoleRank() > 0) {
      <a
        matTooltip="Insights Editor"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/insights-editor"
        routerLinkActive="selected">
        <mat-icon>dashboard</mat-icon>
      </a>

      <a
        matTooltip="Content Editor"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/content-editor"
        routerLinkActive="selected">
        <mat-icon>description</mat-icon>
      </a>
    }
    @if (isSuperAdmin || isEventOrganizer) {
      <a
        matTooltip="Agenda"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/agenda"
        routerLinkActive="selected">
        <mat-icon>event</mat-icon>
      </a>
    }
  </div>
</div>
