<div class="side-nav-container">
  <div class="product-logo-mark-wrapper">
    <div class="product-logo-mark">
      <img
        alt="Rozie Synopsis Logo"
        src="../../../../../assets/side-nav/rozie-synopsis-logo-mark.svg" />
    </div>
  </div>

  <div class="nav-items">
    @for (item of visibleMenuItems(); track item.id) {
      <a
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="menu-item"
        [matTooltip]="item.label"
        [routerLink]="item.routerLink"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="selected">
        @if (item.isSvg) {
          <mat-icon [svgIcon]="item.icon"></mat-icon>
        } @else {
          <mat-icon>{{ item.icon }}</mat-icon>
        }
      </a>
    }
  </div>
</div>
