<div class="trigger-container" [id]="elementId">
  @if (label) {
    <p class="trigger-label">{{ label() }}</p>
  }
  <div
    #dropdownTrigger="matMenuTrigger"
    class="trigger-view"
    [matMenuTriggerFor]="menu"
    [ngClass]="{ active: dropdownTrigger.menuOpen }">
    <div class="selection-info">
      <p
        #tooltip="matTooltip"
        matTooltipClass="tooltip-text-only"
        matTooltipPosition="after"
        class="selected-label"
        [matTooltip]="
          selectedLabelKey()
            ? (optionsRef | getSelectedOptions)[0][selectedLabelKey()]
            : ((optionsRef | getSelectedOptions)[0]?.label ?? '')
        "
        [matTooltipDisabled]="!isLabelTooltipVisible"
        (overflowChanged)="isLabelTooltipVisible = $event"
        appOverflowDetector>
        @if (fixedOption.isChecked) {
          {{ fixedOption.label }}
        } @else {
          {{
            selectedLabelKey()
              ? (optionsRef | getSelectedOptions)[0][selectedLabelKey()]
              : ((optionsRef | getSelectedOptions)[0]?.label ?? '')
          }}
        }
      </p>
      @if (
        (optionsRef | getSelectedOptions)?.length > 1 && !fixedOption.isChecked
      ) {
        <span class="plus">&nbsp;+</span>
        <p
          class="extra-selection-count"
          [ngClass]="{
            'double-digits': (optionsRef | getSelectedOptions).length - 1 >= 10,
          }">
          {{ (optionsRef | getSelectedOptions).length - 1 }}
        </p>
      }
    </div>
    <img
      alt="arrow_down"
      height="18"
      ngSrc="assets/v2-icons/keyboard_arrow_down.svg"
      width="18" />
  </div>
</div>
<mat-menu
  #menu="matMenu"
  class="multi-select-menu filters{{
    rightSidebarState() === RightSidebarState.Collapsed
      ? ' right-sidebar-collapsed'
      : ''
  }}{{
    rightSidebarState() === RightSidebarState.Expanded
      ? ' right-sidebar-expanded'
      : ''
  }}"
  (closed)="closeDropdown()">
  <input
    class="search-input"
    [(ngModel)]="searchText"
    (click)="$event.stopPropagation()"
    placeholder="Search"
    type="text" />
  <ul class="options-list" (click)="$event.stopPropagation()">
    @if (
      searchText.toLocaleLowerCase().trim() === '' ||
      'all'.includes(searchText.toLocaleLowerCase().trim())
    ) {
      <li>
        <app-syn-elsa-checkbox
          [option]="fixedOption"
          (stateChanged)="onAllOptionToggle($event)"></app-syn-elsa-checkbox>
      </li>
    }
    @for (
      aOption of optionsRef
        | getFilteredDropdownOptions: searchText
        | getCheckboxOptionFromMultiSelect;
      track aOption.label
    ) {
      <li>
        <app-syn-elsa-checkbox
          [option]="aOption"
          (stateChanged)="onCustomOptionToggle($event)"></app-syn-elsa-checkbox>
      </li>
    }
  </ul>
  <div class="dropdown-footer">
    <button class="btn-text-default cancel-btn">Cancel</button>
    <button class="btn-primary-default" (click)="onApplySelection()">
      Apply Filter
    </button>
  </div>
</mat-menu>
