@use '../../styles/helpers/helpers-dir' as *;
@use '../../styles/material/mat-tooltip' as *;

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.select-container {
  @include d-flex-column;
  width: 100%;
}

.trigger-container {
  @include d-flex-column;
  align-items: flex-start;
  width: 100%;

  &.small {
    flex-direction: unset;
    width: 66px;
  }

  .trigger-label {
    @include footnote-medium;
    color: $primary-bg-color-variant-6;
    margin-bottom: 8px;
  }

  .trigger-view {
    .selected-label {
      @include body-regular;
      @include ellipsis;
      color: $primary-bg-color-variant-6;
    }

    .selection-info {
      @include d-flex-row;
      width: calc(100% - 30px);
    }

    &.small {
      height: 25px;
      padding: 0 5px;
      width: calc(100% - 10px);

      .selection-info {
        width: calc(100% - 18px);
      }
    }

    &.active {
      border-color: $primary-color-variant-2;
    }

    & {
      @include d-flex-row;
      justify-content: space-between;
      padding: 0 10px;
      border-radius: 4px;
      border: 1px solid $primary-bg-color-variant-3;
      background-color: $primary-bg-color;
      height: 40px;
      width: calc(100% - 20px);
      cursor: pointer;
    }
  }
}
.plus {
  @include flex-center;
  padding-bottom: 2px;
}

.extra-selection-count {
  &.double-digits {
    width: 26px;
    border-radius: 1000px;
  }

  & {
    @include body-regular;
    @include flex-center;
    color: $primary-bg-color-variant-6;
    width: 18px;
    height: 18px;
    box-shadow: $box-shadow-simple-drop-2;
    border-radius: 100%;
    margin-left: 8px;
  }
}

.search-input {
  @include base-input;
  margin: 0 20px;
  background-color: $primary-bg-color-variant-1;
  width: calc(100% - 60px);
}

.options-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  max-height: 240px;
  overflow-y: scroll;
  padding: 0 20px;
  margin-top: 8px;
  width: calc(100% - 40px);
  scrollbar-gutter: stable;

  li {
    padding: 12px 0;
  }
}

.dropdown-footer {
  @include d-flex-row;
  justify-content: flex-end;
  padding: 12px;
  width: calc(100% - 24px);
}

.btn-primary-default {
  padding: 5px 13px;
}

.cancel-btn {
  padding: 5px 13px;
  background-color: $primary-bg-color-variant-1;
  color: $primary-bg-color-variant-6;
  margin-right: 8px;
  @include callout-semi-bold;
}
