@use '../../styles/helpers/mixins' as *;
@use '../../styles/helpers/variables' as *;

$checkbox-size: 20px;
$checkbox-size: 20px;
$border-radius: 4px;

.checkbox-container {
  @include d-flex-row;
  height: 20px;
  align-items: center;
}

.checkbox-label {
  @include body-regular;
  color: $primary-bg-color-variant-6;
  align-items: center;
  cursor: pointer;
  width: 100%;
  position: relative; // Ensure the label doesn't affect checkbox position
  padding-left: calc($checkbox-size + 12px);
  width: var(--checkbox-label-max-length);
  @include ellipsis;
  display: inline-block;

  .checkbox-input {
    display: none;
  }

  .checkbox-custom {
    width: $checkbox-size;
    height: $checkbox-size;
    border: 1px solid $primary-bg-color-variant-2;
    border-radius: $border-radius;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    &::after {
      content: '';
      position: absolute;
      top: 1px;
      left: 6px;
      width: 6px;
      height: 12px;
      border: solid $primary-bg-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      display: none;
      box-shadow:
        2px 2px 2px rgba(0, 0, 0, 0.14),
        3px 3px 3px rgba(0, 0, 0, 0.12),
        4px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }

  .checkbox-input:checked + .checkbox-custom {
    background-color: $primary-color-variant-2;
    border-color: $primary-color-variant-2;

    &::after {
      display: block;
    }
  }

  &.checked .checkbox-custom {
    background-color: $primary-color-variant-2;
    border-color: $primary-color-variant-2;

    &::after {
      display: block;
    }
  }
}
