<!-- TODO: Refactor this component to make it reusable with any single select scenario  -->

<div class="trigger-container" [id]="elementId">
  @if (uiConfig().label) {
    <p class="trigger-label">{{ uiConfig().label }}</p>
  }
  <div
    #dropdownTrigger="matMenuTrigger"
    #tooltip="matTooltip"
    matTooltipClass="tooltip-text-only-300"
    matTooltipPosition="after"
    class="trigger-view"
    [matMenuTriggerFor]="menu"
    [matTooltip]="selectedOption()?.label ?? ''"
    [matTooltipDisabled]="!isLabelTooltipVisible"
    [ngClass]="{ active: dropdownTrigger.menuOpen, small: size() === 'small' }"
    (blur)="tooltip.hide()"
    (mouseleave)="tooltip.hide()"
    (mouseover)="tooltip.show()"
    aria-label="session selector">
    <p
      class="selected-label"
      [ngClass]="{ small: size() === 'small' }"
      (overflowChanged)="isLabelTooltipVisible = $event"
      appOverflowDetector>
      {{ selectedOption()?.label ?? uiConfig()?.placeholder ?? '' }}
    </p>
    @if (uiConfig()?.isTriggerIconEnabled) {
      <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
    }
  </div>
</div>

<mat-menu
  #menu="matMenu"
  class="{{ uiConfig()?.matMenuClass ?? 'dropdown-menu-single-select' }}{{
    rightSidebarState() === RightSidebarState.Collapsed
      ? ' right-sidebar-collapsed'
      : ''
  }}{{
    rightSidebarState() === RightSidebarState.Expanded
      ? ' right-sidebar-expanded'
      : ''
  }}">
  @if (uiConfig()?.placeholder) {
    <p class="dropdown-placeholder">{{ uiConfig().label }}</p>
  }
  <div
    class="list-filter-container"
    [ngClass]="{
      minimal: uiConfig()?.searchFilerType === 'minimal',
    }"
    (click)="$event.stopPropagation()">
    @if (uiConfig()?.searchFilerType === 'default') {
      <mat-icon class="search-icon">search</mat-icon>
    }
    <form [formGroup]="filterForm">
      <input
        class="search-input"
        formControlName="filterText"
        placeholder="Search"
        type="text" />
    </form>
  </div>
  <ul class="options-list">
    @for (
      aOption of options() | getFilteredDropdownOptions: debouncedFilterText;
      track aOption.key
    ) {
      <li
        #tooltip2="matTooltip"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        [matTooltip]="aOption.label"
        [matTooltipDisabled]="toolTip.scrollWidth <= toolTip.clientWidth"
        (blur)="tooltip2.hide()"
        (click)="onOptionSelect(aOption)"
        (mouseleave)="tooltip2.hide()"
        (mouseover)="tooltip2.show()">
        <p #toolTip class="text">
          {{ aOption.label }}
        </p>
        @if (aOption.metadata?.['isIndicatorActive']) {
          <div class="indicator">
            <mat-icon class="indicator-icon">play_circle_filled</mat-icon>
            <p class="indicator-label">LIVE</p>
          </div>
        }
      </li>
    }
  </ul>
</mat-menu>
