@use 'mixins' as m;
@use 'variables' as v;

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.trigger-container {
  @include m.d-flex-column-align-center;
  align-items: flex-start;
  width: calc(100% - 22px);

  .trigger-label {
    @include m.footnote-medium;
    color: v.$primary-bg-color-variant-6;
    margin-bottom: 8px;
  }
}

.trigger-view {
  .selected-label {
    @include m.body-regular;
    @include m.ellipsis;
    color: v.$primary-bg-color-variant-6;
    width: 100%;

    &.small {
      @include m.caption-regular;
    }
  }

  .arrow-icon {
    width: 18px;
    height: 18px;
    @include m.flex-center;
  }

  &.small {
    height: 25px;
    border: none;
  }

  &.active {
    border-color: v.$primary-color-variant-2;
  }

  & {
    @include m.d-flex-row-align-center;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid v.$primary-bg-color-variant-3;
    background-color: v.$primary-bg-color;
    height: 40px;
    width: calc(100%);
    cursor: pointer;
  }
}

.dropdown-label {
  @include m.body-regular;
  color: v.$primary-bg-color-variant-5;
  padding: 0 16px;
}

.dropdown-placeholder {
  @include m.body-regular;
  color: v.$primary-bg-color-variant-5;
  padding: 0 16px;
}

.list-filter-container {
  @include m.d-flex-row-align-center;
  margin-top: 8px;
  margin: 8px 16px 0;
  padding: 0 20px;
  width: calc(100% - 72px);
  background-color: v.$primary-bg-color;
  border: 1px solid v.$primary-bg-color-variant-2;
  border-radius: 4px;

  .search-icon {
    color: v.$primary-bg-color-variant-5;
    margin-right: 10px;
  }

  > form {
    width: 100%;

    .search-input {
      @include m.base-input;
      @include m.subhead-regular;
      padding: 0;
      width: 100%;
    }
  }

  &.minimal {
    border: none;
    background-color: v.$primary-bg-color-variant-1;
    padding: 0 16px;
    > form {
      .search-input {
        background-color: v.$primary-bg-color-variant-1;
      }
    }
  }
}

.options-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  height: 100%;
  max-height: 240px;
  overflow-y: scroll;
  margin-top: 5px;
  background-color: v.$primary-bg-color;
  width: 100%;

  li {
    padding: 8px 20px;
    margin-top: 9px;
    cursor: pointer;
    @include m.d-flex-row-align-center;
    width: calc(100% - 40px);

    &:hover {
      background-color: v.$selection-variant-1;
    }

    .text {
      @include m.body-regular;
      color: v.$primary-bg-color-variant-6;
      height: 24px;
      @include m.ellipsis;
      width: 100%;
    }

    .indicator {
      height: 24px;
      @include m.d-flex-row-align-center;
      align-items: center;
      padding: 0 4px;
      background-color: v.$secondary-color-variant-9;
      margin-left: 10px;
      border-radius: 8px;

      .indicator-icon {
        width: 12px;
        height: 12px;
        @include m.flex-center;
        color: v.$primary-bg-color;
        border-radius: 100%;
        margin-right: 5px;
      }

      .indicator-label {
        @include m.caption-sm-regular;
        color: v.$primary-bg-color;
      }
    }
  }
}
