@use 'variables' as v;

.syn-input-container {
  width: 100%;

  .syn-input-form-field {
    &.mat-focused {
      border: 1px solid v.$primary-color-variant-2;
      border-radius: v.$button-border-radius;
    }
  }
}
