@if (isVisible) {
  <div class="modal-backdrop">
    <div class="modal-content">
      <div class="title-section">
        <div class="title-left">
          <img class="title-icon" src="assets/v2-icons/warning_amber.svg" alt="" />
          <div class="title-text">{{ title }}</div>
        </div>
        <img (click)="onCancel()" class="close-icon" src="assets/v2-icons/close.svg" alt="" />
      </div>
      <div class="message">{{ message }}</div>
      <div class="modal-actions">
        @if (buttonType === 'yes_no') {
          <div class="yes-button" (click)="onConfirm()">Yes</div>
          <div class="no-button" (click)="onCancel()">No</div>
        } @else {
          <div class="yes-button" (click)="cancelAction()">OK</div>
        }
      </div>
    </div>
  </div>
}