.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--background-primary-ffffff, #fff);
  /* Elevation/16dp */
  box-shadow:
    0px 8px 10px 0px rgba(0, 0, 0, 0.2),
    0px 16px 24px 0px rgba(0, 0, 0, 0.14),
    0px 6px 30px 0px rgba(0, 0, 0, 0.12);
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
}

.title-text {
  color: var(--background-variant-81-e-2225, #1e2225);

  /* Title/Title - Regular - 20|23 */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 115% */
}

.yes-button {
  cursor: pointer;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background: var(--primary-varient-2534-ad-8, #534ad8);
  color: var(--background-primary-ffffff, #fff);
  /* Body/Body - Regular - 14|24 */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.no-button {
  cursor: pointer;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background: var(--selection-selected-6-ebeff-5, #ebeff5);
  color: var(--background-variant-6475258, #475258);
  /* Body/Body - Regular - 14|24 */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.message {
  margin-top: 20px;
  color: var(--background-variant-6475258, #475258);

  /* Body/Body - Regular - 14|24 */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: -0.14px;
}

.title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-icon {
  cursor: pointer;
}
