.main-div {
  margin-top: 20px;
  border-radius: 4px;
  background: var(--background-primary-ffffff, #fff);
  /* Elevation/Simple Drop 2 */
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}
.box-title {
  display: flex;
  padding: 18px 24px;
  align-items: center;
  align-self: stretch;
  border-bottom: 0.8px solid var(--background-secondary-e-1-e-5-ea, #e1e5ea);
}

.dynamic-button-start {
  display: flex;
  height: 32px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background: var(--primary-varient-2534-ad-8, #534ad8);
  color: var(--background-primary-ffffff, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  border: none;
}
.dynamic-button-stop {
  display: flex;
  height: 32px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background: var(--background-variant-3-bfccd-9, #bfccd9);
  color: var(--background-primary-ffffff, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  border: none;
}
.vline {
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 8px;
}
.dynamic-button-End {
  display: flex;
  height: 32px;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  background: var(--secondary-variant-9-ff-3030, #ff3030);
  color: var(--background-primary-ffffff, #fff);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  border: none;
}
.main-title {
  flex: 1 0 0;
  color: var(--background-variant-81-e-2225, #1e2225);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.combine-dropdown {
  display: flex;
  padding: 20px 24px;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  padding: 20px 24px;
  display: flex;
  padding: 20px 24px;

  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.card {
  flex: 1 1 calc(33.333% - 35px);
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  max-width: 400px;
}
.card-combine {
  max-width: 400px;
}
.card-image {
  max-width: 100%;
  height: auto;
}

.card-border {
  margin-top: -4px;
  display: flex;
  padding: 10px 14px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 4px 4px;
  background: linear-gradient(43deg, #22292e -4.79%, #45545c 107.92%);
  gap: 8px;
}
.icon {
  width: 20px;
  height: 20px;
}

.title {
  color: var(--background-primary-ffffff, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.show-button {
  padding: 5px 8px;
  align-items: center;
  border-radius: 4px;
  background: #534ad8;
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 12px;
}

.sessions-wrapper {
  width: 400px;
}
