@forward 'theme';
@forward 'mat-tooltip';
@forward 'mat-tab';
@forward 'mat-menu';
@forward 'mat-toggle';
@forward 'mat-snackbar';
@forward 'mat-select';
@forward 'mat-input';
@forward 'mat-checkbox';
@forward 'mat-table';
