@use 'variables' as v;
@use 'mixins' as m;

.mdc-tooltip.tooltip-text-only {
  @include m.tooltip(unset);

  .mdc-tooltip__surface {
    background-color: transparent;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    min-width: unset;
    max-width: unset;
    min-height: unset;
    @include m.tooltip-body;
    color: v.$primary-bg-color-variant-6;
  }
}

.mdc-tooltip.tooltip-text-only-300 {
  @include m.tooltip(300px);

  .mdc-tooltip__surface {
    background-color: transparent;
    font-weight: inherit;
    letter-spacing: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    min-width: unset;
    max-width: unset;
    min-height: unset;
    @include m.tooltip-body;
    color: v.$primary-bg-color-variant-6;
  }
}
