.custom-snackbar-container {
  .mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: transparent !important;
    --mat-snack-bar-button-color: inherit !important;
    --mat-mdc-snack-bar-button-color: inherit !important;

    .mat-mdc-snack-bar-surface {
      background: transparent !important;
      color: inherit !important;
      padding: 0 !important;
      min-height: auto !important;
    }

    .mat-mdc-snack-bar-label {
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
