// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './config/m3-theme.scss' as m3-theme;

// Theme related imports for other material components in your app.
// @import 'mat-icon.theme';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

$plain-family: 'Lexend, sans-serif';
$brand-family: 'Lexend, sans-serif';
$bold-weight: 600;
$medium-weight: 500;
$regular-weight: 400;

// Define the theme object.
$synopsis-event-insights-theme: mat.define-theme(
  (
    typography: (
      plain-family: $plain-family,
      brand-family: $brand-family,
      bold-weight: $bold-weight,
      medium-weight: $medium-weight,
      regular-weight: $regular-weight,
    ),
    color: (
      theme-type: light,
      primary: m3-theme.$primary,
      tertiary: m3-theme.$tertiary,
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root {
  @include mat.all-component-themes($synopsis-event-insights-theme);
}

// used from /configs/m3-theme.scss. commented due to duplicate definition
// html {
//   @include mat.core-theme(m3-theme.$light-theme);
//   @include mat.button-theme(m3-theme.$light-theme);
// }

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($synopsis-event-insights-theme);
