@use '../../styles/helpers/variables' as *;

.main-content {
  background-color: $primary-bg-color-variant-1;
  height: calc(100% - 70px);
  padding: 20px 20px 20px 90px;
}

.session-wrapper {
  margin-top: 20px;
  padding-bottom: 28px;
}

@media (width <= 767px) {
  .main-content {
    padding-left: 20px;
    height: calc(100% - 110px);
  }
}
