<app-top-bar></app-top-bar>
<div class="main-content">
  <div
    #contentContainer
    id="dashboard-content-container"
    class="content-container">
    <app-event-controls
      [eventNames]="eventNames"
      [postData]="postData"
      [themeOptions]="themeOptions"
      [transcriptTimeOut]="transcriptTimeOut"
      (onReset)="handleReset()"
      (onUpdatePostData)="updatePostData($event)"></app-event-controls>
    <div class="session-wrapper">
      <app-session-content
        [eventControls]="postData"
        [selectedEventProp]="postData.eventName"
        [selectedThemeProp]="postData.theme"
        [transcriptTimeOutProp]="postData.screenTimeout"></app-session-content>
    </div>
  </div>
  <div></div>
  <app-sidebar-control-panel></app-sidebar-control-panel>
</div>
