@use 'variables' as v;
@use 'mixins' as m;

.panel-skeleton-content {
  margin: 1rem;
  @include m.d-flex-column();
  gap: 1rem;

  .skeleton-search-section {
    @include m.d-flex-column();
    gap: 0.5rem;

    .skeleton-search-label {
      width: 60%;
    }
  }

  .skeleton-options-section {
    @include m.d-flex-column();
    gap: 0.5rem;
  }
}
