<div class="panel-skeleton-content">
  <div class="skeleton-search-section">
    <syn-skeleton-loader
      class="skeleton-search-label"
      [count]="1"
      direction="vertical"
      height="1.25rem" />

    <syn-skeleton-loader
      class="skeleton-search-input"
      [count]="1"
      direction="vertical"
      height="2.25rem" />
  </div>

  <div class="skeleton-options-section">
    <syn-skeleton-loader
      class="skeleton-option"
      [count]="4"
      direction="vertical"
      height="2rem" />
  </div>
</div>
