<div class="session-content">
  <!-- <div class="alert-box" [ngClass]="{'success': successMessage, 'failure': failureMessage}">
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
    <div *ngIf="failureMessage" class="alert alert-danger" role="alert">
      {{ failureMessage }}
    </div>
  </div> -->
 
  <!-- <app-top-bar></app-top-bar> -->
    <div class="padding-combine">
      <!-- <app-event-controls></app-event-controls> -->

      <app-screen-display [title]="'Event-Specific Screens'" [showStartListeningButton]="false"
        [showStopScreenButton]="false" [showStopScreenButton]="false" [ShowCombineDropdown]="false"
        [cards]="event_cards"></app-screen-display>
    
    
      <app-screen-display [title]="'Session-Specific Screens'" [showStartListeningButton]="true"
        [showStopScreenButton]="true" [showStopScreenButton]="true" [ShowCombineDropdown]="true"
        [sessionValueDropdown]="true" [subSessionValueDropdown]="false" [cards]="session_cards"
        (startListening)="startListening()" (stopScreen)="stopScreen()" (endSession)="endSession()" ></app-screen-display>
    
    
      <app-screen-display [title]="'Multi-Session Screens'" [showStartListeningButton]="false"
        [showStopScreenButton]="false" [showStopScreenButton]="false" [ShowCombineDropdown]="true"
        [sessionValueDropdown]="false" [subSessionValueDropdown]="true" [cards]="multi_session_card"></app-screen-display>
    </div>
</div>