.content-item {
  margin-bottom: 200px;
}

.screen-display {
  margin-bottom: 20px;
}

.content-item .screen-display {
  margin-top: 20px;
}

.padding-combine {
  margin-top: 20px;
}

.alert-box {
  position: fixed;
  right: 2%;
  top: 2%;
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  width: 80%;
  max-width: 500px;
  z-index: 1000;
}

@media (max-width:767px) {
  .alert-box {
    margin: 0 auto;
    right: 5%;
    left: 5%;
  }
}

.alert {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.transcript {
  margin-top: 20px;
  max-width: 70%;
  overflow: auto;
  font-size: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 500;
  margin-bottom: 20px;
}



@media screen and (max-width: 768px) {
  .content-item {
    margin-bottom: 100px;
  }

  .screen-display {
    margin-bottom: 10px;
  }

  .content-item .screen-display {
    margin-top: 10px;
  }

  .padding-combine {
    margin-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .content-item {
    margin-bottom: 50px;
  }

  .screen-display {
    margin-bottom: 5px;
  }

  .content-item .screen-display {
    margin-top: 5px;
  }

  .padding-combine {
    margin-top: 5px;
  }
}