@use '../../styles/helpers/helpers-dir' as *;

.card-container {
  @include d-flex-column;
  border-radius: 4px;
  align-items: flex-start;
  flex: 1;
  max-height: calc(calc(100% - 96px) / 3 * 0.68);
}

.img-container {
  @include d-flex;
  flex: 1;
  height: 100%;
  > img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 225px;
  }
}

.card-footer {
  @include d-flex-row;
  height: 45px;
  padding: 0 14px;
  border-radius: 0px 0px 4px 4px;
  background-color: $primary-color-variant-2;
  justify-content: space-between;
  width: calc(100% - 28px);
}

.label {
  @include subhead-medium;
  color: $primary-bg-color;
}

.toolbar {
  @include d-flex-row;
}

app-syn-multi-select {
  margin-right: 8px;
}
