@use 'variables' as v;
@use 'mixins' as m;
@use 'functions' as f;
@use '@angular/material' as mat;

.av-workspace-container {
  .av-workspace-nav {
    box-shadow: v.$box-shadow-simple-drop-3;
    @include mat.tabs-overrides(
      (
        active-indicator-height: 0.1875rem,
        active-focus-label-text-color: v.$primary-color-variant-2,
        active-hover-label-text-color: v.$primary-color-variant-2,
        active-label-text-color: v.$primary-color-variant-2,
        inactive-label-text-color: v.$primary-bg-color-variant-6,
      )
    );
  }
}
