@use '../../styles/helpers/helpers-dir' as *;

$session-dropdown-width-right-sidebar-expanded: calc(
  calc(
      100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.77
);
$session-dropdown-width-right-sidebar-collapsed: calc(
  calc(
      100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.77
);
$session-dropdown-width-right-sidebar-hidden: calc(
  calc(100vw - $left-sidebar-collapsed-width - 88px) * 0.77
);

$skeleton-content-width-right-sidebar-expanded: calc(
  calc(
      100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.318
);

$skeleton-content-width-right-sidebar-collapsed: calc(
  calc(
      100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width -
        88px
    ) * 0.318
);

$skeleton-content-width-right-sidebar-hidden: calc(
  calc(100vw - $left-sidebar-collapsed-width - 88px) * 0.318
);

app-syn-single-select {
  width: $session-dropdown-width-right-sidebar-hidden;
  max-width: 756px;
}

.session-selection-container {
  @include d-flex-column;
  align-items: flex-start;
  height: 100%;
}

.header-row {
  @include d-flex-row;
  width: 100%;
  margin: 20px 0;

  &.right-sidebar-expanded {
    app-syn-single-select {
      width: $session-dropdown-width-right-sidebar-expanded;
    }
  }

  &.right-sidebar-collapsed {
    app-syn-single-select {
      width: $session-dropdown-width-right-sidebar-collapsed;
    }
  }
}

.btn-start-listening {
  border-radius: 100px;
  margin-left: 24px;

  &:disabled {
    opacity: 50%;
    background: $primary-color-variant-2;
  }

  > mat-icon {
    @include flex-center;
    width: 16px;
    height: 16px;
    color: $primary-bg-color;
    margin-right: 5px;
    font-size: 16px;
  }

  > p {
    @include caption-regular;
  }
}

.content {
  @include d-flex-row;
  flex-wrap: wrap;
  padding: 20px;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  width: calc(100% - 40px);
}

.sample-skeleton {
  width: $skeleton-content-width-right-sidebar-hidden;
  max-width: 424px;
  height: 100%;
  max-height: 310px;
  background-color: $primary-bg-color-variant-1;
  border-radius: 4px;
  margin-right: 40px;

  &.right-sidebar-expanded {
    width: $skeleton-content-width-right-sidebar-expanded;
  }

  &.right-sidebar-collapsed {
    width: $skeleton-content-width-right-sidebar-collapsed;
  }
}

.session-info-item {
  width: 420px;
  max-height: 270px;
  @include d-flex-column;
  justify-content: flex-end;
  object-fit: cover;
  box-shadow: $box-shadow-simple-drop-2;
  border-radius: 2px;
  margin-right: 20px;
  height: 100%;

  .img {
    @include d-flex;
    width: 420px;
    flex: 1;
    height: 100%;

    > img {
      object-fit: cover;
      position: relative;
      width: calc(100% - 1px);
      height: 100%;
    }
  }

  &.right-sidebar-expanded {
    width: calc(
      calc(
          100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width -
            168px
        ) * 0.5
    );

    .img {
      width: calc(
        calc(
            100vw - $right-sidebar-expanded-width -
              $left-sidebar-collapsed-width - 168px
          ) * 0.5
      );
    }
  }

  // &.right-sidebar-collapsed {
  //   width: calc(
  //     calc(
  //         100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width -
  //           128px
  //       ) * 0.5
  //   );

  //   > img {
  //     max-width: 420px;
  //     width: calc(
  //       calc(
  //           100vw - $right-sidebar-collapsed-width -
  //             $left-sidebar-collapsed-width - 128px
  //         ) * 0.5
  //     );
  //   }
  // }

  .item-footer {
    @include d-flex-row;
    justify-content: space-between;
    padding: 0 14px;
    background-color: $primary-color-variant-2;
    width: calc(100% - 28px);
    border-radius: 0px 0px 2px 2px;
    height: 45px;

    > p {
      @include subhead-medium;
      color: $primary-bg-color;
    }
  }
}
