.custom-dialog-container {
  background-color: white; // Set background color to white
  padding: 0; // Remove default padding to have better control over custom sections
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #e0e0e0; // Add a subtle border for separation
  background-color: #f5f5f5; // Light grey background to highlight the header
}

.dialog-title {
  font-size: 1.5rem;
  margin: 0;
  color: #333;
}

.dialog-header button {
  background: none;
  border: none;
  cursor: pointer;
}

.dialog-body {
  padding: 16px; // Add padding for body content
  mat-form-field {
    width: 100%;
    color: #333 !important;
  }

  .mat-mdc-input-element {
    color: #333 !important;
  }
}

.topic-item {
  margin-bottom: 8px;
}

.dialog-footer {
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e0e0e0; // Add a border to separate footer
  background-color: #f5f5f5; // Light grey background to highlight the footer
}

.form-label {
  color: #333;
}
