<app-layout-main title="Rozie Synopsis - Insights Editor">
  <div class="insights-editor-container">
    <!-- Side Panel -->
    <div class="side-panel">
      <mat-card>
        <mat-card-content>
          <!-- Filters -->
          <div class="filters">
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Day</mat-label>
                <mat-select
                  [(value)]="selected_day"
                  (selectionChange)="filterTracksByDay()">
                  @for (day of uniqueDays; track day) {
                    <mat-option [value]="day">{{ day }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Track</mat-label>
                <mat-select
                  [(value)]="selected_track"
                  (selectionChange)="filterSessionsByTrack()">
                  @for (track of availableTracks; track track) {
                    <mat-option [value]="track">{{ track }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Session List -->
          <div class="session-list">
            @for (session of filtered_sessions; track session) {
              <div
                class="session-item"
                [ngClass]="{
                  'session-item-selected':
                    session.SessionId === selected_session,
                }"
                (click)="selectSession(session)">
                <div class="session-info">
                  <span class="session-title">{{ session.SessionTitle }}</span>
                  @if (
                    session.Status === EventStatus.UnderReview &&
                    !session.Editor
                  ) {
                    <span
                      class="session-status-badge"
                      [ngClass]="getStatusClass(session.Status)">
                      To Review
                    </span>
                  }
                  @if (
                    session.Status === EventStatus.UnderReview && session.Editor
                  ) {
                    <span
                      class="session-status-badge"
                      [ngClass]="getStatusClass(session.Status)"
                      style="background-color: rgb(156 106 255)">
                      In Review
                    </span>
                  }
                  @if (session.Status === EventStatus.ReviewComplete) {
                    <span
                      class="session-status-badge"
                      [ngClass]="getStatusClass(session.Status)"
                      style="background-color: rgb(0, 161, 94)">
                      Completed
                    </span>
                  }
                  @if (session.Status === EventStatus.ProcessingInsights) {
                    <span
                      class="session-status-badge processing-insights-badge"
                      [ngClass]="getStatusClass(session.Status)">
                      <mat-icon class="processing-insights-icon"
                        >settings</mat-icon
                      >
                      Processing Insights
                    </span>
                  }
                </div>
                @if (session.SessionId !== selected_session) {
                  <mat-icon class="session-icon">chevron_right</mat-icon>
                }
              </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <!-- Main Editor Container -->
    <div class="editor-container">
      <div class="col-lg-12">
        <mat-card class="editor-content">
          @if (dataLoaded || isLoading) {
            <mat-card-content>
              @if (isLoading) {
                <div class="loading-container">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
              }
              @if (!isLoading && dataLoaded) {
                <div>
                  <!-- Session Details -->
                  <div class="session-details">
                    <div class="session-header">
                      <h2>{{ title }}</h2>
                    </div>
                    <div style="display: flex; flex-direction: row">
                      <mat-card class="event-card">
                        <mat-card-content>
                          <div class="event-info-grid">
                            <div class="event-info-row">
                              <div class="event-info-item">
                                <mat-icon>place</mat-icon>
                                <span>{{
                                  selected_session_details.Location
                                }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>event</mat-icon>
                                <span>{{
                                  selected_session_details.StartsAt
                                }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>layers</mat-icon>
                                <span>{{
                                  selected_session_details.Event
                                }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>alarm_on</mat-icon>
                                <span>{{
                                  selected_session_details.Duration
                                }}</span>
                              </div>
                            </div>
                            <div class="event-info-row">
                              <div class="event-info-item">
                                <mat-icon>fact_check</mat-icon>
                                <span>{{
                                  selected_session_details.SessionId
                                }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>layers</mat-icon>
                                <span>{{ selected_session_details.Type }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>stacked_line_chart</mat-icon>
                                <span>{{
                                  selected_session_details.Track
                                }}</span>
                              </div>
                              <div class="event-info-item">
                                <mat-icon>person</mat-icon>
                                <span>{{
                                  selected_session_details.Editor
                                }}</span>
                              </div>
                            </div>
                            <div style="flex: 1">
                              <div style="display: flex">
                                @if (
                                  selected_session_details.Status ===
                                    EventStatus.UnderReview &&
                                  !selected_session_details.Editor
                                ) {
                                  <span
                                    class="session-status-badge"
                                    [ngClass]="
                                      getStatusClass(
                                        selected_session_details.Status
                                      )
                                    ">
                                    To Review
                                  </span>
                                }
                                @if (
                                  selected_session_details.Status ===
                                    EventStatus.UnderReview &&
                                  selected_session_details.Editor
                                ) {
                                  <span
                                    class="session-status-badge"
                                    [ngClass]="
                                      getStatusClass(
                                        selected_session_details.Status
                                      )
                                    "
                                    style="background-color: rgb(156 106 255)">
                                    In Review
                                  </span>
                                }
                                @if (
                                  selected_session_details.Status ===
                                  EventStatus.ReviewComplete
                                ) {
                                  <span
                                    class="session-status-badge"
                                    [ngClass]="
                                      getStatusClass(
                                        selected_session_details.Status
                                      )
                                    "
                                    style="background-color: rgb(0, 161, 94)">
                                    Completed
                                  </span>
                                }
                                @if (
                                  selected_session_details.Status ===
                                  EventStatus.ProcessingInsights
                                ) {
                                  <span
                                    class="session-status-badge processing-insights-badge"
                                    [ngClass]="
                                      getStatusClass(
                                        selected_session_details.Status
                                      )
                                    ">
                                    <mat-icon class="processing-insights-icon"
                                      >settings</mat-icon
                                    >
                                    Processing Insights
                                  </span>
                                }
                              </div>
                            </div>
                          </div>
                        </mat-card-content>
                      </mat-card>
                      <!-- Status and Actions -->
                      <div class="status-container">
                        @if (isEditorMode) {
                          <p class="edit-mode">Edit Mode</p>
                        }
                        @if (!isEditorMode) {
                          <button
                            mat-raised-button
                            (click)="enableEditMode()"
                            color="primary">
                            Edit Debrief
                          </button>
                        }
                        <p style="text-align: center">
                          Enable edit mode to edit the debrief
                        </p>
                      </div>
                    </div>
                  </div>
                  <div style="display: flex; flex-direction: row-reverse">
                    <div class="action-buttons">
                      <button
                        mat-raised-button
                        (click)="openLargeModal()"
                        color="primary">
                        View Original Debrief
                      </button>
                      <button
                        mat-raised-button
                        (click)="openTranscriptModal()"
                        color="primary">
                        View Transcript
                      </button>
                    </div>
                  </div>
                  <!-- Summary -->
                  <div class="section">
                    <h3>Summary</h3>
                    <mat-form-field class="full-width" appearance="fill">
                      <textarea
                        matInput
                        [disabled]="!isEditorMode"
                        [(ngModel)]="summary"
                        rows="3"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="row">
                    <!-- Key Takeaways -->
                    <div class="section">
                      <h3>Key Takeaways</h3>
                      @for (item of keytakeaways; track i; let i = $index) {
                        <div class="item-row">
                          <mat-form-field class="flex-grow" appearance="fill">
                            <textarea
                              matInput
                              [disabled]="!isEditorMode"
                              [ngModel]="item"
                              (ngModelChange)="onKeyTakeawayChange($event, i)"
                              rows="2"></textarea>
                          </mat-form-field>
                          @if (isEditorMode) {
                            <button
                              mat-icon-button
                              (click)="removeKeytakeaway(i)"
                              color="warn">
                              <mat-icon>delete</mat-icon>
                            </button>
                          }
                        </div>
                      }
                      @if (keytakeaways.length === 0) {
                        <p>No Key Takeaways Available!</p>
                      }
                      @if (isEditorMode) {
                        <button
                          mat-raised-button
                          (click)="addNewKeytakeaway()"
                          color="primary">
                          + Add New Key Takeaway
                        </button>
                      }
                    </div>
                    <!-- Insights -->
                    <div class="section">
                      <h3>Recommendations</h3>
                      @for (item of insights; track item; let i = $index) {
                        <div class="item-row">
                          <mat-form-field class="flex-grow" appearance="fill">
                            <textarea
                              matInput
                              [disabled]="!isEditorMode"
                              [ngModel]="insights[i]"
                              (ngModelChange)="onInsightChange($event, i)"
                              rows="2"></textarea>
                          </mat-form-field>
                          @if (isEditorMode) {
                            <button
                              mat-icon-button
                              (click)="removeInsight(i)"
                              color="warn">
                              <mat-icon>delete</mat-icon>
                            </button>
                          }
                        </div>
                      }
                      @if (insights.length === 0) {
                        <p>No Insights Available!</p>
                      }
                      @if (isEditorMode) {
                        <button
                          mat-raised-button
                          (click)="addNewInsight()"
                          color="primary">
                          + Add New Insight
                        </button>
                      }
                    </div>
                  </div>
                  <div class="row">
                    <div class="section">
                      <h3>Trends</h3>
                      @for (item of trends; track item.title; let i = $index) {
                        <div
                          style="
                            margin-bottom: 40px;
                            padding-bottom: 10px;
                            border-bottom: 3px solid #7e7e7e;
                          ">
                          <mat-form-field class="flex-grow" appearance="fill">
                            <input
                              matInput
                              id="speakers-input-title-{{ i }}"
                              [disabled]="!isEditorMode"
                              [(ngModel)]="trends[i].title"
                              type="text" />
                          </mat-form-field>
                          <mat-form-field class="flex-grow" appearance="fill">
                            <textarea
                              matInput
                              id="speakers-input-description-{{ i }}"
                              [disabled]="!isEditorMode"
                              [(ngModel)]="trends[i].description"
                              rows="2"
                              type="text"></textarea>
                          </mat-form-field>
                        </div>
                      }
                      @if (trends.length === 0) {
                        <div class="col-lg-12 mt-2">
                          <p>No Trends Available!</p>
                        </div>
                      }
                    </div>
                    <!-- Topics -->
                    <div class="section">
                      <h3>Topics</h3>
                      @for (item of topics; track item; let i = $index) {
                        <div class="item-row">
                          <mat-form-field class="flex-grow" appearance="fill">
                            <input
                              matInput
                              id="topic-input-{{ i }}"
                              [disabled]="!isEditorMode"
                              [ngModel]="topics[i]"
                              (ngModelChange)="onTopicChange($event, i)" />
                          </mat-form-field>
                          @if (isEditorMode) {
                            <button
                              mat-icon-button
                              (click)="removeTopic(i)"
                              color="warn">
                              <mat-icon>delete</mat-icon>
                            </button>
                          }
                        </div>
                      }
                      @if (topics.length === 0) {
                        <p>No Topics Available!</p>
                      }
                      @if (isEditorMode) {
                        <button
                          mat-raised-button
                          (click)="addNewTopic()"
                          color="primary">
                          + Add New Topic
                        </button>
                      }
                    </div>
                  </div>
                  <div>
                    <div class="section">
                      <h3>Realtime Insights</h3>
                      @for (
                        item of realtimeinsights;
                        track item.Timestamp;
                        let i = $index
                      ) {
                        <div>
                          @for (
                            rinsight of item.Insights;
                            track rinsight;
                            let j = $index
                          ) {
                            <div
                              style="
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                              ">
                              <mat-form-field
                                class="flex-grow"
                                appearance="fill">
                                <textarea
                                  matInput
                                  id="speakers-input-{{ i }}-{{ j }}"
                                  [disabled]="!isEditorMode"
                                  [ngModel]="item.Insights[j]"
                                  (ngModelChange)="
                                    onRealtimeInsightChange($event, i, j)
                                  "
                                  type="text"></textarea>
                              </mat-form-field>
                            </div>
                          }
                        </div>
                      }
                      @if (realtimeinsights.length === 0) {
                        <div class="col-lg-12 mt-2">
                          <p>No Realtime Insights Available!</p>
                        </div>
                      }
                    </div>
                  </div>
                  <!-- Footer Actions -->
                  @if (isEditorMode) {
                    <div class="footer-action-bar">
                      <div
                        class="editorial-status"
                        style="display: flex; flex-direction: row-reverse">
                        <mat-form-field
                          appearance="fill"
                          style="max-width: 400px">
                          <mat-label>Editorial Status</mat-label>
                          <mat-select
                            [(value)]="selected_session_details.Status">
                            <mat-option [value]="EventStatus.UnderReview"
                              >In Review</mat-option
                            >
                            <mat-option [value]="EventStatus.ReviewComplete"
                              >Review Complete</mat-option
                            >
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <button
                        mat-raised-button
                        (click)="saveEdits()"
                        color="accent"
                        style="margin-bottom: 30px">
                        Save Debrief
                      </button>
                    </div>
                  }
                </div>
              }
            </mat-card-content>
          }
        </mat-card>
      </div>
    </div>
  </div>
</app-layout-main>
