<mat-dialog-content class="custom-dialog-container">
  <div class="dialog-header">
    @if (data.type === 'debrief') {
      <h2 class="dialog-title">Original Debrief</h2>
    }
    @if (data.type === 'transcript') {
      <h2 class="dialog-title">Transcript</h2>
    }
    <button mat-icon-button (click)="onClose()" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="dialog-body">
    <!-- Transcript Section -->
    @if (data.type === 'transcript') {
      <div
        [innerHTML]="sanitizedText"
        style="color: black; white-space: pre-wrap"></div>
    }

    <!-- Debrief Section -->
    @if (data.type === 'debrief') {
      <!-- Summary -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Summary</mat-label>
        <textarea
          matInput
          [(ngModel)]="data.summary"
          disabled
          rows="3"></textarea>
      </mat-form-field>
      <!-- Key Takeaways -->
      <div class="section">
        <h3>Key Takeaways</h3>
        @for (item of data.keytakeaways; track item; let i = $index) {
          <mat-form-field class="full-width" appearance="fill">
            <textarea
              matInput
              [(ngModel)]="data.keytakeaways[i]"
              disabled
              rows="2"></textarea>
          </mat-form-field>
        }
        @if (data.keytakeaways.length === 0) {
          <p>No Key Takeaways Available!</p>
        }
      </div>
      <!-- Insights -->
      <div class="section">
        <h3>Insights</h3>
        @for (item of data.insights; track item; let i = $index) {
          <mat-form-field class="full-width" appearance="fill">
            <textarea
              matInput
              [(ngModel)]="data.insights[i]"
              disabled
              rows="2"></textarea>
          </mat-form-field>
        }
        @if (data.insights.length === 0) {
          <p>No Insights Available!</p>
        }
      </div>
      <!-- Topics -->
      <div class="section">
        <h3>Topics</h3>
        @for (item of data.topics; track item; let i = $index) {
          <mat-form-field class="full-width" appearance="fill">
            <input
              matInput
              id="topic-input-{{ i }}"
              [(ngModel)]="data.topics[i]"
              disabled />
          </mat-form-field>
        }
        @if (data.topics.length === 0) {
          <p>No Topics Available!</p>
        }
      </div>
    }
  </div>

  <div class="dialog-footer">
    <button mat-button (click)="onClose()">Close</button>
  </div>
</mat-dialog-content>
