.login-footer {
    display: none;
}

@media (max-width: 768px) {

   
    .login-footer {
        display: flex;
        font-size: small;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff;
        padding-top: 2rem;
        padding-bottom: 20px;
        margin-left: 0;
        overflow-x: hidden;
        width: 100%;
    }

    .rights,
    .Privacy,
    .social-media .terms {
        display: flex;
        color: var(--background-variant-7343536, #343536);
        font-family: Lexend;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }

    .rights {
        margin-right: 10px;
    }

    .Privacy {
        margin-right: 10px;
        margin-left: 10px;
    }

    .social-media {
        margin-left: 30px;
    }

    .social-media {
        display: flex;
        margin-right: 9px;
        margin-left: 9px;

    }

    .Privacy a,
    .terms a {
        text-decoration: none;
        color: var(--background-variant-7343536, #343536);
        font-family: Lexend;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
    }
}