<div class="session-selection-container">
  <div
    class="header-row"
    [ngClass]="{
      'right-sidebar-expanded':
        rightSidebarState() === RightSidebarState.Expanded,
      'right-sidebar-collapsed':
        rightSidebarState() === RightSidebarState.Collapsed,
    }">
    <div class="step-number-wrapper" [class.disabled]="autoAvEnabled()">
      <div class="step-number">1</div>
    </div>

    <app-syn-single-select
      [class.disabled]="autoAvEnabled() || !selectedStage()"
      [disabled]="autoAvEnabled() || !selectedStage()"
      [options]="availableSessions()"
      [selectedOption]="activeSession()"
      [uiConfig]="{
        placeholder: 'Select Session',
        isTriggerIconEnabled: true,
        searchFilerType: 'default',
        matMenuClass: 'session-selection-menu',
      }"
      (dropdownOpened)="onDropdownOpen()"
      (optionSelected)="onOptionSelect($event)">
    </app-syn-single-select>
  </div>

  <div class="content">
    <div class="content-steps-container">
      <div class="content-step">
        <div class="step-number-wrapper">
          <div class="step-number">2</div>
        </div>

        <div class="step-details">
          <div class="step-label">
            Do you want to project the session on a physical screen?
          </div>
          <mat-slide-toggle
            [checked]="isProjectOnPhysicalScreen()"
            [class.disabled]="
              (!autoAvEnabled() && activeSession() === null) ||
              _isToggleProcessing()
            "
            [disabled]="
              (!autoAvEnabled() && activeSession() === null) ||
              _isToggleProcessing()
            "
            (change)="onProjectingToggleChange()">
          </mat-slide-toggle>

          @if (isProjectOnPhysicalScreen()) {
            <a
              class="open-link"
              [attr.data-id]="getSessionUrl"
              [href]="getSessionUrl"
              (click)="openSessionInNewWindow()"
              data-type="URL"
              rel="noopener noreferrer"
              target="_blank">
              Open Screen to Project
            </a>

            <button
              mat-icon-button
              matTooltip="Click to copy URL"
              class="copy-icon-button"
              (click)="copyToClipboard()">
              <mat-icon>content_copy</mat-icon>
            </button>
          }
        </div>
      </div>

      <div class="content-step" [class.disabled]="autoAvEnabled()">
        <div class="step-number-wrapper">
          <div class="step-number">3</div>
        </div>
        <div class="step-details">
          <button
            class="btn-primary-default btn-start-listening"
            [disabled]="autoAvEnabled() || activeSession() === null"
            (click)="onStartListening()">
            <mat-icon>settings_voice</mat-icon>
            <p>Start Listening</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
