@use 'mixins' as m;
@use 'variables' as v;

// #region commented due to the use of the new design
// $session-dropdown-width-right-sidebar-expanded: calc(
//   calc(
//       100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width -
//         88px
//     ) * 0.77
// );
// $session-dropdown-width-right-sidebar-collapsed: calc(
//   calc(
//       100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width -
//         88px
//     ) * 0.77
// );
// $session-dropdown-width-right-sidebar-hidden: calc(
//   calc(100vw - $left-sidebar-collapsed-width - 88px) * 0.77
// );
// #endregion

$skeleton-content-width-right-sidebar-expanded: calc(
  calc(
      100vw - v.$right-sidebar-expanded-width - v.$left-sidebar-collapsed-width -
        88px
    ) * 0.318
);

$skeleton-content-width-right-sidebar-collapsed: calc(
  calc(
      100vw - v.$right-sidebar-collapsed-width - v.$left-sidebar-collapsed-width -
        88px
    ) * 0.318
);

$skeleton-content-width-right-sidebar-hidden: calc(
  calc(100vw - v.$left-sidebar-collapsed-width - 88px) * 0.318
);

app-syn-single-select {
  width: 100%;
}

.session-selection-container {
  @include m.d-flex-column-align-center;
  align-items: flex-start;
  height: 100%;
}

.header-row {
  @include m.d-flex-row-align-center;
  gap: v.$stepper-content-gap;
  width: 100%;
  margin: 20px 0;
}

.step-number-wrapper {
  .step-number {
    width: v.$stepper-content-number-size;
    height: v.$stepper-content-number-size;
    @include m.flex-center;
    border-radius: 100px;
    border: 1px solid v.$primary-color-variant-2;
    background-color: v.$secondary-color-variant-6;
    color: v.$primary-color-variant-2;
  }
}

.btn-start-listening {
  height: 40px;

  > mat-icon {
    @include m.flex-center;
    width: 16px;
    height: 16px;
    color: v.$primary-bg-color;
    margin-right: 5px;
    font-size: 16px;
  }
}

.content {
  @include m.d-flex-row-align-center;
  flex-wrap: wrap;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  width: 100%;

  .content-steps-container {
    width: 100%;
    @include m.d-flex;
    flex-direction: column;
    gap: 1.125rem;

    .content-step {
      @include m.d-flex-row-align-center;
      gap: v.$stepper-content-gap;
      height: 2.5rem;

      .step-details {
        @include m.d-flex-row-align-center;
        gap: 1rem;

        .step-label {
          font-family: v.$base-font !important;
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
          color: v.$primary-bg-color-variant-6;
        }

        .open-link {
          color: v.$primary-color-variant-2;
        }

        .copy-icon-button {
          color: v.$primary-color-variant-2;
        }
      }
    }
  }
}
