@use '../../styles/helpers/helpers-dir' as *;
@use '../../styles/material/mat-tooltip' as *;
@use '../../styles/material/mat-menu' as *;

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.trigger-view {
  .selected-label {
    @include body-regular;
    @include ellipsis;
    color: $primary-bg-color-variant-6;
    width: calc(100% - 28px);
  }

  .arrow-icon {
    width: 18px;
    height: 18px;
    @include flex-center;
  }

  &.active {
    border-color: $primary-color-variant-2;
  }

  & {
    @include d-flex-row;
    justify-content: space-between;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid $primary-bg-color-variant-3;
    background-color: $primary-bg-color;
    height: 40px;
    // width: calc(100% - 20px);
    cursor: pointer;
  }
}

.dropdown-label {
  @include body-regular;
  color: $primary-bg-color-variant-5;
  padding: 0 16px;
}

.list-filter-container {
  @include d-flex-row;
  margin-top: 8px;
  margin: 8px 16px 0;
  padding: 0 20px;
  width: calc(100% - 72px);
  background-color: $primary-bg-color;
  border: 1px solid $primary-bg-color-variant-2;
  border-radius: 4px;

  .search-icon {
    color: $primary-bg-color-variant-5;
    margin-right: 10px;
  }

  > form {
    width: 100%;

    .search-input {
      @include base-input;
      @include subhead-regular;
      padding: 0;
      width: 100%;
    }
  }
}

.options-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  height: 100%;
  max-height: 240px;
  overflow-y: scroll;
  margin-top: 5px;
  background-color: $primary-bg-color;
  width: 100%;

  li {
    padding: 8px 20px;
    margin-top: 9px;
    cursor: pointer;
    @include d-flex-row;
    width: calc(100% - 40px);

    &:hover {
      background-color: $selection-variant-1;
    }

    .text {
      @include body-regular;
      color: $primary-bg-color-variant-6;
      height: 24px;
      @include ellipsis;
      width: calc(52.5vw - 50px);
      max-width: 706px;

      &.indicator-visible {
        width: calc(52.5vw - 106px);
        max-width: 706px;
      }
    }

    .indicator {
      height: 24px;
      @include d-flex-row;
      align-items: center;
      padding: 0 4px;
      background-color: $secondary-color-variant-9;
      margin-left: 10px;
      border-radius: 8px;

      .indicator-icon {
        width: 12px;
        height: 12px;
        @include flex-center;
        color: $primary-bg-color;
        border-radius: 100%;
        margin-right: 5px;
      }

      .indicator-label {
        @include caption-sm-regular;
        color: $primary-bg-color;
      }
    }
  }
}
