<!-- TODO: Refactor this component to make it reusable with any single select scenario  -->
<div
  #dropdownTrigger="matMenuTrigger"
  #tooltip="matTooltip"
  matTooltipClass="tooltip-text-only-300"
  matTooltipPosition="after"
  class="trigger-view"
  [matMenuTriggerFor]="menu"
  [matTooltip]="selectedOption()?.label ?? ''"
  [matTooltipDisabled]="!isLabelTooltipVisible"
  [ngClass]="{ active: dropdownTrigger.menuOpen }"
  (blur)="tooltip.hide()"
  (mouseleave)="tooltip.hide()"
  (mouseover)="tooltip.show()"
  aria-label="session selector">
  <p
    class="selected-label"
    (overflowChanged)="isLabelTooltipVisible = $event"
    appOverflowDetector>
    {{ selectedOption()?.label ?? 'Select Session' }}
  </p>
  <mat-icon class="arrow-icon">keyboard_arrow_down</mat-icon>
</div>

<mat-menu #menu="matMenu" class="session-selection-menu">
  <p class="dropdown-label">Select Session</p>
  <div class="list-filter-container" (click)="$event.stopPropagation()">
    <mat-icon class="search-icon">search</mat-icon>
    <form [formGroup]="filterForm">
      <input
        class="search-input"
        form
        formControlName="filterText"
        placeholder="Search"
        type="text" />
    </form>
  </div>
  <ul class="options-list">
    @for (
      aOption of options() | getFilteredDropdownOptions: debouncedFilterText;
      track aOption.key
    ) {
      <li
        #tooltip2="matTooltip"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        [matTooltip]="aOption.label"
        [matTooltipDisabled]="toolTip.scrollWidth <= toolTip.clientWidth"
        (blur)="tooltip2.hide()"
        (click)="onOptionSelect(aOption)"
        (mouseleave)="tooltip2.hide()"
        (mouseover)="tooltip2.show()">
        <p
          #toolTip
          class="text"
          [ngClass]="{
            'indicator-visible': aOption.metadata['isIndicatorActive'],
          }">
          {{ aOption.label }}
        </p>
        @if (aOption.metadata['isIndicatorActive']) {
          <div class="indicator">
            <mat-icon class="indicator-icon">play_circle_filled</mat-icon>
            <p class="indicator-label">LIVE</p>
          </div>
        }
      </li>
    }
  </ul>
</mat-menu>
