.title{
    color: var(--background-variant-81-e-2225, #1E2225);


font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.085px;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .container {
    border-radius: 10px;
    background: var(--background-primary-ffffff, #FFF);
    box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px; 
  }
  
  .newPasswordClass {
    text-align: center;
  }
  
  .newPasswordClass h1 {
    margin-top: 0;
  }
  
  .newPasswordClass form {
    display: flex;
    flex-direction: column;
  }
  
  .newPasswordClass input {
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .newPasswordClass button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .newPasswordClass button:hover {
    background-color: #0056b3;
  }