<div class="main"> 
  <div class="newPassword">
    <div class="container">
     <div class="title "style="text-align: center;">
          <p>New Password</p>
     </div>

      <div class="newPasswordClass">
        <form>
          <input type="password" placeholder="Current password" id="currentpassword" name="currentpassword" ngModel
            #codeInput="ngModel" [(ngModel)]="currentpassword">
          <input type="password" placeholder="New Password" id="newPassword" name="newPassword" ngModel
            #passwordInput="ngModel" [(ngModel)]="newPassword">
          <input type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" ngModel
            #confirmpasswordInput="ngModel" [(ngModel)]="confirmPassword">

          <button (click)="confirmPasswordReset()" type="submit">RESET</button>
        </form>
      </div>

    </div>
  </div>
</div>