<div class="main-div">
  <div class="box-title">
    <span class="main-title">{{ title }}</span>
    <div class="button-container">
      @if (showStartListeningButton) {
        <button
          class="dynamic-button-start"
          [disabled]="isSessionInProgress"
          (click)="onStartListening()">
          <img
            class="button-icon"
            alt="Start Listening Icon"
            src="../../../../assets/admin-screen/mic_none.svg" />
          <span class="button-text">Start Listening</span>
        </button>
      }
      @if (showStopScreenButton) {
        <button
          class="dynamic-button-stop"
          [disabled]="!isSessionInProgress"
          (click)="onStopListening()">
          <img
            class="button-icon"
            alt="Stop Screen Icon"
            src="../../../../assets/admin-screen/stop.svg" />
          <span class="button-text">Pause Listening</span>
        </button>
      }
      <div class="vline">
        <img
          alt="vertical v line"
          src="../../../../assets/admin-screen/vline.svg" />
      </div>
      @if (showStopScreenButton) {
        <button class="dynamic-button-End" (click)="onEndSession()">
          <img
            class="button-icon"
            alt="Stop Screen Icon"
            src="../../../../assets/admin-screen/close.svg" />
          <span class="button-text">{{ getEndButtonText() }}</span>
        </button>
      }
    </div>
  </div>

  @if (ShowCombineDropdown) {
    <div class="combine-dropdown">
      <div class="session-day-wrapper">
        <app-main-drop-down
          [dropdownContent]="eventDays"
          [selectedValue]="[sessionDay]"
          (onDropdownSelect)="handleSessionDayDropdownSelect($event)"
          dropdownTitle="Select Day"></app-main-drop-down>
      </div>
      @if (sessionValueDropdown) {
        <div>
          <div class="sessions-wrapper">
            <app-main-drop-down
              [disabled]="
                type === ScreenDisplayType.SessionSpecific &&
                isSessionInProgress
              "
              [dropdownContent]="sessionTitles"
              [selectedValue]="selectedSessions"
              (onDropdownSelect)="handleSelectSessionSelect($event)"
              dropdownTitle="Select Session"></app-main-drop-down>
            <!-- session value -->
          </div>
        </div>
      }
      @if (subSessionValueDropdown) {
        <div>
          <div class="sessions-wrapper">
            <app-main-drop-down
              [dropdownContent]="sessionTitles"
              [selectedValue]="selectedSessions"
              (onDropdownSelect)="handleSelectSessionsSelect($event)"
              dropdownTitle="Select Sessions"
              type="t4"></app-main-drop-down>
          </div>
        </div>
      }
    </div>
  }

  <div class="card-container">
    @for (card of cards; track card) {
      <div class="card">
        <div class="card-combine">
          <img class="card-image" [src]="card.imageUrl" alt="Card image" />
          <div class="card-border">
            @if (card.icon) {
              <img class="icon" [src]="card.icon" alt="Icon" />
            }
            <span class="title">{{ card.title }}</span>
            <div class="button-container">
              @if (shoEventDropDown && card.daySelector) {
                <div class="day-selector">
                  <app-main-drop-down
                    [dropdownContent]="eventDays"
                    [selectedValue]="[eventDay[card.cardType]]"
                    (onDropdownSelect)="
                      handleEventDayDropdownSelect($event, card.cardType)
                    "
                    type="t3"></app-main-drop-down>
                </div>
              }
              <button
                class="show-button"
                (click)="cardDisplayFunction(card.displayFunction)">
                Display
              </button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>
