<div class="login-footer">
  <div class="rights">© {{ copyrightYear }} Rozie Synopsis.</div>
  <div class="Privacy">
    <a
      href="../../../../assets/docs/RozieAI+Privacy+Policy_web_version_v1.pdf"
      target="_blank">
      Privacy Policy
    </a>
  </div>

  <div class="social-media">
    <a href="https://x.com/roziesynopsis" rel="noreferrer" target="_blank">
      <img alt="Twitter" src="../../../assets/login/x.svg" />
    </a>
    <a
      href="https://www.linkedin.com/company/rozie-synopsis"
      rel="noopener noreferrer"
      target="_blank">
      <img alt="LinkedIn" src="../../../../assets/login/linkedin.svg" />
    </a>
  </div>
</div>
