.stream-mic-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}
.img-wrapper{
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    
}
img{
    height: 100px;
    width: 100px;
}
.main-div{
    position: absolute;
    bottom: 50px;
}
.transcription-output{
    font-size: 40px;
    text-align: center;
    color: white;
}
.voice-input{
    display: flex;
    width: 100vw;
    padding: 12px 0px 23px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: -10px;
    position: relative;

    .flex-column{
        display: flex;
        flex-direction: column;
        row-gap: -1px;
    }
    .flex{
      display: flex;
          justify-content: center;
        align-items: center;
        height: 200px;
        position: absolute;
        opacity: 0.4;

    }
    
    .microphone-icon-circle{
      position: absolute;
      font-size: 20px;
      border-radius: 50%;
      overflow: visible;
      text-align: center;
      vertical-align: center;
      background-color: #1565c0;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
      transition: background-color 2s ease;
    
      .mic_none{
        display: block;
      }
    
      .mic_off{
        display: none;
      }
    }
    
    .error .microphone-icon-circle{
      background-color: red;
      .mic_none{
        display: none;
      }
    
      .mic_off{
        display: block;
      }
    }
    
    .recording-circle-100{
      width: 100px;
      height: 100px;
      background-color: #1565C0;
      border: 0px solid #BBDEFB;
      z-index:3;
      animation: recording-circle1 2s infinite;
    }
    
    .recording-circle-120{
      width: 120px;
      height: 120px;
      background-color: #1565C0;
      border: 0px solid #BBDEFB;
      z-index:2;
      animation: recording-circle2 2s infinite;
    }
    
    .recording-circle-150{
      width: 150px;
      height: 150px;
      background-color: #1565C0;
      border: 0px solid #BBDEFB;
      z-index:1;
      animation: recording-circle3 2s infinite;
    }
    
    .recording-circle{
      position: absolute;
    
      font-size: 20px;
      border-radius: 50%;
      overflow: visible;
      text-align: center;
      vertical-align: center;
      transition: border .9s, background-color .8s;
      transition-timing-function: ease;
      display: none;
    }
    
    .recording .recording-circle{
      display: block;
    }
    
    .recording .recording-circle-100{
      display: flex;;
    }
    
    @keyframes recording-circle1 {
      0% {
        border-width: 0px;
        border-color: #1565C0;
      }
    
      50% {
        border-width: 30px;
        border-color: #90CAF9;
      }
    
      75% {
        border-width: 15px;
        border-color: #BBDEFB;
      }
    
      100% {
        border-width: 0px;
        border-color: #1565C0;
      }
    }
    
    @keyframes recording-circle2 {
      0% {
        border-width: 0px;
        border-color: #1565C0;
      }
    
      50% {
        border-width: 30px;
        border-color: #BBDEFB;
        opacity: .5;
      }
    
      75% {
        border-width: 50px;
        border-color: #BBDEFB;
        opacity: .8;
      }
    
      100% {
        border-width: 0px;
        border-color: #1565C0;
      }
    
    }
    
    @keyframes recording-circle3 {
      0% {
        border-width: 0px;
        border-color: #1565C0;
      }
    
      50% {
        border-width: 30px;
        border-color: #BBDEFB;
        opacity: .5
      }
    
      75% {
        border-width: 15px;
        border-color: #BBDEFB;
        opacity: .8
      }
    
      100% {
        border-width: 0px;
        border-color: #1565C0;
      }
    
    }
    
    
    
    .processing-circle-140{
      height: 140px;
      width: 140px;
      border-radius: 100px;
      z-index:2;
      border: solid 2px transparent;
      animation: processing-circle 2s infinite;
    }
    
    .processing-circle-160{
      height: 160px;
      width: 160px;
      border-radius: 120px;
      z-index:1;
      animation: processing-circle1 2s infinite;
      border: solid 4px transparent;
    }
    
    .processing-circle{
      border-top-color: #1565C0;
      position: absolute;
      display: none;
    }
    
    .processing .processing-circle{
      display: block;
    }
    
    @keyframes processing-circle {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
    
    @keyframes processing-circle1 {
      0%{
        transform: rotate(360deg);
      }
      100%{
        transform: rotate(0deg);
      }
    }
}