<div class="stages-actions-container">
  <div class="stages-actions-header">
    <mat-icon svgIcon="syn:task_outlined"></mat-icon>
    <span>
      Actions for Selected Stages ({{ selectedCount() ? selectedCount() : 0 }})
    </span>
  </div>

  <div class="stages-actions-buttons">
    <button
      mat-raised-button
      class="action-btn mic-btn"
      [disabled]="isBulkActionsDisabled() || startListeningLoading()"
      (click)="onStartListening()">
      @if (startListeningLoading()) {
      <mat-icon class="loading-icon" svgIcon="syn:loading_spinner" />
      } @else {
      <mat-icon svgIcon="syn:mic_outlined" />
      }
      <span>Start Listening</span>
    </button>
    <button
      mat-raised-button
      class="action-btn pause-btn"
      [disabled]="isBulkActionsDisabled() || pauseListeningLoading()"
      (click)="onPauseListening()">
      @if (pauseListeningLoading()) {
      <mat-icon class="loading-icon" svgIcon="syn:loading_spinner" />
      } @else {
      <mat-icon>pause</mat-icon>
      }
      <span>Pause Listening</span>
    </button>
    <button
      mat-raised-button
      class="action-btn stop-btn"
      [disabled]="isBulkActionsDisabled() || stopListeningLoading()"
      (click)="onStopListening()">
      @if (stopListeningLoading()) {
      <mat-icon class="loading-icon" svgIcon="syn:loading_spinner" />
      } @else {
      <mat-icon svgIcon="syn:stop_outlined" />
      }
      <span>Stop Listening</span>
    </button>
  </div>
</div>
