@use 'variables' as v;
@use 'mixins' as m;

.stages-actions-container {
  @include m.d-flex-column;
  gap: 1rem;
  padding: 1rem 1.25rem;
  flex-shrink: 0;
  box-shadow: v.$box-shadow-simple-drop-3;
  border-radius: v.$button-border-radius;
  background-color: v.$primary-bg-color;

  .stages-actions-header {
    @include m.d-flex-row;
    @include m.align-items-center;
    gap: 0.5rem;
  }

  .stages-actions-buttons {
    @include m.d-flex-row;
    gap: 0.75rem;
    justify-content: flex-end;

    .action-btn {
      height: 2rem;
      min-width: auto;
      @include m.d-flex-row;
      @include m.align-items-center;
      gap: 0.5rem;
      padding: 0 1rem;
      border-radius: v.$button-border-radius;
      text-transform: none;
      box-shadow: none;
      border: none;
      @include m.body-regular;

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }

      &:focus {
        opacity: 0.92;
      }

      &.mic-btn,
      &.pause-btn {
        background-color: v.$primary-color-variant-2;
        color: v.$text-color-white;
      }

      &.stop-btn {
        background-color: v.$secondary-color-variant-9;
        color: v.$text-color-white;
      }

      .loading-icon {
        animation: spin 1s linear infinite;
      }

      mat-icon {
        width: 1.125rem;
        height: 1.125rem;
        @include m.d-flex;
        font-size: v.$font-size-lg;
      }

      span {
        white-space: nowrap;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
