<app-top-bar></app-top-bar>
<div class="main-content">
  <div class="content-container">
    <!-- Side Panel -->
    <div class="side-panel">
      <mat-card>
        <mat-card-content>
          <!-- Filters -->
          <div class="toolbar-container">
            <div class="timezone-section">
              <mat-icon class="timezone-icon">schedule</mat-icon>
              <div>
                <span class="timezone-label">Event Timezone:</span>
                <select
                  class="timezone-select"
                  [(ngModel)]="selectedTimezone"
                  (change)="updateTimezone()">
                  @for (tz of availableTimezones; track tz.value) {
                    <option [value]="tz.value">
                      {{ tz.label }}
                    </option>
                  }
                </select>
              </div>
            </div>

            <div class="action-buttons">
              <button
                class="upload-agenda-button"
                (click)="openUploadAgendaDialog()">
                Upload Excel
              </button>
              <button class="add-session-button" (click)="createNewSession()">
                Add New Session
              </button>
              <button class="refresh-button" (click)="refreshAgenda()">
                <mat-icon>refresh</mat-icon>
              </button>
            </div>
          </div>

          <div>
            <div class="filter-field">
              <input
                id="searchInput"
                (keyup)="applyFilter($event)"
                placeholder=" "
                type="text" />
              <label for="searchInput">Search Session</label>
            </div>
            @if (isLoading) {
              <div class="loading-container">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            } @else {
              <table
                mat-table
                matSort
                class="versions-table"
                [dataSource]="dataSource"
                (matSortChange)="paginator.pageIndex = 0">
                <!-- Version Column -->
                <ng-container matColumnDef="startDate">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Start Date
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)"
                    style="min-width: 110px">
                    {{ row.StartsAt | date: 'yyyy-MM-dd' : formattedTimezone }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="startTime">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Start Time
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    {{ row.StartsAt | date: 'HH:mm' : formattedTimezone }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="title">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Session Title
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    {{ row.SessionTitle }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="sessionid">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Session ID
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    {{ row.SessionId }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="status">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Status
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    <div
                      style="
                        display: flex;
                        align-items: center;
                        text-align: center;
                      ">
                      @if (row.Status === 'NOT_STARTED') {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)">
                          Not Started
                        </span>
                      } @else if (row.Status === 'IN_PROGRESS') {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)"
                          style="background-color: rgb(0, 161, 94)">
                          In progress
                        </span>
                      } @else if (row.Status === 'NOT_AVAILABLE') {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)">
                          Not Available
                        </span>
                      } @else if (
                        row.Status === 'UNDER_REVIEW' && !row.Editor
                      ) {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)">
                          To Review
                        </span>
                      } @else if (row.Status === 'UNDER_REVIEW' && row.Editor) {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)"
                          style="background-color: rgb(156 106 255)">
                          In Review
                        </span>
                      } @else if (row.Status === 'REVIEW_COMPLETE') {
                        <span
                          class="session-status-badge"
                          [ngClass]="getStatusClass(row.Status)"
                          style="background-color: rgb(0, 161, 94)">
                          Completed
                        </span>
                      }
                    </div>
                  </td>
                </ng-container>

                <!-- PDF Path Column -->
                <ng-container matColumnDef="track">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Track
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    {{ row.Track }}
                  </td>
                </ng-container>

                <!-- PDF Path Column -->
                <ng-container matColumnDef="Type">
                  <th *matHeaderCellDef mat-header-cell mat-sort-header>
                    Type
                  </th>
                  <td
                    *matCellDef="let row; let i = index"
                    mat-cell
                    [class.selected]="selectedRowIndex === i"
                    (click)="highlightRow(row, i)">
                    {{ row.Type }}
                  </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th *matHeaderCellDef mat-header-cell>Actions</th>
                  <td *matCellDef="let row; let i = index" mat-cell>
                    <div
                      style="
                        display: flex;
                        flex-direction: row-reverse;
                        padding-bottom: 10px;
                      ">
                      <button
                        mat-icon-button
                        [matMenuTriggerFor]="menu"
                        aria-label="Actions menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="hideSession(row)">
                          <mat-icon>visibility_off</mat-icon>
                          <span>Hide Session</span>
                        </button>
                      </mat-menu>
                    </div>
                  </td>
                </ng-container>

                <!-- Table Header and Row Declarations -->
                <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                <tr
                  *matRowDef="let row; columns: displayedColumns"
                  mat-row
                  [class.selected]="selectedRowIndex === row"></tr>
              </table>
              <mat-paginator
                [length]="dataSource.data.length"
                [pageSize]="5"
                [pageSizeOptions]="[5, 10, 20]">
              </mat-paginator>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div></div>
  <app-sidebar-control-panel></app-sidebar-control-panel>
</div>
