<app-top-bar></app-top-bar>
<div class="main-content">
  <div class="content-container">
    <!-- Side Panel -->
    <div class="side-panel">
      <mat-card>
        <mat-card-content>
          <!-- Filters -->
          <div class="filters">
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Day</mat-label>
                <mat-select
                  [(value)]="selected_day"
                  (selectionChange)="filterTracksByDay()">
                  <mat-option *ngFor="let day of uniqueDays" [value]="day">{{
                    day
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Track</mat-label>
                <mat-select
                  [(value)]="selected_track"
                  (selectionChange)="filterSessionsByTrack()">
                  <mat-option
                    *ngFor="let track of availableTracks"
                    [value]="track"
                    >{{ track }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Session List -->
          <div class="session-list">
            <div
              *ngFor="let session of filtered_sessions"
              class="session-item"
              [ngClass]="{
                'session-item-selected': session.SessionId === selected_session,
              }"
              (click)="selectSession(session)">
              <div class="session-info">
                <span class="session-title">{{ session.SessionTitle }}</span>
                <span
                  *ngIf="session.Status === 'UNDER_REVIEW' && !session.Editor"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)">
                  To Review
                </span>
                <span
                  *ngIf="session.Status === 'UNDER_REVIEW' && session.Editor"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)"
                  style="background-color: rgb(156 106 255)">
                  In Review
                </span>
                <span
                  *ngIf="session.Status === 'REVIEW_COMPLETE'"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)"
                  style="background-color: rgb(0, 161, 94)">
                  Completed
                </span>
              </div>
              <mat-icon
                *ngIf="session.SessionId !== selected_session"
                class="session-icon"
                >chevron_right</mat-icon
              >
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Main Editor Container -->
    <div class="editor-container">
      <div class="col-lg-12">
        <mat-card class="editor-content">
          <mat-card-content *ngIf="dataLoaded || isLoading">
            <div *ngIf="isLoading" class="loading-container">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!isLoading && dataLoaded">
              <!-- Session Details -->
              <div class="session-details">
                <div class="session-header">
                  <h2>{{ title }}</h2>
                </div>
                <div style="display: flex; flex-direction: row">
                  <mat-card class="event-card">
                    <mat-card-content>
                      <div class="event-info-grid">
                        <div class="event-info-row">
                          <div class="event-info-item">
                            <mat-icon>place</mat-icon>
                            <span>{{ selected_session_details.Location }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>event</mat-icon>
                            <span>{{ selected_session_details.StartsAt }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>layers</mat-icon>
                            <span>{{ selected_session_details.Event }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>alarm_on</mat-icon>
                            <span>{{ selected_session_details.Duration }}</span>
                          </div>
                        </div>
                        <div class="event-info-row">
                          <div class="event-info-item">
                            <mat-icon>fact_check</mat-icon>
                            <span>{{
                              selected_session_details.SessionId
                            }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>layers</mat-icon>
                            <span>{{ selected_session_details.Type }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>stacked_line_chart</mat-icon>
                            <span>{{ selected_session_details.Track }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>person</mat-icon>
                            <span>{{ selected_session_details.Editor }}</span>
                          </div>
                        </div>
                        <div style="flex: 1">
                          <div style="display: flex">
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                  'UNDER_REVIEW' &&
                                !selected_session_details.Editor
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              ">
                              To Review
                            </span>
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                  'UNDER_REVIEW' &&
                                selected_session_details.Editor
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              "
                              style="background-color: rgb(156 106 255)">
                              In Review
                            </span>
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                'REVIEW_COMPLETE'
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              "
                              style="background-color: rgb(0, 161, 94)">
                              Completed
                            </span>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>

                  <!-- Status and Actions -->
                  <div class="status-container">
                    <p *ngIf="isEditorMode" class="edit-mode">Edit Mode</p>
                    <button
                      *ngIf="!isEditorMode"
                      mat-raised-button
                      (click)="enableEditMode()"
                      color="primary">
                      Edit Debrief
                    </button>
                    <p style="text-align: center">
                      Enable edit mode to edit the debrief
                    </p>
                  </div>
                </div>
              </div>

              <div style="display: flex; flex-direction: row-reverse">
                <div class="action-buttons">
                  <button
                    mat-raised-button
                    (click)="openLargeModal()"
                    color="primary">
                    View Original Debrief
                  </button>
                  <button
                    mat-raised-button
                    (click)="openTranscriptModal()"
                    color="primary">
                    View Transcript
                  </button>
                </div>
              </div>
              <!-- Summary -->
              <div class="section">
                <h3>Summary</h3>
                <mat-form-field class="full-width" appearance="fill">
                  <textarea
                    matInput
                    [disabled]="!isEditorMode"
                    [(ngModel)]="summary"
                    rows="3"></textarea>
                </mat-form-field>
              </div>

              <div class="row">
                <!-- Key Takeaways -->
                <div class="section">
                  <h3>Key Takeaways</h3>
                  <div
                    *ngFor="
                      let item of keytakeaways;
                      let i = index;
                      trackBy: trackByFn
                    "
                    class="item-row">
                    <mat-form-field class="flex-grow" appearance="fill">
                      <textarea
                        matInput
                        [disabled]="!isEditorMode"
                        [ngModel]="keytakeaways[i]"
                        (ngModelChange)="onKeyTakeawayChange($event, i)"
                        rows="2"></textarea>
                    </mat-form-field>
                    <button
                      *ngIf="isEditorMode"
                      mat-icon-button
                      (click)="removeKeytakeaway(i)"
                      color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <p *ngIf="keytakeaways.length === 0">
                    No Key Takeaways Available!
                  </p>
                  <button
                    *ngIf="isEditorMode"
                    mat-raised-button
                    (click)="addNewKeytakeaway()"
                    color="primary">
                    + Add New Key Takeaway
                  </button>
                </div>

                <!-- Insights -->
                <div class="section">
                  <h3>Recommendations</h3>
                  <div
                    *ngFor="
                      let item of insights;
                      let i = index;
                      trackBy: trackByFn
                    "
                    class="item-row">
                    <mat-form-field class="flex-grow" appearance="fill">
                      <textarea
                        matInput
                        [disabled]="!isEditorMode"
                        [ngModel]="insights[i]"
                        (ngModelChange)="onInsightChange($event, i)"
                        rows="2"></textarea>
                    </mat-form-field>
                    <button
                      *ngIf="isEditorMode"
                      mat-icon-button
                      (click)="removeInsight(i)"
                      color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <p *ngIf="insights.length === 0">No Insights Available!</p>
                  <button
                    *ngIf="isEditorMode"
                    mat-raised-button
                    (click)="addNewInsight()"
                    color="primary">
                    + Add New Insight
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="section">
                  <h3>Trends</h3>
                  <div
                    *ngFor="
                      let item of trends;
                      let i = index;
                      trackBy: trackByIndex
                    "
                    style="
                      margin-bottom: 40px;
                      padding-bottom: 10px;
                      border-bottom: 3px solid #7e7e7e;
                    ">
                    <mat-form-field class="flex-grow" appearance="fill">
                      <input
                        matInput
                        id="speakers-input-title-{{ i }}"
                        [disabled]="!isEditorMode"
                        [(ngModel)]="trends[i].title"
                        type="text" />
                    </mat-form-field>

                    <mat-form-field class="flex-grow" appearance="fill">
                      <textarea
                        matInput
                        id="speakers-input-description-{{ i }}"
                        [disabled]="!isEditorMode"
                        [(ngModel)]="trends[i].description"
                        rows="2"
                        type="text"></textarea>
                    </mat-form-field>
                  </div>
                  <div *ngIf="trends.length === 0" class="col-lg-12 mt-2">
                    <p>No Trends Available!</p>
                  </div>
                </div>

                <!-- Topics -->
                <div class="section">
                  <h3>Topics</h3>
                  <div
                    *ngFor="
                      let item of topics;
                      let i = index;
                      trackBy: trackByFn
                    "
                    class="item-row">
                    <mat-form-field class="flex-grow" appearance="fill">
                      <input
                        matInput
                        id="topic-input-{{ i }}"
                        [disabled]="!isEditorMode"
                        [ngModel]="topics[i]"
                        (ngModelChange)="onTopicChange($event, i)" />
                    </mat-form-field>
                    <button
                      *ngIf="isEditorMode"
                      mat-icon-button
                      (click)="removeTopic(i)"
                      color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <p *ngIf="topics.length === 0">No Topics Available!</p>
                  <button
                    *ngIf="isEditorMode"
                    mat-raised-button
                    (click)="addNewTopic()"
                    color="primary">
                    + Add New Topic
                  </button>
                </div>
              </div>
              <div>
                <div class="section">
                  <h3>Realtime Insights</h3>
                  <div
                    *ngFor="
                      let item of realtimeinsights;
                      let i = index;
                      trackBy: trackByIndex
                    ">
                    <div
                      *ngFor="
                        let rinsight of item.Insights;
                        let j = index;
                        trackBy: trackByIndex
                      "
                      style="
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                      ">
                      <mat-form-field class="flex-grow" appearance="fill">
                        <textarea
                          matInput
                          id="speakers-input-{{ i }}-{{ j }}"
                          [disabled]="!isEditorMode"
                          [(ngModel)]="item.Insights[j]"
                          type="text"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div
                    *ngIf="realtimeinsights.length === 0"
                    class="col-lg-12 mt-2">
                    <p>No Realtime Insights Available!</p>
                  </div>
                </div>
              </div>

              <!-- Footer Actions -->
              <div *ngIf="isEditorMode" class="footer-action-bar">
                <div
                  class="editorial-status"
                  style="display: flex; flex-direction: row-reverse">
                  <mat-form-field appearance="fill" style="max-width: 400px">
                    <mat-label>Editorial Status</mat-label>
                    <mat-select [(value)]="selected_session_details.Status">
                      <mat-option value="UNDER_REVIEW">In Review</mat-option>
                      <mat-option value="REVIEW_COMPLETE"
                        >Review Complete</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
                <button
                  mat-raised-button
                  (click)="saveEdits()"
                  color="accent"
                  style="margin-bottom: 30px">
                  Save Debrief
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div></div>
  <app-sidebar-control-panel></app-sidebar-control-panel>
</div>
