.main {
    max-width: 400px;
    margin-top: 100px; 
    margin: 0 auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 10px;
    background: var(--background-primary-ffffff, #FFF);
    box-shadow: 0px 12px 15px 0px rgba(0, 0, 0, 0.15);
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .main {
        max-width: 80%;
     
    }
}