@use 'variables' as v;
@use 'mixins' as m;

.stage-info-header {
  @include m.d-flex-row;
  gap: 1.25rem;
  padding: 1rem 1.25rem;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include m.d-flex-row;
    gap: 0.5rem;
    font-weight: 500;

    mat-icon {
      color: v.$primary-color;
    }
  }

  &__actions {
    width: 50%;
    @include m.d-flex-row;
    gap: 1.25rem;

    // TODO:SYN-644: Modify or adjust this when the full layout is implemented
    @media (max-width: v.$screen-expanded-cdk-breakpoint) {
      width: auto;
    }

    &-search {
      width: 100%;
    }
  }
}
