@use 'variables' as v;
@use 'mixins' as m;

.stage-info-header {
  @include m.d-flex-row;
  gap: 1.25rem;
  padding: 1rem 1.25rem 0rem;
  justify-content: space-between;
  align-items: center;

  &__title {
    @include m.d-flex-row;
    gap: 0.5rem;
    font-weight: 500;

    mat-icon {
      color: v.$primary-color;
    }
  }

  &__ws-icon-container {
    @include m.d-flex-row;
    align-items: center;

    .ws-icon {
      width: 1.125rem;
      height: 1.125rem;
      font-size: v.$font-size-lg;
      cursor: help;

      &.connected {
        color: v.$secondary-color-variant-2;
      }

      &.connecting {
        color: v.$selection-variant-9;
        animation: spin 2s linear infinite;
      }

      &.error {
        color: v.$secondary-color-variant-9;
      }
    }
  }

  &__actions {
    width: 50%;
    @include m.d-flex-row;
    gap: 1.25rem;

    // TODO:SYN-644: Modify or adjust this when the full layout is implemented
    @media (max-width: v.$screen-expanded-cdk-breakpoint) {
      width: auto;
    }

    &-search {
      width: 100%;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
