@use 'variables' as v;
@use 'mixins' as m;

.main-layout-container {
  height: 100dvh;
  width: 100%;
  max-width: 100vw;
  @include m.d-flex-column;
  overflow: hidden;
  box-sizing: border-box;

  .content-wrapper {
    height: calc(100dvh - v.$top-bar-height);
    @include m.d-flex-row;

    .content-container {
      width: 100%;
      overflow: hidden;
    }
  }
}
