<app-top-bar></app-top-bar>
<div class="main-content">
  <div class="content-container">
    <!-- Side Panel -->
    <div class="side-panel">
      <mat-card>
        <mat-card-content>
          <!-- Filters -->
          <div class="filters">
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Day</mat-label>
                <mat-select
                  [(value)]="selected_day"
                  (selectionChange)="filterTracksByDay()">
                  <mat-option *ngFor="let day of uniqueDays" [value]="day">{{
                    day
                  }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="filter-item">
              <mat-form-field appearance="fill">
                <mat-label>Select Track</mat-label>
                <mat-select
                  [(value)]="selected_track"
                  (selectionChange)="filterSessionsByTrack()">
                  <mat-option
                    *ngFor="let track of availableTracks"
                    [value]="track"
                    >{{ track }}</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- Session List -->
          <div class="session-list">
            <div
              *ngFor="let session of filtered_sessions"
              class="session-item"
              [ngClass]="{
                'session-item-selected': session.SessionId === selected_session,
              }"
              (click)="selectSession(session)">
              <div class="session-info">
                <span class="session-title">{{ session.SessionTitle }}</span>
                <span
                  *ngIf="session.Status === 'UNDER_REVIEW' && !session.Editor"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)">
                  To Review
                </span>
                <span
                  *ngIf="session.Status === 'UNDER_REVIEW' && session.Editor"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)"
                  style="background-color: rgb(156 106 255)">
                  In Review
                </span>
                <span
                  *ngIf="session.Status === 'REVIEW_COMPLETE'"
                  class="session-status-badge"
                  [ngClass]="getStatusClass(session.Status)"
                  style="background-color: rgb(0, 161, 94)">
                  Completed
                </span>
              </div>
              <mat-icon
                *ngIf="session.SessionId !== selected_session"
                class="session-icon"
                >chevron_right</mat-icon
              >
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- Main Editor Container -->
    <div class="editor-container">
      <div class="col-lg-12">
        <mat-card class="editor-content">
          <mat-card-content *ngIf="dataLoaded || isLoading">
            <div *ngIf="isLoading" class="loading-container">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
            <div *ngIf="!isLoading && dataLoaded">
              <!-- Session Details -->
              <div class="session-details">
                <div class="session-header">
                  <h2>{{ title }}</h2>
                </div>
                <div style="display: flex; flex-direction: row">
                  <mat-card class="event-card">
                    <mat-card-content>
                      <div class="event-info-grid">
                        <div class="event-info-row">
                          <div class="event-info-item">
                            <mat-icon>place</mat-icon>
                            <span>{{ selected_session_details.Location }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>event</mat-icon>
                            <span>{{ selected_session_details.StartsAt }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>layers</mat-icon>
                            <span>{{ selected_session_details.Event }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>alarm_on</mat-icon>
                            <span>{{ selected_session_details.Duration }}</span>
                          </div>
                        </div>
                        <div class="event-info-row">
                          <div class="event-info-item">
                            <mat-icon>fact_check</mat-icon>
                            <span>{{
                              selected_session_details.SessionId
                            }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>layers</mat-icon>
                            <span>{{ selected_session_details.Type }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>stacked_line_chart</mat-icon>
                            <span>{{ selected_session_details.Track }}</span>
                          </div>
                          <div class="event-info-item">
                            <mat-icon>person</mat-icon>
                            <span>{{ selected_session_details.Editor }}</span>
                          </div>
                        </div>
                        <div style="flex: 1">
                          <div style="display: flex">
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                  'UNDER_REVIEW' &&
                                !selected_session_details.Editor
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              ">
                              To Review
                            </span>
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                  'UNDER_REVIEW' &&
                                selected_session_details.Editor
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              "
                              style="background-color: rgb(156 106 255)">
                              In Review
                            </span>
                            <span
                              *ngIf="
                                selected_session_details.Status ===
                                'REVIEW_COMPLETE'
                              "
                              class="session-status-badge"
                              [ngClass]="
                                getStatusClass(selected_session_details.Status)
                              "
                              style="background-color: rgb(0, 161, 94)">
                              Completed
                            </span>
                          </div>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>

                  <!-- Status and Actions -->
                  <div class="status-container">
                    <div class="action-buttons">
                      <button
                        mat-raised-button
                        (click)="openLargeModal()"
                        color="primary">
                        View Realtime Debrief
                      </button>
                      <button
                        mat-raised-button
                        (click)="openTranscriptModal()"
                        color="primary">
                        View Transcript
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-container">
                <h1>Content Versions</h1>

                <div class="dropdown-row">
                  <!-- 1) Session Type Selection -->
                  <mat-form-field class="dropdown-col" appearance="fill">
                    <mat-label>Select Session Type</mat-label>
                    <mat-select
                      [(value)]="selectedSessionType"
                      (selectionChange)="onSessionTypeChange($event.value)">
                      <mat-option *ngFor="let st of sessionTypes" [value]="st">
                        {{ st }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- 2) Report Type Selection -->
                  <mat-form-field class="dropdown-col" appearance="fill">
                    <mat-label>Select Report Type</mat-label>
                    <mat-select
                      [(value)]="selectedReportType"
                      (selectionChange)="onReportTypeChange($event.value)">
                      <mat-option *ngFor="let rt of reportTypes" [value]="rt">
                        {{ rt }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- 3) Transcript Source -->
                  <mat-form-field class="dropdown-col" appearance="fill">
                    <mat-label>Select Transcript Source</mat-label>
                    <mat-select [(value)]="selectedTranscriptSource">
                      <mat-option
                        *ngFor="let source of transcriptSources"
                        [value]="source">
                        {{ source }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- 4) Prompt Version -->
                  <mat-form-field class="dropdown-col" appearance="fill">
                    <mat-label>Select Prompt version</mat-label>
                    <mat-select [(value)]="selectedPromptVersion">
                      <mat-option
                        *ngFor="let version of availablePromptVersions"
                        [value]="version">
                        {{ version }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div
                  *ngIf="selectedTranscriptSource === 'Text Input'"
                  style="
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
                    margin-bottom: 20px;
                  ">
                  <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Enter Transcript</mat-label>
                    <textarea
                      matInput
                      [(ngModel)]="manualTranscript"
                      rows="10"></textarea>
                  </mat-form-field>
                </div>
                <div class="generate-content-loader-container">
                  <div *ngIf="status() === 'generating'" class="step-panel">
                    <!-- / grid loader -->
                    <section>
                      <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube-1"></div>
                        <div class="sk-cube sk-cube-2"></div>
                        <div class="sk-cube sk-cube-3"></div>
                        <div class="sk-cube sk-cube-4"></div>
                        <div class="sk-cube sk-cube-5"></div>
                        <div class="sk-cube sk-cube-6"></div>
                        <div class="sk-cube sk-cube-7"></div>
                        <div class="sk-cube sk-cube-8"></div>
                        <div class="sk-cube sk-cube-9"></div>
                      </div>
                    </section>
                    <h2>Generating Content...</h2>
                  </div>

                  <div *ngIf="status() === 'creating'" class="step-panel">
                    <!-- / grid loader -->
                    <section>
                      <div class="sk-cube-grid">
                        <div class="sk-cube sk-cube-1"></div>
                        <div class="sk-cube sk-cube-2"></div>
                        <div class="sk-cube sk-cube-3"></div>
                        <div class="sk-cube sk-cube-4"></div>
                        <div class="sk-cube sk-cube-5"></div>
                        <div class="sk-cube sk-cube-6"></div>
                        <div class="sk-cube sk-cube-7"></div>
                        <div class="sk-cube sk-cube-8"></div>
                        <div class="sk-cube sk-cube-9"></div>
                      </div>
                    </section>
                    <h2>Creating PDF...</h2>
                  </div>

                  <div *ngIf="status() === 'done'" class="step-panel success">
                    <h2>
                      <span class="check-mark">✓</span> Content generated
                      successfully!
                    </h2>
                    <div>
                      <button
                        mat-flat-button
                        (click)="viewLastGeneratedPdf('v1')"
                        color="primary">
                        View PDF V1
                      </button>
                    </div>
                  </div>
                </div>
                <!-- =========== End of Dropdown Menus ============ -->

                <div
                  *ngIf="status() === 'idle'"
                  style="
                    display: flex;
                    flex-direction: row-reverse;
                    margin-bottom: 10px;
                  ">
                  <button
                    mat-raised-button
                    (click)="generateNewVersion()"
                    color="primary">
                    Genarate New
                  </button>
                  <button
                    mat-raised-button
                    (click)="getContentVersions()"
                    color="primary">
                    Refresh
                  </button>
                </div>

                <!-- Example filter search box (optional) -->
                <mat-form-field class="filter-field" appearance="outline">
                  <mat-label>Search Versions</mat-label>
                  <input
                    matInput
                    (keyup)="applyFilter($event)"
                    placeholder="Search by version, promptVersion, etc." />
                </mat-form-field>
                <div *ngIf="isContentLoading" class="loading-container">
                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>
                <table
                  mat-table
                  matSort
                  class="versions-table"
                  [dataSource]="dataSource"
                  (matSortChange)="paginator.pageIndex = 0">
                  <!-- Select Column (radio or checkbox, or just highlight on click) -->
                  <ng-container matColumnDef="select">
                    <th *matHeaderCellDef mat-header-cell></th>
                    <td
                      *matCellDef="let row; let i = index"
                      mat-cell
                      [class.selected]="selectedRowIndex === i"
                      (click)="highlightRow(row, i)">
                      <mat-icon *ngIf="selectedRowIndex === i"
                        >check_circle</mat-icon
                      >
                      <mat-icon *ngIf="selectedRowIndex !== i"
                        >radio_button_unchecked</mat-icon
                      >
                    </td>
                  </ng-container>

                  <!-- Version Column -->
                  <ng-container matColumnDef="version">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                      Version
                    </th>
                    <td
                      *matCellDef="let row; let i = index"
                      mat-cell
                      [class.selected]="selectedRowIndex === i"
                      (click)="highlightRow(row, i)">
                      {{ row.version }}
                    </td>
                  </ng-container>

                  <!-- Prompt Version Column -->
                  <ng-container matColumnDef="promptVersion">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                      PDF V1
                    </th>
                    <td
                      *matCellDef="let row; let i = index"
                      mat-cell
                      [class.selected]="selectedRowIndex === i"
                      (click)="highlightRow(row, i)">
                      <div *ngIf="row.pdfPathV1">
                        <button
                          mat-flat-button
                          (click)="viewPdf(row, 'v1')"
                          color="primary">
                          View PDF V1
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <!-- PDF Path Column -->
                  <ng-container matColumnDef="pdfPath">
                    <th *matHeaderCellDef mat-header-cell mat-sort-header>
                      PDF V2
                    </th>
                    <td
                      *matCellDef="let row; let i = index"
                      mat-cell
                      [class.selected]="selectedRowIndex === i"
                      (click)="highlightRow(row, i)">
                      <div *ngIf="row.pdfPathV2">
                        <button
                          mat-flat-button
                          (click)="viewPdf(row, 'v2')"
                          color="primary">
                          View PDF V2
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Actions Column -->
                  <ng-container matColumnDef="actions">
                    <th *matHeaderCellDef mat-header-cell>Actions</th>
                    <td *matCellDef="let row; let i = index" mat-cell>
                      <div
                        style="
                          display: flex;
                          flex-direction: row-reverse;
                          padding-bottom: 10px;
                        ">
                        <button
                          mat-icon-button
                          [matMenuTriggerFor]="menu"
                          aria-label="Example icon-button with a menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button
                            mat-menu-item
                            (click)="publishPDF(row.version, 'v1')">
                            <mat-icon>dialpad</mat-icon>
                            <span>Publish V1</span>
                          </button>
                          <button
                            mat-menu-item
                            (click)="publishPDF(row.version, 'v2')">
                            <mat-icon>dialpad</mat-icon>
                            <span>Publish V2</span>
                          </button>
                        </mat-menu>
                        <button
                          mat-raised-button
                          (click)="editContent(row)"
                          color="accent">
                          Edit Content
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <!-- Table Header and Row Declarations -->
                  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                  <tr
                    *matRowDef="let row; columns: displayedColumns"
                    mat-row
                    [class.selected]="selectedRowIndex === row"></tr>
                </table>

                <mat-paginator
                  [length]="dataSource.data.length"
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div></div>
  <app-sidebar-control-panel></app-sidebar-control-panel>
</div>
