@use 'variables' as v;
@use 'mixins' as m;

.syn-confirm-dialog {
  @include m.d-flex-column;
  @include m.align-items-center;
  gap: 1.25rem;
  padding: 1.5rem;

  .dialog-header {
    @include m.d-flex-row;
    @include m.align-items-center;
    align-self: flex-start;
    gap: 0.5rem;

    .dialog-icon {
      width: 1.25rem;
      height: 1.25rem;
      color: v.$primary-color-variant-2;

      mat-icon {
        width: 100%;
        height: 100%;
      }
    }

    .dialog-title {
      margin: 0;
      font-size: v.$font-size-xl;
    }
  }

  .dialog-content {
    align-self: flex-start;

    .dialog-message {
      @include m.body-regular;
      color: v.$primary-bg-color-variant-6;
    }
  }

  .dialog-actions {
    @include m.d-flex-row;
    align-self: flex-end;
    gap: 0.5rem;

    .confirm-button {
      height: 2rem;
      background-color: v.$primary-color-variant-2;
      color: v.$text-color-white;
      border-radius: v.$button-border-radius;
      padding: 0.5rem;

      &:hover {
        opacity: 0.92;
      }
    }

    .cancel-button {
      height: 2rem;
      background-color: v.$primary-bg-color-variant-2;
      color: v.$primary-bg-color-variant-6;
      border-radius: v.$button-border-radius;
      padding: 0.5rem;
    }
  }
}
