@use 'variables' as v;
@use 'mixins' as m;

.skeleton-loader-container {
  display: flex;
  gap: 0.75rem;

  &.flex-col {
    @include m.d-flex-column;
  }

  .skeleton-loader {
    display: block;
    min-width: 1rem;
    min-height: 1rem;
    animation: skeleton-animation 1.5s ease-in-out infinite;
    border-radius: 0.25rem;
    background-color: v.$primary-bg-color-variant-2;
  }
}

@keyframes skeleton-animation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
