$base-font: 'Lexend', sans-serif;

$primary-color: #0058d2;
$primary-color-variant-1: #35a7ff;
$primary-color-variant-2: #534ad8;
$primary-color-variant-3: #423ab4;
$editor-text: #004e89;

$gradient-purple: #834c9d;
$gradient-green: #21f075;
$gradient-orange-1: #ef6c00;
$gradient-orange-2: #ff9800;

$secondary-color: #54ecd0;
$secondary-color-variant-1: #3cd0b6;
$secondary-color-variant-2: #01bc47;
$secondary-color-variant-3: #ecfcf2;
$secondary-color-variant-4: #fff5ea;
$secondary-color-variant-5: #ffe7e3;
$secondary-color-variant-6: #f1f7ff;
$secondary-color-variant-7: #e3eeff;
$secondary-color-variant-8: #dae1f9;
$secondary-color-variant-9: #ff3030;
$secondary-color-variant-10: #effcf4;
$secondary-color-variant-11: #ffedd8;
$secondary-color-variant-12: #ffe4f8;
$secondary-color-variant-13: #c0c0c0;
$secondary-color-variant-14: #cccccc;
$secondary-color-variant-15: #e5e5e536;
$secondary-color-variant-16: #f2f2f2;
$secondary-color-variant-17: #343536;
$secondary-color-variant-19: #d9f9e5;

$primary-bg-color: #ffffff;
$primary-bg-color-variant-1: #f5f7fa;
$primary-bg-color-variant-2: #cfdae6;
$primary-bg-color-variant-3: #bfccd9;
$primary-bg-color-variant-4: #adbdcc;
$primary-bg-color-variant-5: #8595a6;
$primary-bg-color-variant-6: #475258;
$primary-bg-color-variant-7: #343536;
$primary-bg-color-variant-8: #1e2225;
$primary-bg-color-variant-10: #000000;

$building-blocks-yellow: #ffbb00;
$right-panel-button-yellow: #f49f0a;
$building-blocks-green: #49be69;

$secondary-bg-color: #e1e5ea;

$black: #000000;
$secondary-color-variant-black: #252526;

$transparent: rgba(0, 0, 0, 0);
$table-loader-color: rgba(213, 218, 220, 0.2);
$shadow: rgba(0, 0, 0, 0.08);

$alerts-success: #49be69;
$alerts-info: #fa9620;
$alerts-warning: #ff4a4a;
$alerts-danger: #d20b0d;

$selected-concept-icon-color: #ff6060;
$response-param-highlight-color: #7a879d;

$selection-variant-1: #f7f7ff;
$selection-variant-2: #eae9ff;
$selection-variant-3: #3b32ba;
$selection-variant-4: #00aa40;
$selection-variant-6: #ebeff5;
$selection-variant: #f7f6ff;
$selection-variant-8: #f2f1ff;

$button-border-radius: 4px;
$button-circular-border-radius: 100px;

$box-shadow-simple-drop-1: 0px 0px 4px rgba(0, 0, 0, 0.25);
$box-shadow-simple-drop-2: 0px 1px 3px rgba(0, 0, 0, 0.25);
$box-shadow-simple-drop-3: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
$box-shadow-simple-drop-4: 0px 2px 6px 0px rgba(0, 0, 0, 0.33);
$box-shadow-simple-drop-5: 0px 12px 14px 0px rgba(0, 0, 0, 0.18);
$box-shadow-fab: 0px 2px 6px rgba(0, 0, 0, 0.2);
$elevation-6dp: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
$elevation-1dp:
  0px 1px 3px rgba(0, 0, 0, 0.2),
  0px 2px 1px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14);

// gradients
$purple-gradient: linear-gradient(
  45deg,
  $primary-color-variant-2 -23.5%,
  $gradient-purple 107.38%
);

$green-gradient: linear-gradient(
  45.36deg,
  $secondary-color-variant-2 -4.75%,
  $gradient-green 116%
);

$orange-gradient: linear-gradient(
  180deg,
  $gradient-orange-1 14.58%,
  $gradient-orange-2 100%
);

$red-gradient: linear-gradient(
  45.17deg,
  $secondary-color-variant-9 -21.13%,
  $selected-concept-icon-color 64.86%
);

$gray-gradient: linear-gradient(42.84deg, #22292e -4.79%, #45545c 107.92%);
$blue-gradient: linear-gradient(
  45.38deg,
  $primary-color -23.51%,
  $primary-color-variant-1 126.5%
);

:root {
  --checkbox-label-max-length: 168px;
}
