.logout-container {
  padding:20px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b6b1f5; 
  height: fit-content;
}

.logout-button {
  background-color: #534AD8; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: fit-content;
  margin:0;
}

.logout-button:hover {
  background-color: #534AD8;
}

.nav-input{
  height: 30px;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
}
.alert-box {
  position: absolute;
  top: 5%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
}

.alert {
  padding: 10px;
  border-radius: 5px;
  width: 300px; 
  margin-bottom: 10px;
}

.alert-success {
  background-color: #d4edda; 
  color: #155724; 
}

.alert-danger {
  background-color: #f8d7da; 
  color: #721c24; 
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
  }
  
  .sbox {
    background: #FFFFFF;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 60%;
  
  }
  
  button,
  .dropbtn {
    display: block;
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #534AD8;
    border-radius: 8px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover,
  .dropbtn:hover {
    background-color: #B9E2FF;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #B9E2FF;
  }
  
  .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #B9E2FF;
  }
  
  .button-group {
    display: flex;
    gap: 10px;
  }
  
  .button-group button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #B6B4E4;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button-group button:hover {
    background-color: #B6B4E4; /* Match button color */
  }
  
  .day-speaker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    gap:40px;
  }
  
  .transcript{
    font-size: 20px;
    margin-top:20px;
    color: white;
    max-height: 40px;
    overflow: auto;
  }

  /* enent selection css */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropbtn {
  background-color: #f0f0f0;
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  border: 1px solid #ddd;
  z-index: 1;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown-content label {
  display: block;
  margin: 5px;
}

.dropdown-content label input[type="checkbox"] {
  margin-right: 5px;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
.speaker{
  width: 40%;
  position: relative;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 8px 38px 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 100%;
  margin-top: 10px;
}
select option {
  max-width: 40% !important;
  white-space: normal;
  font-size: 15px !important;
}
.option {
  font-size: 15px;
}
select:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
  @media screen and (max-width: 768px) {
    .sbox {
      margin-top: 200px;
      padding: 10px;
    }
  
    .dropdown {
      margin-left: 10px;
    }
  
    .button-group {
      flex-wrap: wrap;
      gap: 5px;
    }
  
    .button-group button {
      width: calc(50% - 5px);
    }
  }



  .seassion{
    margin-bottom: 10px;
  }
  .select-input {
    display: flex;
    align-items: center;
    flex-direction: row;
    .input-dropdown-container {
      display: flex;
      align-items: center;
      position: relative;
      .domain-input {
        padding-right: 30px;
        border: none;
        display: flex;
        background: none;
        padding: 11px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        width: 250px;
        outline: none;
        color: var(--background-variant-6475258, #475258);
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.14px;

        &::placeholder {
          color: var(--background-variant-4-adbdcc, #adbdcc);
          font-family: Lexend;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.14px;
        }
      }
      .dropdown-button {
        position: absolute;
        /* right: 0; */
        top: 0;
        bottom: 0;
     margin-left: 100px;
      
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-radius: 4px;
        background: var(--background-primary-ffffff, #fff);
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 1000;
        margin-top: 9px;
        display: flex;
        padding: 16px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        align-self: stretch;
        .dropdown-title {
          padding: 8px 20px;
          color: var(--background-variant-4-adbdcc, #adbdcc);
          font-family: Lexend;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 16px;
        }
      }

      .dropdown-item {
        display: inline-flex;
        padding: 8px 20px;
        width: 300px;
        align-items: center;
        gap: 10px;
        color: var(--background-variant-6475258, #475258);
        flex: 1 0 0;
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.14px;
      }
    }

    .upload-cancel-button-contanier {
      display: flex;

      .upload {
        background: var(--secondary-varient-201-bc-47, #01bc47);
        margin-right: 10px;
        color: var(--background-primary-ffffff, #fff);
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.14px;
        border-radius: 100px;
        outline: none;
        height: 32px;
        padding: 5px 20px;
        align-items: center;
        gap: 5px;
        border: none;
        margin-left: 12px;
        cursor: pointer;
      }
      .cancel {
        background: var(--background-variant-58595-a-6, #8595a6);
        color: var(--background-primary-ffffff, #fff);
        font-family: Lexend;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.14px;
        border-radius: 100px;
        height: 32px;
        padding: 5px 20px;
        align-items: center;
        gap: 5px;
        border: none;
        cursor: pointer;
      }
    }
  }
