<div class="logout-container">
  <div>
    <label for="postInsideInterval">Post Session Time Interval(in sec): </label>
    <input class="nav-input" type="number" id="postInsideInterval" [(ngModel)]="postInsideInterval" (ngModelChange)="onPostInsideIntervalChange()">
  </div>
<div>
  <label for="transcriptTimeOut">During Session Time Window(in sec): </label>
  <input class="nav-input" type="number" id="transcriptTimeOut" [(ngModel)]="transcriptTimeOut" (ngModelChange)="onTranscriptTimeOutChange()">
</div>

  <button class="logout-button" (click)="showEndEvent()">End Event</button>

  <button class="logout-button" (click)="logout()">Logout</button>
</div>
<div class="alert-box" [ngClass]="{'success': successMessage, 'failure': failureMessage}">
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    {{ successMessage }}
  </div>
  <div *ngIf="failureMessage" class="alert alert-danger" role="alert">
    {{ failureMessage }}
  </div>
</div>

<div class="container">
  <div class="sbox">
    <div class="day-speaker">
      <div class="day">
        <label for="EventDay">Event Day: </label>
        <select name="EventDay" id="Event Day" [(ngModel)]="selectedDay" (ngModelChange)="onDayChange()">
          <option *ngFor="let day of eventDays" [value]="day" >{{day}}</option>
        </select>
      </div>
      <!-- <div class="domain">
        <label for="domainSelect">Select Domain: </label>
        <select name="domainSelect" id="domainSelect" [(ngModel)]="selectedDomain" >
          <option *ngFor="let domain of domainOptions" [value]="domain">{{domain}}</option>
        </select>
      </div> -->
      <div class="theme-selection">
        <label for="themeSelect">Event Theme: </label>
        <select name="themeSelect" id="themeSelect" [(ngModel)]="selectedTheme" (ngModelChange)=" onThemeChange()">
          <option *ngFor="let theme of themeOptions" [value]="theme">{{theme}}</option>
        </select>
      </div>
      <div class="speaker">
        <label for="sessionSpeakerName">Session Title: </label>
        <select name="sessionSpeakerName" id="sessionSpeakerName" [(ngModel)]="selectedSessionTitle">
          <option *ngFor="let event of filteredEventData" [value]="event.SessionTitle">{{event.SessionTitle}}</option>
        </select>
      </div>
  
    </div>
    <button (click)="startSession()">
      Start Session
    </button>
    <button (click)="showEndSession()">End Session (Show Post Session Screens)</button>
    <hr>
    <div class="event-selection">
      <div class="dropdown">
        <div>
          <button class="dropbtn" (click)="toggleDropdown()">Select Session</button>
          <ul>
            <li *ngFor="let option of selectedOptions">
              {{option}}
            </li>
          </ul>
        </div>
          <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
            <label *ngFor="let option of options">
              <input type="checkbox" [value]="option" (change)="toggleSelection($event.target.value)">
              {{ option }}
            </label>
          </div>
      </div>
      <div>
      </div>
    </div>
    <hr>
    <button (click)="showWelcomeMessageBanner()">
      Show Welcome Message Banner
    </button>
    <button (click)="showKeyNote()">
      Show Session Details (Speaker Names)
    </button>
    <button (click)="showThankYouScreen()">Show Thank You Screen</button>
    
    <button (click)="showBackupScreen()">Show Backup Screen</button>
    <button (click)="showQrScreen()">Show QR Screen</button>
    <button (click)="showSummary()">Summary of Selected Sessions</button>
    </div>
  <div class="transcript">
    {{transcription}}
  </div>
</div>