<div class="logout-container">
  <button class="logout-button" (click)="logout()">Logout</button>
</div>
<div class="container">
  <div class="sbox">
    <div class="day-speaker">
      <div class="day">
        <label for="EventDay">Event Day: </label>
        <select name="EventDay" id="Event Day" [(ngModel)]="selectedDay" (ngModelChange)="onDayChange()">
          <option *ngFor="let day of eventDays" [value]="day" >{{day}}</option>
        </select>
      </div>
      <div class="speaker">
        <label for="sessionSpeakerName">Event Title: </label>
        <select name="sessionSpeakerName" id="sessionSpeakerName" [(ngModel)]="selectedSessionTitle">
          <option *ngFor="let event of filteredEventData" [value]="event.SessionTitle">{{event.SessionTitle}}</option>
        </select>
      </div>
    </div>
    <button (click)="startSession()">
      Start Session
    </button>
    <button (click)="showEndSession()">End Session (Show Post Insites)</button>
    <hr>
    <div class="event-selection">
      <div class="dropdown">
        <div>
          <button class="dropbtn" (click)="toggleDropdown()">Select Session</button>
        <span>{{ selectedOptions.join(', ') }}</span>
        </div>
        <div class="dropdown-content" [ngClass]="{'show': dropdownOpen}">
          <label *ngFor="let option of options">
            <input type="checkbox" [value]="option" (change)="toggleSelection($event.target.value)">
            {{ option }}
          </label>
        </div>
      </div>
      <div>
      </div>
    </div>
    <hr>
    <button (click)="showWelcomeMessageBanner()">
      Show Welcome Message Banner
    </button>
    <button (click)="showKeyNote()">
      Show Session Deatails (Speaker Insides)
    </button>
    <button (click)="showThankYouScreen()">Show Thank You Screen</button>
    
    <button (click)="showBackupScreen()">Show Backup Screen</button>
    <button (click)="showQrScreen()">Show QR Screen</button>
    <div class="dropdown">
      <button class="dropbtn">Show Summary</button>
      <div class="dropdown-content">
        <a (click)="selectOption('single')">Summary of Selected Keynotes</a>
      </div>
    </div>
    </div>
  <div class="transcript">
    {{transcription}}
  </div>
</div>
