@use '../../styles/helpers/helpers-dir' as *;
@use '../../styles/material/mat-tooltip' as *;

$control-panel-area-width-right-sidebar-expanded: calc(
  100vw - $right-sidebar-expanded-width - $left-sidebar-collapsed-width
);

$control-panel-area-width-right-sidebar-collapsed: calc(
  100vw - $right-sidebar-collapsed-width - $left-sidebar-collapsed-width
);

$control-panel-area-width-right-sidebar-hidden: calc(
  100vw - $left-sidebar-collapsed-width
);

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.control-panel-container {
  background: $gray-gradient;
  @include d-flex-row;
  width: calc(100vw - 110px);
  height: 100%;
  border-radius: 4px;

  &.widget-view {
    position: relative;
    width: 88px !important;
    height: 88px !important;
    box-shadow: $box-shadow-simple-drop-5;
    @include flex-center;
    border-radius: 100%;
  }

  &.right-sidebar-expanded {
    width: calc(100vw - 111px - $right-sidebar-expanded-width);
  }

  &.right-sidebar-collapsed {
    width: calc(100vw - 111px - $right-sidebar-collapsed-width);
  }
}

.event-title {
  @include subhead-regular;
  color: $primary-bg-color;
  height: 36px; // two lines
  overflow: hidden;
}

.track-container {
  @include d-flex-row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  padding: 12px 0;
  border-bottom: 1px solid color-transparent(15%);

  .event-track {
    @include d-flex-row;

    > mat-icon {
      font-size: 16px;
      width: 16px;
      height: 16px;
      margin-right: 8px;
      color: $primary-bg-color;
    }

    .track-text {
      @include caption-regular;
      color: $primary-bg-color;
    }
  }

  .see-details-link {
    @include caption-regular;
    color: $primary-bg-color;
    text-decoration: underline;
    line-height: 18px;
    cursor: pointer;
  }
}

.view-all-sessions-container {
  @include d-flex-row;
  margin-top: 8px;
  cursor: pointer;

  .text {
    @include caption-regular;
    letter-spacing: 0.25%;
    color: $primary-bg-color;
  }

  > mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    color: $primary-bg-color;
    margin-left: 18px;
  }
}

.action-button-container {
  @include d-flex-column;
  margin-left: 19px;

  &:first-of-type {
    margin-left: 0;
  }
}

.btn-destructive-default {
  width: 7.2vw;
  max-width: 105px;
  border-radius: 100px;

  > mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
    @include flex-center;
  }

  &.pause {
    background-color: color-transparent(50%);

    > mat-icon {
      background: $purple-gradient;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &.view-transcript {
    background-color: $primary-bg-color;
    > mat-icon {
      background: $purple-gradient;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.action-button-label {
  @include body-regular;
  color: $primary-bg-color;
  margin-top: 8px;

  &.pause {
    color: color-transparent(50%);
  }
}

.voice-animation-container {
  // width: 25.4vw;
  @include flex-center;
  flex: 1;

  > img {
    // height: 32px;
  }
}

// Sekeletong styles

@mixin info() {
  background-color: $primary-bg-color-variant-1;
  border-radius: 2px;
  height: 18px;
}

.main-container {
  @include d-flex-row;
  width: 100%;
  height: 100%;

  &.hide {
    display: none;
    overflow: hidden;
  }
}

.information {
  @include d-flex-column;
  padding: 24px;
  align-items: flex-start;
  width: calc($control-panel-area-width-right-sidebar-hidden * 0.4);
  height: calc(100% - 48px);

  &.right-sidebar-expanded {
    width: calc($control-panel-area-width-right-sidebar-expanded * 0.4);
  }

  &.right-sidebar-collapsed {
    width: calc($control-panel-area-width-right-sidebar-collapsed * 0.4);
  }

  &.hide {
    display: none;
    overflow: hidden;
  }
}

.info-1 {
  @include info();
  margin-bottom: 12px;
  width: 29.375vw;
  max-width: 423px;
}

.info-2 {
  @include info();
  margin-bottom: 12px;
  width: 7.78vw;
  max-width: 112px;
}

.info-3 {
  @extend .info-1;
  margin-bottom: 0;
  margin-top: 8px;
}

.controls {
  @include d-flex-row;
  padding: 24px;
  width: calc($control-panel-area-width-right-sidebar-hidden * 0.6);
  height: calc(100% - 48px);
  flex: 1;

  &.right-sidebar-expanded {
    width: calc($control-panel-area-width-right-sidebar-expanded * 0.4);
  }

  &.right-sidebar-collapsed {
    width: calc($control-panel-area-width-right-sidebar-collapsed * 0.4);
  }

  &.hide {
    display: none;
    overflow: hidden;
  }
}

.voice-container {
  @include d-flex;
  flex: 1;
  justify-content: flex-end;
  width: 100%;
  margin-left: 13.8vw;
  margin-right: 3.125vw;
}

.skeleton-button-container {
  @include flex-center;
  @include d-flex-column;
}

.rounded-button {
  width: 7.2vw;
  max-width: 105px;
  border-radius: 100px;
  height: 32px;
  padding: 5px 8px 5px 8px;
  background-color: $primary-bg-color-variant-1;
}

.button-label {
  margin-top: 8px;
  width: 7.2vw;
  max-width: 105px;
  background-color: $primary-bg-color-variant-1;
  height: 16px;
}
