@if (liveEvent() === null) {
  <div class="main-container">
    <ng-container *ngTemplateOutlet="skeleton"></ng-container>
  </div>
} @else {
  <div class="control-panel-container">
    <div class="information">
      <p
        #tooltip="matTooltip"
        matTooltipClass="tooltip-text-only-300"
        matTooltipPosition="after"
        class="event-title"
        [matTooltip]="liveEvent().SessionTitle"
        [matTooltipDisabled]="!isTitleOverflowing"
        (isOverflowed)="isTitleOverflowing = $event"
        appEllipsis>
        {{ liveEvent().SessionTitle }}
      </p>
      <div class="track-container">
        <div class="event-track">
          <mat-icon svgIcon="syn:category_outlined"></mat-icon>
          <p class="track-text">{{ liveEvent().Track }}</p>
        </div>
        <p class="see-details-link">See Details</p>
      </div>
      <div class="view-all-sessions-container">
        <p class="text">View All Live Sessions</p>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </div>
    </div>
    <div class="controls">
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon: 'syn:pause_outlined',
          label: 'Pause Listening',
          type: 'pause',
        }"></ng-container>
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon: 'close',
          label: 'End Session',
          type: 'stop',
        }"></ng-container>
      <div class="voice-animation-container"></div>
      <ng-container
        [ngTemplateOutlet]="actionButtons"
        [ngTemplateOutletContext]="{
          icon: 'closed_caption',
          label: 'View Transcript',
          type: 'view-transcript',
        }"></ng-container>
    </div>
  </div>
}

<!-- we can migrate the below templates to new components later if necessary -->

<ng-template #skeleton>
  <ng-container>
    <div class="information">
      <div class="info-1"></div>
      <div class="info-2"></div>
      <div class="info-3"></div>
    </div>
    <div class="controls">
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
      <div class="voice-container">
        <img alt="" src="assets/admin-screen/voice.svg" />
      </div>
      <ng-container *ngTemplateOutlet="playButtonSkeleton"></ng-container>
    </div>
  </ng-container>
</ng-template>

<ng-template #playButtonSkeleton>
  <div class="action-button-container">
    <div class="skeleton-button-container">
      <div class="rounded-button"></div>
      <div class="button-label"></div>
    </div>
  </div>
</ng-template>

<ng-template #actionButtons let-icon="icon" let-label="label" let-type="type">
  <div class="action-button-container">
    <button class="btn-destructive-default" [ngClass]="type">
      @if (type === 'pause') {
        <mat-icon [svgIcon]="icon"></mat-icon>
      } @else {
        <mat-icon>{{ icon }}</mat-icon>
      }
    </button>
    <p class="action-button-label" [ngClass]="type">{{ label }}</p>
  </div>
</ng-template>
