<div class="row">
  <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="none"
    imgUrl="assets/projections/event_info.svg"
    label="Event Info"></app-projection-image>

  <!-- #region TODO: @after:clarion, itchartford, clarionexec remove this -->
  <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="one-day"
    imgUrl="assets/projections/welcome_msg.svg"
    label="Welcome Message"></app-projection-image>
  <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="one-day"
    imgUrl="assets/projections/thank_you_msg.svg"
    label="Thank You Message"></app-projection-image>
  <!-- #endregion -->

  <!-- #region TODO: @after:clarion, itchartford uncomment this -->
  <!-- <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="tracks"
    imgUrl="assets/projections/session_debriefs.svg"
    label="Past Session Debriefs"></app-projection-image>
  <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="days"
    imgUrl="assets/projections/daily_debriefs.svg"
    label="Daily Debriefs"></app-projection-image> -->
  <!-- #endregion -->
</div>
<div class="row">
  <!-- #region TODO: @after:clarion, itchartford, clarionexec uncomment this -->
  <!-- <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="one-day"
    imgUrl="assets/projections/welcome_msg.svg"
    label="Welcome Message"></app-projection-image>
  <app-projection-image
    (projectedToScreen)="screenProjected.emit($event)"
    filterType="one-day"
    imgUrl="assets/projections/thank_you_msg.svg"
    label="Thank You Message"></app-projection-image> -->
  <!-- #endregion -->
</div>
