<div class="otp-container">
  <div class="otp-left-side">
    <app-footer></app-footer>
  </div>
  <div class="otp-right">
    <div class="otp-bg"></div>
    <div class="enter-otp">
      <h2>Have you received a code?</h2>
      <h3>A one time code has sent to your email</h3>
      <h4>Enter 6 digits code</h4>
      <form (submit)="handleSubmit()">
        <div #inputs class="otp-inputs">
          @for (digit of otp; track i; let i = $index) {
            <input
              [value]="digit"
              (input)="handleOtpChange(i, $event)"
              (keydown)="handleKeyDown(i, $event)"
              (paste)="handlePaste($event)"
              inputmode="numeric"
              inputmode="numeric"
              maxlength="1"
              pattern="[0-9]*"
              required
              type="text" />
          }
        </div>
        @if (errorMessage) {
          <p class="error-message">Please check your OTP!</p>
        }
        <button [disabled]="submitPressed" type="submit">Verify Code</button>
      </form>
      <div class="otp-resend-container">
        @if (!resendClicked) {
          <h5>Didn't receive the code?</h5>
        }
        @if (!resendClicked) {
          <p class="otp-resend-link left-space-5px" (click)="handleResendOTP()">
            Resend
          </p>
        }
        @if (resendClicked) {
          <p class="left-space-5px">OTP has been resent</p>
        }
      </div>
    </div>
    <p class="otp-sub">
      Disclaimer: By proceeding with login, you agree to receive a one-time
      password (OTP) via SMS or email to authenticate your identity. Your phone
      number or email address will only be used for the purpose of sending this
      OTP and will not be shared with any third parties. Please ensure that you
      have access to the provided phone number or email ID to complete the login
      process. If you encounter any issues, please contact our support team for
      assistance.
    </p>
    <app-footer-mobile></app-footer-mobile>
  </div>
</div>
