@use '../../styles/helpers/mixins' as *;
@use '../../styles/helpers/variables' as *;

@mixin filter-dropdown {
  margin-right: 18px;
  max-width: 240px;
  width: calc($right-sidebar-hidden-content-container-width / 3);
}
.event-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 4px;
  background: $primary-bg-color;
  box-shadow: $box-shadow-simple-drop-2;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;

  &.sidebar-expanded {
    app-syn-multi-select,
    app-syn-single-select {
      width: calc($right-sidebar-expanded-content-container-width / 3);
    }
  }

  &.sidebar-collapsed {
    app-syn-multi-select,
    app-syn-single-select {
      width: calc($right-sidebar-collapsed-content-container-width / 3);
    }
  }
}

.filter-by-toggle {
  margin-right: 1.125rem;
  font-family: $base-font !important;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: $primary-bg-color-variant-6;

  .filter-by-label {
    margin-bottom: 0.5rem;
  }

  .filter-by-toggle-group {
    border-radius: 0.25rem;
    border: 1px solid $primary-bg-color-variant-3;

    .toggle {
      color: $primary-bg-color-variant-6;
    }

    :nth-child(2) {
      border-left: 1px solid $primary-bg-color-variant-3;
    }
  }
}

app-syn-multi-select,
app-syn-single-select {
  @include filter-dropdown();
}
.toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  padding: 3rem;

  .toggle-label {
    font-size: 0.875rem;
    color: #424242;
    font-weight: 500;
  }

  .mat-slide-toggle {
    margin-left: auto;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.95);
  }
}

.auto-av-status-wrapper {
  width: 100%;
  display: flex;
  padding-top: 3.7rem;
  .auto-av-status {
    align-items: center;
    text-align: center;
    gap: 1.25rem;
    color: $text-color-white;
    font-weight: 500;
    background: linear-gradient(90deg, #ff088d 0%, #f67921 100%);
    box-shadow: 0rem 0.25rem 0.75rem 0rem #0000001a;
    padding: 1.5rem 2.5rem;
    border-radius: 2.5rem 2.5rem 0 0;
  }
}

@media (width <= 768px) {
  .content-wrapper {
    padding: 1rem;
    app-syn-single-select {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
  .select-event-wrapper {
    width: 100%;
  }

  .select-theme-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }

  .session-insights-wrapper {
    width: 100%;
  }

  .auto-av-status-wrapper {
    font-size: 0.8125rem;
    padding: 1rem;
    .auto-av-status {
      padding: 0.5rem 0.75rem;
    }
  }

  .toggle-wrapper {
    padding: 3.5rem 2.5rem 2.5rem;
    .toggle-label {
      font-size: 0.8125rem;
    }
  }
}
