<div class="event-content">
  <div
    class="content-wrapper"
    [ngClass]="{
      'sidebar-expanded': rightSidebarState() === RightSidebarState.Expanded,
      'sidebar-collapsed': rightSidebarState() === RightSidebarState.Collapsed,
    }">
    @if (showEventSelectionDropdown()) {
      <app-syn-single-select
        [options]="eventNames()"
        [selectedOption]="selectedEvent()"
        [uiConfig]="{
          label: 'Select Event',
          isTriggerIconEnabled: true,
          searchFilerType: 'minimal',
        }"
        (optionSelected)="onEventSelect($event)"></app-syn-single-select>
    }

    <app-syn-single-select
      [options]="eventLocations()"
      [selectedOption]="selectedLocation()"
      [uiConfig]="{
        label: 'Select Stage',
        isTriggerIconEnabled: true,
        searchFilerType: 'minimal',
        placeholder: 'Select a stage',
      }"
      (optionSelected)="onEventLocationSelect($event)" />

    <!-- TODO: @after:clarion, itchartford uncomment this -->
    <!-- <app-syn-multi-select
      [options]="eventDays()"
      (optionSelected)="onEventDaysSelect($event)"
      label="Select Days"></app-syn-multi-select>

    <section class="filter-by-toggle">
      <div class="filter-by-label">Filter by</div>

      <mat-button-toggle-group
        name="Filter by"
        class="filter-by-toggle-group"
        [(ngModel)]="selectedFilter"
        aria-label="Filter by toggle">
        <mat-button-toggle class="toggle" value="location"
          >Location</mat-button-toggle
        >
        <mat-button-toggle class="toggle" value="track"
          >Track</mat-button-toggle
        >
      </mat-button-toggle-group>
    </section>

    @if (selectedFilter() === 'location') {
      <app-syn-multi-select
        [options]="eventLocations()"
        (optionSelected)="onEventLocationsSelect($event)"
        label="Select Location" />
    } @else if (selectedFilter() === 'track') {
      <app-syn-multi-select
        [options]="eventTracks()"
        (optionSelected)="onEventTracksSelect($event)"
        label="Select Track" />
    } -->

    <!-- #region old version -->
    <!-- <app-main-drop-down
      [disabled]="false"
      [dropdownContent]="eventDays()"
      [selectedValue]="[postData?.eventName]"
      (onDropdownSelect)="handleDropdownSelect($event, PostDataEnum.EventName)"
      dropdownTitle="Select Day"></app-main-drop-down> -->
    <!-- <app-main-drop-down
      [dropdownContent]="themeOptions"
      [selectedValue]="[postData?.theme]"
      (onDropdownSelect)="handleDropdownSelect($event, PostDataEnum.Theme)"
      dropdownTitle="Select Theme"></app-main-drop-down> -->
    <!-- #endregion old version -->
  </div>
  <!-- TODO:@later show Auto AV only for the events that we enable Auto AV for -->
  <!-- Why this is done now? Other functions related to Auto AV is not implemented keeping this in mind hence things could break. - saiyaff -->
  <!-- TODO: @later move these to event based configurations -->
  @if (isAutoAvEnabledForEvent()) {
    <div class="auto-av-status-wrapper">
      @if (isAutoAvChecked()) {
        <div class="auto-av-status">
          {{ 'autoav is running' | uppercase }}
        </div>
      }
    </div>
    <div class="toggle-wrapper">
      <label class="toggle-label">AutoAV</label>
      <mat-slide-toggle
        [checked]="isAutoAvChecked()"
        [disabled]="!selectedEvent() || !selectedLocation()"
        [matTooltip]="
          !selectedLocation() ? 'Please select a stage to enable AutoAV' : ''
        "
        (change)="onAutoAVToggleChange($event)">
      </mat-slide-toggle>
    </div>
  }
</div>
