@use 'variables' as v;
@use 'mixins' as m;

.content-editor-container {
  height: 100%;
  @include m.d-flex;
  box-sizing: border-box;
  padding: 1.25rem 1.25rem;
  background-image: v.$soft-sky-gradient;

  /* Side panel styles */
  .side-panel {
    width: 420px;
    min-width: 420px;
    margin-right: 20px;
    overflow-y: auto;
    border-radius: 0.75rem;

    /* Filters styles */
    .filters {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      margin-bottom: 16px;

      .filter-item {
        width: 48%; /* Make sure both filters are side-by-side and even */
      }
    }

    /* Session list styles */
    .session-list {
      width: 100%;
      background-color: #f9f9f9;
      border-radius: 8px;
      overflow: hidden;
      padding: 0;

      .session-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
        border-bottom: 1px solid #e0e0e0;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-color: #fff;

        &:hover {
          background-color: #f0f0f0;
        }

        &.session-item-selected {
          background-color: #e3ffdf !important;
          border-right: 4px solid #ff4d4d;
        }

        /* Session Info */
        .session-info {
          display: flex;
          align-items: center;
          width: calc(100% - 20px);

          .session-title {
            font-size: 14px;
            font-weight: 500;
            color: #333;
            max-width: 260px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .session-status-badge {
            padding: 5px 10px;
            border-radius: 12px;
            font-size: 12px;
            font-weight: 500;
            color: #fff;
            margin-left: auto; /* Push to the right side */

            &.status-not-started {
              background-color: #ff4d4d; /* Red for Not Started */
            }

            &.status-in-review {
              background-color: #ff9900; /* Orange for In Review */
            }

            &.status-complete {
              background-color: #00cc66; /* Green for Complete */
            }
          }
        }

        /* Chevron Icon for Navigation */
        .session-icon {
          font-size: 24px;
          color: #aaa;
        }
      }
    }
  }

  /* Editor container and content */
  .editor-container {
    flex-grow: 1;
    overflow-y: auto;

    .editor-content {
      height: max-content;
      min-height: 100%;
      padding: 16px;

      /* Session details */
      .session-details {
        padding: 16px;

        .session-header {
          h2 {
            font-size: 24px;
            margin-bottom: 16px;
          }
        }

        /* Event card styles */
        .event-card {
          flex: 2;
          margin: 10px 0;
          padding: 16px;
          border-radius: 8px;
          background-color: white;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

          /* Event info grid */
          .event-info-grid {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;

            .event-info-row {
              flex: 2;

              .event-info-item {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                mat-icon {
                  margin-right: 8px;
                  color: #757de8; /* Light purple color */
                }

                span {
                  color: #6c757d; /* Gray color for the text */
                  font-size: 14px;
                }
              }
            }
          }
        }

        /* Status container */
        .status-container {
          flex: 1;
          padding: 20px;
          text-align: center;

          button {
            width: 100%;
            color: white;
            background-color: #8141ff;
          }

          h4 {
            margin-bottom: 5px;
          }

          p {
            margin-bottom: 15px;
            color: #6c757d;
          }

          /* Action buttons */
          .action-buttons {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
            margin-bottom: 16px;
          }

          mat-chip {
            margin-bottom: 16px;
          }
        }
      }

      /* Table container */
      .table-container {
        margin: 1rem;
        background-color: #fdfdfd;
        border-radius: 8px;
        padding: 1rem;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);

        h1 {
          text-align: center;
          color: #534ad8;
          font-size: 20px;
          margin-bottom: 1rem;
        }

        .dropdown-row {
          display: flex;
          flex-wrap: wrap;
          gap: 1rem;
          margin-bottom: 1rem;

          .dropdown-col {
            flex: 1;
            min-width: 120px;
          }
        }

        /**animations for generate*/
        .generate-content-loader-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 2rem;

          .step-panel {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem;
            border-radius: 8px;
            width: 560px;
            text-align: center;
            margin: 1rem 0;
            color: #534ad8;

            h2 {
              font-size: 26px;
            }
          }

          .success {
            //border: 1px solid #4caf50;
            //background-color: #e8f5e9;
            //color: #0e8d67;
          }

          .check-mark {
            color: green;
            font-size: 1.5rem;
            margin-right: 0.5rem;
          }
        }

        .filter-field {
          width: 100%;
          margin-bottom: 1rem;
        }

        .versions-table {
          width: 100%;
          min-width: 600px;

          th.mat-header-cell {
            background-color: #e3f2fd; /* Light blue background */
            color: #0d47a1; /* Darker blue text */
            font-weight: 600;
          }

          td.mat-cell {
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
              background-color: #f1f8e9; /* Light green on hover */
            }
          }

          tr.selected td.mat-cell {
            background-color: #c8e6c9 !important; /* Light green highlight */
          }

          /* Extra row color styling for zebra effect (optional) */
          tr.mat-row:nth-child(even) td.mat-cell {
            background-color: #fafafa;
          }
        }
      }
    }
  }
}

/* Loading container */
.loading-container {
  min-height: 10rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Spinner styles */
$spin-kit-size: 4em !default;
$spin-kit-spinner-color: #8141ff !default;

.sk-cube-grid {
  $delayRange: 0.4s;
  width: $spin-kit-size;
  height: $spin-kit-size;
  margin: auto;

  .sk-cube {
    width: 33%;
    height: 33%;
    background-color: $spin-kit-spinner-color;
    float: left;
    animation: sk-cube-grid-scale-delay 1.3s infinite ease-in-out;
  }

  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */

  .sk-cube-1 {
    animation-delay: ($delayRange * 0.5);
  }
  .sk-cube-2 {
    animation-delay: ($delayRange * 0.75);
  }
  .sk-cube-3 {
    animation-delay: $delayRange;
  }
  .sk-cube-4 {
    animation-delay: ($delayRange * 0.25);
  }
  .sk-cube-5 {
    animation-delay: ($delayRange * 0.5);
  }
  .sk-cube-6 {
    animation-delay: ($delayRange * 0.75);
  }
  .sk-cube-7 {
    animation-delay: 0s;
  }
  .sk-cube-8 {
    animation-delay: ($delayRange * 0.25);
  }
  .sk-cube-9 {
    animation-delay: ($delayRange * 0.5);
  }
}

@keyframes sk-cube-grid-scale-delay {
  0%,
  70%,
  100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}

/* Loading bar animation */
.loading-bar,
.loading-bar:before,
.loading-bar:after {
  width: 1rem;
  height: 2rem;
  background-color: #4f4fe7;
  animation: animateBar 1s ease-in-out infinite;
}

.loading-bar {
  animation-delay: -0.16s;
  position: relative;
  margin: auto;
  display: flex;
  align-items: center;

  &:before {
    position: absolute;
    right: 1.5rem;
    content: '';
  }

  &:after {
    position: absolute;
    animation-delay: -0.32s;
    content: '';
    left: 1.5rem;
  }
}

@keyframes animateBar {
  0% {
    height: 2rem;
  }
  50% {
    height: 4rem;
  }
  100% {
    height: 2rem;
  }
}

/* Edit mode */
.edit-mode {
  background-color: #54df85;
  text-align: center;
  margin: 0px 15px;
  padding: 15px;
  font-size: 16px;
  font-weight: 400;
  align-items: center;

  mat-icon {
    margin-right: 8px;
    font-size: 16px; /* Ensure the icon size matches the text */
  }
}

/* Common styles */
.row {
  display: flex;
  flex-direction: row;
}

/* Status classes */
.status-not-started {
  background-color: #ff4d4d !important; /* Red for Not Started */
}

.status-in-progress {
  background-color: #ff9900 !important; /* Orange for In Progress */
}

.status-complete {
  background-color: #00cc66 !important; /* Green for Complete */
}

/* Utility classes */
.flex-grow {
  flex-grow: 1;
}

.full-width {
  width: 100%;
}

/* Form elements */
mat-form-field {
  width: 100%;
  margin-bottom: 16px;

  .mat-mdc-input-element {
    color: #333 !important;
  }
}

button {
  margin-top: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .content-editor-container {
    .side-panel {
      width: 100%;
      margin-right: 0;
    }

    .editor-container {
      width: 100%;
    }
  }

  .row-container {
    flex-direction: column;
  }

  .footer-action-bar {
    flex-direction: column;
    align-items: flex-end;

    .editorial-status {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  .editorial-status {
    margin-right: 0;
    margin-bottom: 16px;
    width: 100%;
  }
}
