@font-face {
  font-family: 'Lexend';
  src:
    url('./assets/Lexend/Lexend-VariableFont_wght.ttf') format('woff2'),
    /* Update with the correct font file path */
      url('./assets/Lexend/Lexend-VariableFont_wght.ttf') format('woff'); /* Update with the correct font file path */
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: transparent;
  width: 4px;
  height: 4px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
