.drop-down-container {
  position: relative;
  width: 100%;
  cursor: pointer;
  font-family: 'Lexend';
}

.text-wrapper {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  min-height: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--background-variant-3-bfccd-9, #bfccd9);
  background: var(--background-primary-ffffff, #fff);
}

.text-wrapper.t2 {
  border-radius: 4px;
  border: 1px solid var(--background-variant-3-bfccd-9, #bfccd9);
  /* background: var(--background-secondary-e-1-e-5-ea, #e1e5ea); */
}

.text-wrapper.t3 {
  padding: 0px 5px 0px 10px;
  flex: 1 0 0;
  border-radius: 4px;
  border: 1px solid var(--background-variant-3-bfccd-9, #bfccd9);
  background: var(--background-primary-ffffff, #fff);
}

.text-wrapper.open {
  border: 1px solid var(--primary-varient-2534-ad-8, #534ad8);
}

.selected-text {
  color: var(--background-variant-6475258, #475258);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  flex: 1 0 0;
}

.selected-text.t3 {
  color: var(--background-variant-6475258, #475258);

  /* Caption/Caption - Regular - 12|Auto */
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selected-text.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-down {
  width: 18px;
  height: 18px;
}

.dropdown-content {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  z-index: 1;
  margin-top: 8px;
  border-radius: 4px;
  background: var(--background-primary-ffffff, #fff);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
  font-family: Lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #475258;
  padding: 16px 0px;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
  overflow: auto;
  max-height: 297px;
}

.dropdown-content.t2 {
  width: 55%;
  right: 0px;
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.dropdown-content.t3 {
  right: 0px;
  display: flex;
  width: 160px;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.dropdown-content.t4 {
  display: flex;
  padding: 16px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.drop-down-item {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  width: -webkit-fill-available;
}

.drop-down-item:hover {
  background-color: #fff;
  background: var(--selection-selected-f-7-f-6-ff, #f7f6ff);
}

.drop-down-item.t2 {
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.drop-down-item.selected {
  background: var(--selection-selected-f-7-f-6-ff, #f7f6ff);
}

.item-text.t2 {
  color: var(--background-variant-6475258, #475258);
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
}

.item-text.t3 {
  color: var(--background-variant-6475258, #475258);

  /* Body/Body - Regular - 14|24 */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: -0.14px;
}

.drop-down-title {
  flex: 1 0 0;
  color: var(--background-variant-6475258, #475258);

  margin-bottom: 8px;
  font-family: Lexend;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 24px;
  background-color: var(--background-primary-ffffff, #fff);
  filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.25));
}

.pencil {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
}

.content-title {
  color: var(--background-variant-4-adbdcc, #adbdcc);
  margin-bottom: 8px;
  margin-left: 20px;
  font-family: Lexend;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.empty-check-box {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: flex-start;
  border-radius: 4px;
  border: 1px solid var(--background-variant-2-cfdae-6, #cfdae6);
  background: var(--background-primary-ffffff, #fff);
}

.checked-box {
}

.text-number {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 100px;
  background: var(--background-primary-ffffff, #fff);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.disabled-dropdown {
  pointer-events: none;
  opacity: 0.5;
}
