@use 'mixins' as m;

.row {
  padding: 20px 0 10px;
  @include m.d-flex-row-align-center;
  width: calc(100% - 48px);

  app-projection-image {
    width: calc(calc(100% - 48px) / 3);
    max-width: 394px;
    margin-left: 24px;

    &:first-of-type {
      margin-left: 0;
    }
  }
}
