@if (isVisible) {
  <div class="modal-backdrop">
    <div class="modal-content">
      <div class="title-section">
        <div class="title-left">
          <img
            class="title-icon"
            alt=""
            src="assets/v2-icons/warning_amber.svg" />
          <div class="title-text">{{ title }}</div>
        </div>
        <img
          class="close-icon"
          (click)="onCancel()"
          alt=""
          src="assets/v2-icons/close.svg" />
      </div>
      <div class="message">{{ message }}</div>
      <div class="modal-actions">
        @if (buttonType === 'yes_no') {
          <div class="yes-button" (click)="onConfirm()">Yes</div>
          <div class="no-button" (click)="onCancel()">No</div>
        } @else if (buttonType === 'no_yes') {
          <div class="yes-button" (click)="onCancel()">No</div>
          <div class="no-button" (click)="onConfirm()">Yes</div>
        } @else {
          <div class="yes-button" (click)="cancelAction()">OK</div>
        }
      </div>
    </div>
  </div>
}
