name: elsa-at-event-admin-prod-deploy

on:
  push:
    branches:
      - production
env:
  deployment: prod 

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
          node-version: "16.x"
    - name: Install fullstack-serverless
      run: npm install --save-dev fullstack-serverless
    - name: Install Serverless Framework
      run: npm install -g serverless
    - name: Install Angular CLI
      run: npm install -g @angular/cli@12.x
    - name: Install Packages
      run: npm install --legacy-peer-deps
    - name: Serverless AWS Authentication
      run: sls config credentials --provider aws --key ${{ secrets.PROD_ACCESS_KEY}} --secret ${{ secrets.PROD_SECRET_ACCESS_KEY }}
    - name: export command for openssl
      run: export NODE_OPTIONS=--openssl-legacy-provider
    - name: Deploy Static Website
      run: sls deploy --region ca-central-1 --stage prod 
