@use 'mixins' as m;
@use 'variables' as v;
@use 'variables-v2' as v2;

.sample-skeleton-square {
  max-width: 424px;
}

.hide-element {
  display: none !important;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
