@use 'variables' as v;

/* width */
::-webkit-scrollbar {
  width: 0.25rem;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 1rem;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: v.$secondary-bg-color;
  border-radius: 10rem;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: v.$secondary-color-variant-13;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: v.$secondary-bg-color transparent;
}
