<div
  class="custom-snack-bar-container"
  [class.compact]="isCompact()"
  [class.error]="isError()"
  [class.info]="isInfo()"
  [class.processing]="isProcessing()"
  [class.success]="isSuccess()"
  [class.warning]="isWarning()">
  <mat-icon class="default-icon">{{ icons[data.status] }}</mat-icon>

  <div class="text-container">
    @if (data.title && data.title !== '') {
      <div class="title">{{ data.title }}</div>
    }
    @if (data.message && data.message !== '') {
      <div class="description">{{ data.message }}</div>
    }
  </div>

  @if (data.config) {
    <div class="button" (click)="onButtonClick()">View</div>
  }

  <div class="close" (click)="close()">
    <mat-icon class="clear-icon">close</mat-icon>
  </div>
</div>
